<script type="text/javascript">
window.Data = {};
Data.goals = {$goals|json::encode};
Data.friends = {$friends|json::encode};
Data.owned_compares = {$owned_comparisons|json::encode};
Data.invited_compares = {$invited_comparisons|json::encode};
</script>
{block type="ground" loose="yes"}
<div id="me-profile">
    <div class="wrap">
        {user-profile user=$user /}
    </div>
</div>
<div id="me-content">
    <div class="wrap">
        {me-menu user=$user /}
        <h1><img src="{@img}site/compare.png" /> {~Compare}</h1>
        
        <p class="tip">



        {if $Conf->ENV->language == 'ru'}
            Сравнения позволяют вам следить за прогресом ваших друзей в то время, как вы отмечаете собственные цели.
            Запрос друзьям можно отправить, используя форму ниже.
            Вы можете указать как вы меряете свои данные в поле комментария.
            Как только ваш запрос будет подтвержден, вы увидите данные друга под вашими на <a href="{@home}goals/">странице целей</a>.



        {elseif $Conf->ENV->language == 'fr'}
            La comparaison vous permet de regarder les progres de vos amis tout en suivant vos propres objectifs. 
            En utilisant le formulaire ci-dessous, vous pouvez envoyer une demande a vos amis. 
            Vous pouvez specifier la maniere dont vous mesurez vos donnees dans le champ de commentaire. 
            Une fois la demande validee, vous pourrez voir les donnees de vos amis sous les votres dans la <a href="{@home}goals/">page de buts</a>.


        {elseif $Conf->ENV->language == 'jp'}
            あなた自身の目標を追いながら、ご友人の進捗状況を見ることができます。
            下記のフォームを使用して、ご友人にリクエストを送信することができます。
            あなたは、コメント欄でご自身のデータを測定する方法を指定したい場合があります。
            いったんリクエストが確認されますと、 <a href="{@home}goals/">目標ページ</a>のあなた自身のものの下にご友人のデータが表示されます。



        {else}
             あなた自身の目標を追いながら、ご友人の進捗状況を見ることができます。
            下記のフォームを使用して、ご友人にリクエストを送信することができます。
            あなたは、コメント欄でご自身のデータを測定する方法を指定したい場合があります。
            いったんリクエストが確認されますと、 <a href="{@home}goals/">目標ページ</a>のあなた自身のものの下にご友人のデータが表示されます。
        {end}
        </p>
        
        <form id="compare-form" class="compare-list" action="{@home}api/comparisons/" method="post" onsubmit="Comparisons.submit(this); return false;">
            <fieldset>
                <div class="left">
                    <ul class="fields">
                        <li>
                            <label>{~Compare_what}:</label>
                            <select name="goal" class="goal">
                            {foreach $goals as $goal}
                                <option value="{$goal['id']}">{$goal['title']}</option>
                            {end}
                            </select>
                        </li>
                        <li>
                            <label>{~Compare_comment}:</label>
                            <textarea name="comment" class="text"></textarea>
                        </li>
                    </ul>
                </div>
                <div class="right">
                    <ul class="fields">
                        <li>
                            <label>{~Compare_with}:</label>
                            <select name="user[]" class="user" multiple="multiple">
                            {foreach $friends as $friend}
                                <option value="{$friend['id']}">{$friend['name']}</option>
                            {end}
                            </select>
                        </li>
                    </ul>
                </div>
                <div class="buttons2">
                    <button type="submit" class="button"><span><span>{~Send_request}</span></span></button>
                </div>
            </fieldset>
        </form>
        
        {if $invited_comparisons}
        <h2 class="border">{~Invited_compares}</h2>
        {end}
        <div class="compare-list" id="invited-compares"></div>
        
        {if $owned_comparisons}
        <h2 class="border">{~Your_compares}</h2>
        {end}
        <div class="compare-list" id="owned-compares"></div>
    </div>
</div>
{/block}