<ul id="user-posts-list">
{foreach $posts as $post}
    <li>
        <h2>
            <a href="{$baseurl}{$post['id']}/">{$post['title']|htmlspecialchars}</a>
        </h2>
        <div class="meta">
            <small>{$post['date']|locales::datetime}</small>
            {if isset($post['name'])}
            <a href="{@home}users/{$post['login']}/" class="user">{$post['name']|htmlspecialchars}</a>
            {end}
            {if isset($post['community_title'])}
            <a href="{@home}communities/{$post['community_name']}/" class="user">{$post['community_title']|htmlspecialchars}</a>
            {end}
            {if $post['type'] == 'link'}
                <a href="{$post['url']|htmlspecialchars}" class="url"><img src="{@img}site/link.png" alt="&rarr;" />{$post['url']|url::shorten(50, "...")|htmlspecialchars}</a>
            {end}
            <a href="{$baseurl}{$post['id']}/#reply-0" class="comments">
                {if $post['comments'] > 0}
                    {$post['comments']}
                {end}
                <img src="{@img}site/comment.png" alt="{~comment}" />
            </a>
        </div>
        <div class="preview clearfix">
            {if isset($post['image']) && !empty($post['image'])}<img src="{$post['image']|htmlspecialchars}" />{end}
            {$post['preview']}
        </div>
    </li>
{end}
</ul>