<script type="text/javascript">
Data = {};
Data.icons = {$icons|json::encode_array};
</script>
<p id="goal-add">
    <img src="{@img}site/goal.png" alt="" />
    <a href="#add-goal" class="script" onclick="Goals.Form.set(); return false;">Add a new goal</a>
</p>
<div id="goals-wrapper">
    <div id="icons-toolbar">
        <div id="icons-uploader"></div>
        <a href="#replace" class="script" onclick="Icons.edit(); return false;">Edit</a>
        <a href="#delete" class="script" onclick="Icons.remove(); return false;">Delete</a>
    </div>
    <div id="icons-list">Building interface ...</div>
</div>