<div id="form-container">
    <div class="wrap">
        {if $Conf->ENV->language == 'ru'}
        <h1>Подтверждения адреса</h1>
        <p>
            Введите адрес эл. почты, указанной при регистрации, и мы вышлем письмо для подтверждения адреса.
        </p>
        {elseif $Conf->ENV->language == 'fr'}
        <h1>Confirmation de l'email</h1>
        <p>
            Saisir votre email dans le formulaire ci-dessous et nous vous enverrons un email de confirmation.
        </p>
        {elseif $Conf->ENV->language == 'jp'}
        <h1>確認メール</h1>
        <p>
            下記のフォームにあなたのEメールアドレスを入力していただくと、当社は確認メールをあなたに送信いたします。
        </p>
        {else}
        <h2>Resend confirmation email</h2>
        <p>
            Input your email in the form below and we will send you a confirmation email.
        </p>
        {end}
    </div>
    <form id="confirmation-form" class="common-form" action="{@home}api/registration/" method="post" onsubmit="Confirmation.submit(this); return false;">
        <fieldset>
            <ul class="fields">
                <li>
                    <label for="reg-email" class="fixed">{~Email}</label>
                    <input id="reg-email" class="text" name="data[email]" />
                    <br />
                    <i>{~email_recovery_hint}</i>
                </li>
            </ul>
            <div class="submit">
                <button type="submit" class="submit-button button"><span><span>{~Submit}</span></span></button>
            </div>
        </fieldset>
    </form>
</div>