<div id="form-container">
    <div class="wrap">
        <h1>
            {if $Conf->ENV->language == 'ru'}
            Забыли пароль?
            {elseif $Conf->ENV->language == 'fr'}
            Mot de passe oublie?
            {elseif $Conf->ENV->language == 'jp'}
            Forgot your password?
            {else}
            Forgot your password?
            {end}
        </h1>
        {if Access::loggedIn()}
        <p>
            {if $Conf->ENV->language == 'ru'}
            Если вы забыли свой пароль, нажмите на кнопку ниже.
            Мы пришлем на вашу эл. почту письмо с ссылкой для генерации нового пароля. 
            {elseif $Conf->ENV->language == 'fr'}
            Si vous avez oublie votre mot de passe, cliquez sur le bouton ci-dessous.
            Nous vous enverrons un lien de confirmation sur votre email qui vous generer un nouveau mot de passe et l'envoyer a votre email.
            {elseif $Conf->ENV->language == 'jp'}
     	    あなたのパスワードをお忘れになられたのであれば、下にあるボタンを押してください。
            新しいパスワードを生成しあなたのEメールへ送信する確認リンク付Eメールをあなたに送信します。
            {else}
            If you have forgotten your password, hit the button below.
            We will send you a confirmation link on your email that will generate you a new password and send it to your email.
            {end}
        </p>
        {else}
        <p>
            {if $Conf->ENV->language == 'ru'}
            Введите адрес эл. почты и мы вышлем вам инструкции по восстановлению пароля.
            {elseif $Conf->ENV->language == 'fr'}
            Saisir votre email dans le formulaire ci-dessous et nous vous enverrons les instructions pour recuperer votre mot de passe.
            {elseif $Conf->ENV->language == 'jp'}
            下記のフォームにあなたのEメールアドレスを入力していただくと、あなたのパスワードを回復する説明を送信します。
            {else}
            Input your email in the form below and we will send you instructions to recover your password.
            {end}
        </p>
        {end}
    </div>
    <form id="recover-form" class="common-form" action="{@home}api/recovery/" method="post" onsubmit="Recovery.submit(this); return false;">
        <fieldset>
            {if !Access::loggedIn()}
            <ul class="fields">
                <li>
                    <label for="reg-email" class="fixed">{~Email}</label>
                    <input id="reg-email" class="text" name="data[email]" />
                    <br />
                    <i>{~email_recovery_hint}</i>
                </li>
                <li>
                    <label for="reg-captcha" class="fixed">{~Control_digits}</label>
                    <input class="text small" id="reg-captcha" name="data[captcha]" />
                    <img src="{@home}system/captcha/" alt="CAPTCHA" id="captcha" />
                    <br />
                    <i>{~captcha_hint}</i>
                </li>
            </ul>
            {end}
            <div class="submit">
                <button type="submit" class="submit-button button"><span><span>{~Reset_password}</span></span></button>
            </div>
        </fieldset>
    </form>
</div>