{block type="ground"}
    <h1>The Shop</h1>
    <p>
    Here we would like to show case a lot of the more recent fitness gadgets.  A lot of these tools can get you monitor thing like weight, distance walked, pulse, blood pressure and so forth.  Unfortunatley, 42goals cannot suck in any of the info yet for you to set goals, however, we're working on that!
    </p>
    
    <h2>Measure and Control Your Weight</h2>
    <div id="team">



<a href="http://www.amazon.com/gp/offer-listing/B00BKRQ4E8/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B00BKRQ4E8&linkCode=am2&tag=42goals-20&linkId=4UU455XWNYVNARZ4"><img border="0" src="http://ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN=B00BKRQ4E8&Format=_SL250_&ID=AsinImage&MarketPlace=US&ServiceVersion=20070822&WS=1&tag=42goals-20" ></a><img src="http://ir-na.amazon-adsystem.com/e/ir?t=42goals-20&l=as2&o=1&a=B00BKRQ4E8" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
(click for info)


<p>
Incredible!  Weigh yourself daily and have your weight instantly uploaded to the internet!  You can download the iphone/ android app to view your weight over time.  The scale is smart enough to recongnive different people, too!  If it cannot match the weight to the correct person, it will ask you!  
</P>


	</div>
    
    <h2 id="for-bloggers">For bloggers</h2>
    <p>
        Are you a blogger and want to write a review on 42goals?
        We will be happy to provide you with a free <a href="{@home}premium/">premium account</a> (in addition to an already <a href="{@home}demo/">free demo page</a>) so you can test our features.
        Just drop us an <a href="mailto:info@42goals.com">email</a> with a link to your blog and maybe some thoughts on what are you going to write about and we will setup an account for you.
        If you are already registered at 42goals, then simply add your username in the email.
    </p>
    
    <h2>Contact info</h2>
    <p>
        Email: <a href="mailto:info@42goals.com">info@42goals.com</a>
        <br />Twitter: <a href="http://twitter.com/42goals">@42goals</a>
        <br /><a href="http://www.facebook.com/42goals">Facebook page</a>
        <br /><a href="http://blog.42goals.com">Our blog</a>
    </p>
{/block}
