Bonjour, {$name}!
Votre nouveau mot de passe pour votre compte sur {@host}: {$pass}
Vous pouvez le modifier dans les paramètres sur le site web: {@host}{@home}settings/.
--
L'équipe 42goals
http://fr.42goals.com