Bonjour, {$name}!
Vous avez demandé à récupérer votre mot de passe pour {@host}

Pour recevoir un nouveau mot de passe, suivez le lien: {@host}{@home}api/recovery/{$code}/
Nous vous enverrons un nouveau mot de passe par email.
-
L'équipe 42goals
http://fr.42goals.com