Hello, {$name}!
You have requested to recover your password for {@host}

To receive a new password, follow the link: {@host}{@home}api/recovery/{$code}/
We will send you a new password by email.
--
The 42goals team
http://42goals.com