Привет, {$name}!
Вы сделали запрос на восстановление пароля для {@host}.

Чтобы получить новый пароль, перейдите по ссылке: {@host}{@home}api/recovery/{$code}/
Мы пришлем новый пароль по эл. почте.
--
Команда 42гола
http://ru.42goals.com