<div id="form-container">
    <div class="wrap">
        <h1>Your application</h1>
        {if isset($app['id'])}
        <p>
            App key: {$app['appkey']}
            <br />secret: {$app['secret']}
        </p>
        {else}
        <p>
            Add info below to add your app &darr;
        </p>
        {end}
    </div>
    
    <form id="registration-form" class="common-form" action="{@home}api/app/" method="post" onsubmit="Apps.submit(this); return false;">
        <fieldset>
            <ul class="fields">
                <li>
                    <label for="app-name" class="fixed">{~Title}</label>
                    <input id="app-title" class="text" name="data[title]" value="{if isset($app['title'])}{$app['title']|htmlspecialchars}{end}" />
                    <br />
                    <i>{~title_hint}</i>
                </li>
                <li>
                    <label for="app-url" class="fixed">{~URL}</label>
                    <input id="app-url" class="text" name="data[url]" value="{if isset($app['url'])}{$app['url']|htmlspecialchars}{end}" />
                    <br />
                    <i>{~url_hint}</i>
                </li>
                <li>
                    <label for="app-description" class="fixed">{~Description}</label>
                    <textarea id="app-description" class="text" name="data[description]">{if isset($app['description'])}{$app['description']|htmlspecialchars}{end}</textarea>
                    <br />
                    <i>{~description_hint}</i>
                </li>
            </ul>
            <div class="submit">
                <button type="submit" class="button submit-button"><span><span>{~Save}</span></span></button>
            </div>
        </fieldset>
    </form>
</div>
