{block type="sky"}
    <h1>42goals apps</h1>
    <p>As soon as we have some critic mass of 42goals apps, we will list them here.</p>
    <p>Meanwhile, you may <a href="{@this}add/">add or edit</a> yours.</p>
{/block}