<div id="feed">
    <a id="feed-indicator" href="{@home}users/{$Conf.ENV.user.login}/feed/">
        <img src="{@img}site/feed.png" alt="feed" />
        {if $new_feeds}<small>{$new_feeds}</small>{end}
    </a>
</div>
