<script type="text/javascript">
Data = {};
Data.posts = {$posts|json::encode_array};
Data.categories = {$categories|json::encode_array};
Data.templates = {$templates|json::encode_array};
</script>
<div id="posts-wrapper">
    <div id="posts-list">Building interface ...</div>
</div>
<p id="posts-add">
    <img src="{@img}site/goal.png" alt="" />
    <a href="#add-post" class="script" onclick="Posts.Form.set(); return false;">Add a new post</a>
</p>
