<script type="text/javascript">
Data = {};
Data.charts = {$charts|json::encode_array};
</script>
{block type="chartlib" /}
{block type="ground" loose="yes"}
<div id="me-profile">
    <div class="wrap">
        {user-profile user=$user /}
    </div>
</div>
<div id="me-content">
    <div class="wrap">
        {me-menu user=$user /} 
        <div id="me-layout">
            <p class="empty-message"><img src="{@img}site/no-charts.png" alt="Cool chart goes here" /></p>
        </div>
    </div>
</div>
{/block}