{if Access::loggedIn()}
<p id="welcome">{~Salom}, {$Conf.ENV.user}!</p>
{else}
<div id="form-container">
    <div class="wrap">
    {if $Conf->ENV->language == 'ru'}
        <h1>Добро пожаловать!</h1>
        <p>Воспользуйтесь формой для входа. Вы также можете войти, используя Твиттер или Фейсбук аккаунт.</p>
    {elseif $Conf->ENV->language == 'fr'}
        <h1>Bienvenue!</h1>
        <p>Utilisez le formulaire ci-dessous pour vous connecter. Vous pouvez egalement vous connecter avec votre compte Twitter ou Facebook.</p>
    {elseif $Conf->ENV->language == 'jp'}
        <h1>おかえりいなさい!</h1>
        <p>ログインするには下記のフォームを義使用ください。あるいは、Facebookアカウントを使用して入ることもできます。</p>
    {else}
        <h1>Welcome back!</h1>
        <p>Use the form below to sign in. You can also enter using your Twitter or Facebook account.</p>
    {end}
    </div>
    <form id="auth" action="{@self}" class="common-form" method="post" onsubmit="Auth.login(this); return false;">
        <fieldset>
            <input type="hidden" name="redirect" value="{$redirect}" />
            <ul class="fields">
                <li class="third-party">
                    <a href="{@home}system/twitter/connect/?redirect={$redirect}" class="btn"><img src="{@img}site/login-with-twitter.png" alt="Sign in with Twitter" /></a>
                    <a href="{@home}system/facebook/connect/?redirect={$redirect}" class="btn"><img src="{@img}site/login-with-facebook.png" alt="Sign in with Facebook" /></a>
                </li>
                <li>
                    <label for="auth-login">{~Login}:</label> <input id="auth-login" class="text" name="login" />
                </li>
                <li>
                    <label for="auth-password">{~Password}:</label> <input id="auth-password" class="text" type="password" name="password" />
                </li>
            </ul>
            <div class="submit">
                <input type="checkbox" id="auth-remember" name="remember" />
                <label for="auth-remember" class="inline">{~remember_me}</label>
                <button class="submit-button button" type="submit"><span><span>{~Sign_in}</span></span></button>
            </div>
        </fieldset>
    </form>
</div>
<div id="forgot">
    <p>
        {~No_account}? <a href="{@home}premium/">{~Get_one}</a> {~for_free}!
        <br />
        <a href="{@home}registration/recovery/">{~Forgot_password}</a>
        <br />
        <a href="{@home}registration/confirmation/">{~No_confirmation}</a>
    </p>
</div>                
{end}
