<ul class="users-search-results">
    {foreach $users as $user}
    <li>
        <img src="{if $user['thumbnail']}{@userpics}{$user['thumbnail']|htmlspecialchars}{else}{@img}site/no-thumbnail.png{end}" class="thumbnail" />
        <div class="info">
            <h3><a href="{@home}users/{$user['login']}/">{$user['name']|htmlspecialchars}</a></h3>
            <p>{$user['location']|htmlspecialchars}</p>
            <blockquote>{$user['bio']|htmlspecialchars}</blockquote>
            {if isset($user['goals']) && ($goals_len = count($user['goals']))}
            <p>
                {for $n = 0; $n < min(2, $goals_len); $n ++}{if $n}, {end}{$user['goals'][$n]['title']|htmlspecialchars}{end}
                {if $left = $goals_len - $n}and {$left} more goals{end}
            </p>
            {end}
        </div>
        {if Access::loggedIn() && isset($user['connection']) && $user['id'] != $Conf->ENV->UID}
        <div class="connection {if $user['connection'] == 'accepted'}accepted{elseif $user['connection'] == 'requested'}requested{else}none{end}">
            <p class="accepted"><a href="#remove" onclick="Connection.remove({$user['id']}, this); return false;"><img src="{@img}site/remove-friend.png" /> {~remove_friend}</a></p>
            <p class="requested"><a href="#cancel" onclick="Connection.remove({$user['id']}, this); return false;"><img src="{@img}site/remove-friend.png" /> {~cancel_request}</a></p>
            <p class="none"><a href="#add" onclick="Connection.request({$user['id']}, this); return false;"><img src="{@img}site/add-friend.png" /> {~add_friend}</a></p>
            <p class="loading"><span><img src="{@img}site/loading16.gif" /> {~loading}</span></p>
        </div>
        {end}
        {if $show_community_tools == 'yes'}
        <div class="community-tool {if $user['role'] == 'admin'}admin{else}member{end}">
            <p class="member"><a href="#remove" onclick="Community.assignAdmin({$user['id']}, this); return false;"><img src="{@img}site/assign-admin.png" /> {~assign_admin}</a></p>
            <p class="admin"><a href="#cancel" onclick="Community.removeAdmin({$user['id']}, this); return false;"><img src="{@img}site/remove-friend.png" /> {~remove_admin}</a></p>
            <p class="loading"><span><img src="{@img}site/loading16.gif" /> {~loading}</span></p>
        </div>
        {end}
    </li>
    {end}
</ul>