{if Access::loggedIn() && $user['id'] == $Conf->ENV->UID}
<form action="{@self}" id="profile-form" method="post" onsubmit="Me.Profile.save(this); return false;">
    <fieldset>
        <ul class="fields">
            <li>
                <div id="profile-picture"{if !$Conf->ENV->user->picture}class="empty"{end}>
                    {if $Conf->ENV->user->picture}
                    <img src="{@userpics}{$Conf.ENV.user.picture|urlencode}" alt="" />
                    {end}
                    <i>{~Picture_upload_help}</i>
                    <div class="bg"></div>
                    <div id="profile-picture-uploader"></div>
                </div>
            </li>
            <li>
                <div class="inputwrap"><input id="profile-name" name="name" value="{$Conf.ENV.user.name|htmlspecialchars}" title="{~Profile_name_hint}" /></div>
            </li>
            <li>
                <div class="locationwrap"><input id="profile-location" name="location" value="{$Conf.ENV.user.location|htmlspecialchars}" title="{~Profile_location_hint}" /></div>
            </li>
            <li>
                <div class="inputwrap"><input id="profile-url" name="url" class="url" value="{$Conf.ENV.user.url|htmlspecialchars}" title="{~Profile_url_hint}" /></div>
            </li>
            <li>
                <div class="inputwrap"><textarea id="profile-bio" name="bio" title="{~Profile_bio_hint}">{$Conf.ENV.user.bio|htmlspecialchars}</textarea></div>
            </li>
        </ul>
    </fieldset>
</form>
<div id="profile-tools">
    <div id="profile-publicity" class="{if $Conf->ENV->user->public}public{else}private{end}">
        <p id="profile-public">
            <img src="{@img}site/btn-public.png" alt="public" onclick="Me.Profile.setPublic(0)" /> 
            <img src="{@img}site/loading24.gif" alt="" class="loading" /> 
            <span>{~profile_is_public}</span>
        </p>
        <p id="profile-private">
            <img src="{@img}site/btn-private.png" alt="private" onclick="Me.Profile.setPublic(1)" />
            <img src="{@img}site/loading24.gif" alt="" class="loading" />  
            <span>{~profile_is_private}</span>
        </p>
    </div>
</div>
{else}
<div id="profile-picture"{if $user['picture']} class="filled"{end}>
    <img src="{if $user['picture']}{@userpics}{$user['picture']|urlencode}{else}{@img}site/no-userpic.png{end}" alt="" />
</div>
<div id="profile-info">
    <h1>{$user['name']|strip_tags|htmlspecialchars}</h1>
    <ul>
        {if $user['location']}<li><img src="{@img}site/location.png" /> {$user['location']|strip_tags|htmlspecialchars}</li>{end}
        {if $user['url']}<li><span id="profile-url" title="{$user['url']}">{$user['short_url']|strip_tags|htmlspecialchars}</span></li>{end}
        {if $user['bio']}<li><i>{$user['bio']|htmlspecialchars|nl2br}</i></li>{end}
    </ul>
</div>
{end}

{if Access::loggedIn() && $Conf->ENV->UID != $user['id']}
<div id="connection-tools">
    <div class="connection {if $user['connection'] == 'accepted'}accepted{elseif $user['connection'] == 'requested'}requested{else}none{end}">
        <p class="accepted"><a href="#remove" onclick="Connection.remove({$user['id']}, this); return false;"><img src="{@img}site/remove-friend.png" /> {~remove_friend}</a></p>
        <p class="requested"><a href="#cancel" onclick="Connection.remove({$user['id']}, this); return false;"><img src="{@img}site/remove-friend.png" /> {~cancel_request}</a></p>
        <p class="none"><a href="#add" onclick="Connection.request({$user['id']}, this); return false;"><img src="{@img}site/add-friend.png" /> {~add_friend}</a></p>
        <p class="loading"><span><img src="{@img}site/loading16.gif" /> {~loading}</span></p>
    </div>
</div>
{end}

{if isset($user['badges']) && $user['badges']}
<h2>{~Badges}</h2>
<ul id="profile-badges">
    {foreach $user['badges'] as $badge}
    <li><img src="{@img}badges/{$badge}.png" /></li>
    {end}
</ul>
{end}

{if isset($user['friends']) && $user['friends']}
<h2>{~Friends}</h2>
<ul id="profile-friends">
    {foreach $user['friends'] as $friend}
    <li>
        <a href="{@home}users/{$friend['login']}/">
            <img src="{if $friend['thumbnail']}{@userpics}{$friend['thumbnail']}{else}{@img}site/no-thumbnail.png{end}" />
            <b>{$friend['name']}</b>
        </a>
    </li>
    {end}
</ul>
{end}

{if $communities}
<h2>{~Communities}</h2>
<ul id="profile-communities">
    {foreach $communities as $community}
    <li><a href="{@home}communities/{$community['name']}/" title="{$community['title']}"><img src="{@communitypics}{$community['thumbnail']}" /></a></li>
    {end}
</ul>
{end}