Bonjour, {$user['name']}.

{$Conf.ENV.user.name} veut vous ajouter dans sa liste d'ami.

Vous pouvez confirmer la demande ici: {$host}{@home}users/{$user['login']}/friends/
Sinon, ignorez simplement ce message.
--
L'équipe 42goals
http://fr.42goals.com