<div class="fix-width">
    <h2>Success!</h2>
    <p>
        Your payment has been processed successfully.
        <br />Thank you for buying a premium account at 42goals!
        <br />Now, you may <a href="{@home}goals/">go to your goals</a> and use all the features.
    </p>
</div>