{if $notifications}
<div id="notifications">
    <a id="notifications-indicator" href="#notifications" onclick="return false;">
        <img src="{@img}site/notification.png" alt="!" />
        <small>{$notifications|count}</small>
    </a>
    <ul id="notifications-list">
        {foreach $notifications as $notification}
        <li><a href="{$notification['url']}" onclick="return Notifications.read(this);" id="notification-{$notification['id']}">
            <small>{$notification['time']|locales::datetime}</small> 
            {$notification['text']}</a>
        </li>
        {end}
        <li class="all"><a href="#readall" onclick="Notifications.readAll();">{~Mark_all_as_read}</a></li>
    </ul>
</div>
{end}