table.color-picker {
    position: absolute;
    border: 1px solid #ccc;
    border-spacing: 4px;
    background: #eeeded;
    /*padding: 8px;*/
}

table.color-picker td {
    border: 1px solid #fff;
    /*margin: 5px;*/
    width: 12px;
    height: 12px;
    min-width: 10px;
    min-height: 10px;
    cursor: pointer;
}

table.color-picker td.over {
    border-color: #ccc;
}