dl.tabset {
    background: transparent;
    border: none;
}

dl.tabset dt.tab {
    display: inline;
    cursor: default;
    margin-right: 1px;
    margin: 3px 10px;

    font-weight: bold;
    color: blue;
    border-bottom: 1px dashed blue;
}

dl.tabset dt.active {
    color: #000;
    border: none;
}

dl.tabset dd.tab {
    padding: 0px;
    margin-top: 3px;
}