<div id="twitter">
{if $statuses}
    <ul>
        {foreach $statuses as $status}
        <li>
            <p>{$status['text']|TwitterTag::urlify}</p>
            <small>{$status['time']}</small>
        </li>
        {end}
    </ul>
    <div class="corner"></div>
{end}
    <a class="follow-us" href="http://twitter.com/42goals">{~Follow_us}</a>
</div>