<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<script type="text/javascript" src="{@js}3dparty/svgweb/svg-uncompressed.js" data-path="{@js}3dparty/svgweb"></script>
<script type="text/javascript">
var URL = {"main":"/","host":"http://chains.my","public":"/public/","js":"/public/js/","img":"/public/img/","css":"/public/css/","html":"/public/html/","lang":"/public/lang/","mohawk":"/public/js/mohawk/","icons":"/public/img/icons/","userpics":"/public/img/userpics/","home":"/","this":"/goals/","self":"/goals/","sso":"http://chains.my/api/login/"};
var ENV = {"language":"en","language_id":"1","host":"chains.my","action":"default","query":"goals","UID":"1","SID":"8d8iipgnntq9a7f87c2osspmi2","user":{"login":"alex","name":"Alex Pak","email":"irokez@gmail.com","new_email":"","paid_till":"2011-01-01","picture":"","location":"","url":"","bio":"","premium":true,"valid":false}};
</script>
<script type="text/javascript" src="{@js}mohawk/kernel/Mohawk.js"></script>
<script type="text/javascript" src="{@js}3dparty/protovis/protovis-d3.3.js"></script>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<!--<meta name="svg.render.forceflash" content="true" />-->
<title>Insert title here</title>
</head>
<body>
<script type="image/svg+xml">
   <svg 
       width="200" height="200"
       style="background-color: #D2B48C; display: block; margin-bottom: 5px;"
       id="embeddedSVG">
     <g 
        id="myGroup" 
        fill="blue" 
        style="font-size: 18px; text-anchor: middle; font-family: serif;">
         <circle
              id="myCircle" 
              cx="100" cy="75" r="50"
              stroke="firebrick"
              stroke-width="3" />
         <text x="100" y="155">Hello World</text>
         <text x="100" y="175">From Embedded SVG!</text>
     </g>
   </svg>
</script>
<script type="text/javascript">
function test() {
    var vis = new pv.Panel()
    .canvas('test')
        .def("i", -1)
        .width(150)
        .height(150);
     
    vis.add(pv.Bar)
        .data([-1, 1.2, -1.7, 1.5, .7, .2])
        .bottom(0)
        .width(20)
        .height(function(d) {return d * 80})
        .left(function() {return this.index * 25})
        .fillStyle("steelblue")
     
    vis.render();
}
</script>
<div id="test" onclick="test()">click me</div>
</body>
</html>