<img src="{if $Conf->ENV->user->thumbnail}{@userpics}{$Conf.ENV.user.thumbnail}{else}{@img}site/no-thumbnail.png{end}" />
<span>{$Conf.ENV.user.name} wants to compare the goal "{$data['goal']}" with you</span>