Hello, {$user['name']}!

{$Conf.ENV.user.name} wants to compare the goal "{$data['goal']}" with you.

You can confirm or reject the request here: {$host}{@home}users/{$user['login']}/compare/
--
The 42goals team
http://42goals.com