{block type="sky"}
    <div class="left">
        <h1>Set your daily goals</h1>


	<p>
            <strong>42goals</strong> is a simple tool for tracking your daily goals and keeping a log of your daily activities.
        </p>
        <p>
            It helps you to set up your goals, record your daily progress and visualize your achievements. 
		Using 42goals you can achieve your personal and life goals; quit smoking, lose weight, 
reduce coffee consumption, log daily expenses, set exercise targets, etc.  A great 'Quantified Self App' and the
ultimate New Year Resolutions tool!
        </p>
        <p>
            <a href="{@home}premium/" class="big-button">
                <big>
                    See Plans and Pricing
                    <small>Free and Premium Plans available</small>
                </big>
            </a>
            <br />
            <small>No install. Web-based application. Set up in less than 1 minute.</small>
        </p>
    </div>
    <div class="right">
        <img src="{@img}site/home-screenshot.png" />
    </div>
{/block}

{block type="ground"}
    <blockquote><h2>Track your daily progress. Try the online <a href="{@home}demo/">demo</a> without a registration!</h2></blockquote>
    <ul id="features">
        <li>
            <div class="frame"><img src="{@img}home/set-goals.png" class="screenshot" /></div>
            <h2>Set daily goals</h2>
            <p>Pick goals from a set of predefined templates or add it yourself.</p>
        </li>
        <li>
            <div class="frame"><img src="{@img}home/log-progress.png"  class="screenshot" /></div>
            <h2>Log progress</h2>
            <p>Our user interface is easy to use and yet so powerful.</p>
        </li>
        <li>
            <div class="frame"><img src="{@img}home/visualize-achievements.png" class="screenshot" /></div>
            <h2>Visualize achievements</h2>
            <p>Build cool charts to see the whole picture of your achievements.</p>
        </li>
        <li class="last-child">
            <div class="frame"><img src="{@img}home/public-profile.png" class="screenshot" /></div>
            <h2>Share with friends</h2>
            <p>Setup your public page and share your progress with friends.</p>
        </li>
    </ul>
    <div class="hl"></div>
    <ul id="teasers">
        <li>
            <img src="{@img}site/icon-free.png" />
            <h2>No charges</h2>
            <p>You don't have to pay anything to use 42goals. The registration is free of charge.</p>
            <p>You may purchase a <a href="{@home}premium/">premium account</a> with extended options if the basic functions are not enough.</p>
        </li>
        <li>
            <img src="{@img}site/icon-phone.png" />
            <h2>Use it anywhere</h2>
            <p>Track your data anywhere you go from your smartphone. Check out the <a href="{@home}m/">mobile version</a> of 42goals.</p>
            <p>iPhone, Android, and other platforms are coming soon.</p>
        </li>
        <li class="last-child">
            <img src="{@img}site/icon-more.png" />
            <h2>More things are coming</h2>
            <p>We don't stop working on our project every day. We constantly test and add new features.</p>
            <p>If you have an idea on how to improve 42goals, we will be happy to <a href="mailto:info@42goals.com">hear it</a>.</p>
        </li>
    </ul>
{/block}
