{block type="sky"}
    <div class="left">
        <h1>Définissez vos objectifs quotidiens</h1>
        <p>
            <strong>42goals</strong> est un outil simple pour suivre des objectifs quotidiens et registre des activités quotidiennes.
        </p>
        <p>
            Il vous aide à définir vos objectifs, d'enregistrer vos progrès quotidiens et de visualiser vos réalisations. Utilisation de 42goals vous aide à arrêter de fumer, compter le nombre de tasses de café, enregistrer les dépenses quotidiennes.
        </p>
        <p>
            <a href="{@home}premium/" class="big-button">
                <big>
                    Voir les tarifs
                    <small>Comptes Gratuits et Premiums sont disponibles</small>
                </big>
            </a>
            <br />
            <small>Pas d'installation. Application Web. Mis en place en moins de 1 minute.</small>
        </p>
    </div>
    <div class="right">
        <img src="{@img}site/home-screenshot.png" />
    </div>
{/block}

{block type="ground"}
    <blockquote><h2>Suivez vos objectifs quotidiens. Essayez la <a href="{@home}demo/">démo</a> en ligne sans inscription!</h2></blockquote>
    <ul id="features">
        <li>
            <div class="frame"><img src="{@img}site/feature-goals.png" /></div>
            <h2>Définissez vos objectifs quotidiens</h2>
            <p>L'utilisation de 42goals vous aide à arrêter de fumer, compter le nombre de tasses de café, enregistrer les dépenses quotidiennes</p>
        </li>
        <li>
            <div class="frame"><img src="{@img}site/feature-templates.png" /></div>
            <h2>Les modèles des objectifs</h2>
            <p>Nous avons un ensemble de modèles prédéfinis pour la plupart des objectifs populaires. Si vous n'avez pas trouvé votre objectif, vous pouvez l'ajouter vous-même.</p>
        </li>
        <li>
            <div class="frame"><img src="{@img}site/feature-interface.png" /></div>
            <h2>L'interface simple</h2>
            <p>Notre interface utilisateur est facile d'utilision et pourtant si puissant. Il est disponible sur n'importe quel ordinateur avec accès à Internet.</p>
        </li>
        <li class="last-child">
            <div class="frame"><img src="{@img}site/feature-statistics.png" /></div>
            <h2>Obtenez une vue d'ensemble</h2>
            <p>Voir les statistiques de votre productivité, de réaliser des graphiques cool et analyser votre succès!</p>
        </li>
    </ul>
    <div class="hl"></div>
    <ul id="teasers">
        <li>
            <img src="{@img}site/icon-free.png" />
            <h2>C'est gratuit</h2>
            <p>Vous n'avez pas à payer pour l'utilisation de 42goals. L'inscription est gratuite.</p>
            <p>Vous pouvez acheter un <a href="{@home}premium/">compte premium</a> avec des options supplémentaires.</p>
        </li>
        <li>
            <img src="{@img}site/icon-phone.png" />
            <h2>Utilisez-le partout</h2>
            <p>Enregistrez vos données partout depuis votre mobile. Essayez notre <a href="{@home}m/">version mobile</a></p>
            <p>iPhone, Android et d'autres plateformes mobiles sont à venir.</p>
        </li>
        <li class="last-child">
            <img src="{@img}site/icon-more.png" />
            <h2>Plus de choses sont à venir</h2>
            <p>Nous continuons à faire evoluer notre projet tous les jours.</p>
            <p>Si vous avez des idées sur la façon d'améliorer 42goals, nous serons heureux de les prendre en compte.</p>
        </li>
    </ul>
{/block}