Bonjour, {$user['name']}.

{$Conf.ENV.user.name} veut comparer l'objectif "{$data['goal']}" avec vous.

Vous pouvez confirmer ou rejeter la demande ici: {$host}{@home}users/{$user['login']}/compare/
--
L'équipe 42goals
http://fr.42goals.com