{block type="ground" loose="yes"}
<div id="me-profile">
    <div class="wrap">
        {foreach $categories as $category}
            <h2>{$category['title']}</h2>
            <ul id="category-templates">
                {foreach $templates as $template}
                    {if $template['category'] == $category['id']}
                <li>
                    <img src="{$template['icon']}" />
                    <a href="{@this}{$category['name']}/{$template['name']}/">{$template['title']}</a>
                </li>
                    {end}
                {end}
            </ul>
        {end}
    </div>
</div>
<div id="me-content">
    <div id="template-description">
            <h1>{~Templates}</h1>
            {for $i = 0; $i < 3; $i ++}
            <ul class="templates-categories">
                {foreach $categories3[$i] as $category}
                <li>
                    <h3>{$category['title']}</h3>
                    <ul>
                        {foreach $templates as $template}
                            {if $template['category'] == $category['id']}
                        <li>
                            <h4>
                                <img src="{$template['icon']}" />
                                <a href="{@this}{$category['name']}/{$template['name']}/">{$template['title']}</a>
                            </h4>
                        </li>
                            {end}
                        {end}
                    </ul>
                </li>
                {end}
            </ul>
            {end}
    </div>
</div>

{/block}