Bonjour, {$data['name']}!
Vous avez spécifié cette adresse dans vos paramètres.
Pour confirmer votre nouvelle adresse, suivez le lien: {@host}{@home}api/settings/{$type}-{$code}/
-
L'équipe 42goals
http://fr.42goals.com