Hello, {$data['name']}!
You have specified this address in your settings.
To confirm your new address, follow the link: {@host}{@home}api/settings/{$type}-{$code}/
--
The 42goals team
http://42goals.com