{block type="ground" loose="yes"}
<div id="me-profile">
    <div class="wrap">
        {user-profile user=$user /}
    </div>
</div>
<div id="me-content">
    <div class="wrap">
        {me-menu user=$user /}
        <form action="{@home}api/posts/" id="me-post-form" method="post" onsubmit="Posts.submit(this); return false;">
            <fieldset>
                <ul class="fields">
                    <li>
                        <label for="post-type">{~Share_a}</label>
                        <select id="post-type" name="data[type]" onchange="Posts.setType(this.value);">
                            <option value="post">{~share_post}</option>
                            <option value="link">{~share_link}</option>
                        </select>
                        <label for="post-community">{~share_in}</label>
                        {select id="post-community" name="data[community]" options=$communities value=$_REQUEST['community'] /}
                    </li>
                    <li class="hidden">
                        <label for="post-url" class="block">{~URL}:</label>
                        <input name="data[url]" id="post-url" />
                    </li>
                    <li>
                        <label for="post-title" class="block">{~Title}:</label>
                        <input name="data[title]" id="post-title" />
                    </li>
                    <li>
                        <label for="post-text" class="block">{~Text}:</label>
                        <textarea name="data[text]" id="post-text"></textarea>
                    </li>
                </ul>
                <div class="buttons">
                    <button class="button hidden" type="button" id="post-fetch" onclick="Posts.fetch(this.form)"><span><span>{~Fetch}</span></span></button>
                    <button class="button" type="submit" id="post-save"><span><span>{~Save}</span></span></button>
                    <span class="or">{~or}</span>
                    <a href="{@home}users/{$Conf.ENV.user.login}/posts/">{~go_to_posts}</a>
                </div>
            </fieldset>
        </form>
    </div>
</div>
{/block}