<script type="text/javascript">
Data = {};
Data.goals = {$goals|json::encode};
Data.today = '{$today}';
</script>
<h2>
    <a href="{@this}{$yesterday}/">&larr; {$yesterday_title}</a>
    <b>{$today_title}</b>
    <a href="{@this}{$tomorrow}/">{$tomorrow_title} &rarr;</a>
</h2>
<form id="goals-form" method="post" action="{@self}">
    <div id="goals-tabs">
        <select name="tab" id="tab-select">
            <option value="">{~Show_all_goals}</option>
        {foreach $tabs as $tab}
            <option value="{$tab['id']}">{$tab['title']}</option>
        {end}
        </select>
    </div>
    <table id="goals-table">
        <tbody>
            {foreach $goals as $id => $goal}
            <tr id="goal-{$id}" class="tab-{$goal['tab']}">
                <th>{$goal['title']}</th>
                <td class="data">
                    {if $goal['type'] == 'numeric'}
                    <input value="{$goal['data']['value']}" name="data[{$id}]" />
                    {elseif $goal['type'] == 'counter'}
                        {if $goal['data']['value'] > 0}
                            {for $i = 1; $i <= $goal['data']['value'] && $i < 100; $i ++}
                    <button type="submit" name="dec" value="{$id}"><img src="{$goal['icon_item']}" alt="-" /></button>
                            {end}
                    <input type="hidden" value="{$i}" name="data[{$id}]" />
                        {else}
                    <input type="hidden" value="1" name="data[{$id}]" />
                        {end}
                    {elseif $goal['type'] == 'boolean'}
                        {if $goal['data']['value'] === '1'}
                    <img src="{$goal['icon_true']}" alt="yes" onclick="Mobile.iterate('{$id}')" />
                    <input type="hidden" value="0" name="data[{$id}]" />
                        {elseif $goal['data']['value'] === '0'}
                    <img src="{$goal['icon_false']}" alt="no" onclick="Mobile.iterate('{$id}')" />
                    <input type="hidden" value="" name="data[{$id}]" />
                        {else}
                    <input type="hidden" value="1" name="data[{$id}]" />
                        {end}
                    {elseif $goal['type'] == 'time' || $goal['type'] == 'timer'}
                    <select value="" name="data[{$id}][h]">
                        {for $i = 0; $i <= 24; $i ++}
                        <option value="{$i}"{if $i == array_get($goal, 'h')} selected="selected"{end}>{$i|MobileIndexPage::pad}</option>
                        {end}
                    </select>
                    <b>:</b>
                    <select name="data[{$id}][m]">
                        {for $i = 0; $i <= 60; $i ++}
                        <option value="{$i}"{if $i == array_get($goal, 'm')} selected="selected"{end}>{$i|MobileIndexPage::pad}</option>
                        {end}
                    </select>
                    <input type="hidden" name="data[{$id}][s]" value="{$goal['s']}" />
                    {else}
                    {$goal['type']}
                    {end}
                </td>
                <td class="add">
                    <button type="submit" name="id" value="{$id}"><img src="{@img}site/+.png" alt="+" onclick="Mobile.input('{$id}')" /></button>
                </td>
            </tr>
            {end}
        </tbody>
    </table>
</form>