<img src="{if $activity['user_thumbnail']}{@userpics}{$activity['user_thumbnail']|htmlspecialchars}{else}{@img}site/no-thumbnail.png{end}" class="thumbnail" />
<div class="content">
    <p class="meta">
        <a href="{@home}users/{$activity['user_login']}/"><b>{$activity['user_name']|htmlspecialchars}</b></a> 
        {if $Conf->ENV->language == 'ru'}
            присоединился к сообществу
        {elseif  $Conf->ENV->language == 'fr'}
            a rejoint la communauté
        {else}
            joined community
        {end}
        {if $activity['community_name']}<a href="{@home}communities/{$activity['community_name']|htmlspecialchars}/">{$activity['community_title']|htmlspecialchars}</a>{end}
    </p>
    <small>{$activity['time']|locales::datetime}</small>
</div>