<img src="{if $activity['user_thumbnail']}{@userpics}{$activity['user_thumbnail']|htmlspecialchars}{else}{@img}site/no-thumbnail.png{end}" class="thumbnail" />
<div class="content">
    <p class="meta">
        <a href="{@home}users/{$activity['user_login']}/"><b>{$activity['user_name']|htmlspecialchars}</b></a> 
        {if $Conf->ENV->language == 'ru'}
            оставил(а) <a href="{$data.url}">комментарий</a>
        {elseif  $Conf->ENV->language == 'fr'}
            a laissé un <a href="{$data.url}">commentaire</a>
        {else}
            left a <a href="{$data.url}">comment</a>
        {end}
    </p>
    <blockquote>{$data.comment|htmlspecialchars|nl2br}</blockquote>
    <small>{$activity['time']|locales::datetime}</small>
</div>