<img src="{if $Conf->ENV->user->thumbnail}{@userpics}{$Conf.ENV.user.thumbnail}{else}{@img}site/no-thumbnail.png{end}" />
<span>Подтверждение от {$Conf.ENV.user.name} на сравнение цели "{$data['goal']}"</span>