#chart {
/*    position: absolute;
    width: 600px;
    height: 400px;
    padding: 50px;
    top: 100px;
    left: 50%;
    margin-left: -350px;
    z-index: 30;
    background: #fff;
    border-radius: 10px;
    -moz-border-radius: 10px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.6);
    -webkit-box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.6);*/
}

    #chart .close {
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;
    }
    
    #chart-canvas {
        height: 300px;
        clear: both;
        margin-left: 50px;
    }
    
    #chart-fields {
        margin-top: 20px;
        padding: 0px 20px 10px;
    }
    
    #chart-fields > li {
        margin-bottom: 10px;
    }
    
    #chart-fields > li li {
        margin-bottom: 0px;
    }
    
    #chart-fields b {
        display: inline-block;
        width: 80px;

        } * html #chart b {
        display: inline;
            
        } *:first-child+html #chart b {
        display: inline;
    }
    
    #chart-fields .options {
        list-style: none;
        display: inline-block;
        } * html #chart-fields .options {
        display: inline;
            
        } *:first-child+html #chart-fields .options {
        display: inline;
    }
        
        #chart-fields .options li {
            display: inline-block;
            margin-left: 5px;
            padding: 2px 5px;
            cursor: pointer;
    
            } * html #chart .options li {
            display: inline;
                
            } *:first-child+html #chart .options li {
            display: inline;
        }
        
        /*#chart-type li {
            height: 32px;
        }*/
        
        #chart-fields .options li.selected {
            background: #fff389;
        }
            
            #chart-fields .options li img {
                float: none;
                vertical-align: middle;
            }
            
    #chart-advanced {
        display: inline-block;
        list-style: none;
        vertical-align: top;
        margin-left: 2px;
        } * html #chart #chart-advanced {
        display: inline;
            
        } *:first-child+html #chart-advanced {
        display: inline;
    }
    
        #chart-advanced > li {
            margin-bottom: 5px !important;
        }
            
    
#chart-table {
    border-collapse: collapse;
    width: 400px;
    margin: 20px auto;
    font-size: 12px;
    clear: both;
}

    #chart-table th {
        padding: 5px;
        /*border: 1px solid #e8effc;*/
        position: relative;
    }

    #chart-table .value {
        width: 100px;
    }

    #chart-table thead th {
        background: #fbfcfe;
        font-weight: normal;
        font-size: 14px;
        text-align: left;
        border-bottom: 1px solid #000;
    }

    #chart-table tbody th {
        font-weight: normal;
        text-align: left;
    }

    #chart-table tfoot th {
        text-align: left;
    }

    #chart-table td {
        padding: 5px;
        border-bottom: 1px solid #e5ecf4;
    }
    
#chart-share textarea {
    height: 70px;
}
    
#public-chart {
    text-align: center;
    padding: 20px 0px;
}

    #public-chart img {
        padding: 20px;
        background: #fff;
        border-radius: 8px;
        -moz-border-radius: 8px;
    }

    #public-chart h2 {
        margin-bottom: 20px;
        font-size: 20px;
        font-weight: normal;
    }

    #public-chart p {
        margin-top: 20px;
        font-size: 16px;
    }
    
#facebook-login {
    position: absolute;
    width: 800px;
    height: 600px;
    left: 50%;
    margin-left: -400px;
    top: 100px;
}