#form-container {
    width: 460px;
    margin: 0px auto;
    background: #f3f3f3;
    border: 1px solid #cad6e1;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    box-shadow: 0px 0px 10px #dce9f5;
    -webkit-box-shadow: 0px 0px 10px #dce9f5;
    -moz-box-shadow: 0px 0px 10px #dce9f5;
    margin-bottom: 50px;
}

    #form-container .wrap {
        padding: 20px;
        font-family: Trebuchet MS, Arial;
        font-size: 12px;
        line-height: 18px;
    }

    #form-container .answer {
        padding: 20px;
        font-family: Trebuchet MS, Arial;
        font-size: 12px;
        line-height: 18px;
    }

    #form-container .wrap h1 {
        font-family: Trebuchet MS, Arial;
        font-size: 40px;
        font-weight: normal;
        margin-top: 8px;
        margin-bottom: 32px;
    }

    #form-container .wrap h2 {
        font-family: Trebuchet MS, Arial;
        font-size: 24px;
        font-weight: normal;
        margin-top: 42px;
        margin-bottom: 8px;
    }
    
    #form-container .wrap p {
        margin-top: 8px;
    }

    #form-container .wrap ul {
        margin-bottom: 8px;
    }
    
        #form-container .wrap li {
            margin-left: 20px;
            margin-bottom: 8px;
        }            

.common-form {
    border-radius: 8px;
    -moz-border-radius: 8px;
}

    #form-container .common-form h2 {
        font-family: Trebuchet MS, Arial;
        font-size: 16px;
        font-weight: normal;
        margin: 20px 20px 10px;
    }

    .common-form fieldset {
        border: none;
    }
    
        .common-form .fields {
            border-top: 1px solid #e4e4e4;
            border-bottom: 1px solid #fbfbfb;
        }
        
            .common-form .fields li {
                padding: 10px 20px !important;
                margin: 0px !important;
                border-top: 1px solid #fbfbfb;
                border-bottom: 1px solid #e4e4e4;
                position: relative;
            }
            
                .common-form .fields label {
                    font-size: 12px;
                    font-weight: bold;
                    display: inline-block;
                    width: 100px;
                    padding-right: 20px;
                    vertical-align: middle;
                }
            
                .common-form .fields label.inline {
                    display: inline;
                    width: auto;
                    padding: 0px;
                    vertical-align: middle;
                }
                
                .common-form .fields i {
                    font-size: 11px;
                    color: #999;
                    display: inline-block;
                    padding-left: 124px;
                    font-style: normal;
                }
                
                .common-form .fields .error {
                    font-size: 14px;
                    font-weight: normal;
                    color: #f33;
                    display: block;
                }
                
                .common-form .fields input.text {
                    font-size: 16px;
                    padding: 4px;
                    width: 286px;
                    border: 1px solid #d9d9d9;
                    border-radius: 3px;
                    -moz-border-radius: 3px;
                    -webkit-border-radius: 3px;
                    box-shadow: inset 0px 5px 10px #ededed;
                    -moz-box-shadow: inset 0px 5px 10px #ededed;
                    -webkit-box-shadow: inset 0px 5px 10px #ededed;
                    vertical-align: middle;
                    background: #fff;
                }
                
                .common-form .fields input.checkbox {
                    vertical-align: middle;
                }
                
                .common-form .fields textarea.text {
                    font-family: inherit;
                    font-size: 16px;
                    padding: 3px;
                    font-size: 16px;
                    padding: 4px;
                    width: 286px;
                    height: 100px;
                    border: 1px solid #d9d9d9;
                    border-radius: 3px;
                    -moz-border-radius: 3px;
                    -webkit-border-radius: 3px;
                    box-shadow: inset 0px 5px 10px #ededed;
                    -moz-box-shadow: inset 0px 5px 10px #ededed;
                    -webkit-box-shadow: inset 0px 5px 10px #ededed;
                    vertical-align: middle;
                    background: #fff;
                }
                
                .common-form .fields input.small {
                    width: 200px;
                }
                
                .common-form .fields img {
                    vertical-align: middle;
                }
                
                .common-form .submit {
                    padding: 20px;
                    position: relative;
                    min-height: 20px;
                }
                
                    .common-form .submit-button {
                        position: absolute;
                        right: 20px;
                        top: 10px;
                    }
                
#shadow {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    background-color: transparent;
    background-color: rgba(0, 0, 0, 0.8);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000,endColorstr=#99000000);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000,endColorstr=#99000000)";
    z-index: 20;
}

ul.fields {
    list-style: none;
}

#goals-form {
    position: absolute;
    width: 650px;
    left: 50%;
    margin-left: -325px;
    top: 100px;
    z-index: 30;
}

    #goals-form fieldset {
        border: none;
    }

    #goals-form > fieldset {
        padding: 20px;
        background: #fff;
        margin-bottom: 20px;
        border-radius: 10px;
        -moz-border-radius: 10px;
        box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.6);
        -webkit-box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.6);
        -moz-box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.6);
        min-height: 300px;
    }
    
        #additional-parameters {
            margin-top: 20px;
        }
    
        #goals-form ul.fields > li {
            margin-bottom: 20px;
            margin-right: 10px;
        }
        
            #goals-form ul.fields > li li {
                margin-bottom: 10px;
                margin-right: 10px;
            }
        
        #goals-form label {
            vertical-align: middle;
        }
        
        #goals-form input {
            vertical-align: middle;
        }
        
        #goals-form label.block {
            display: block;
            margin-bottom: 5px;
            font-weight: bold;
            font-size: 12px;
        }
        
        #goals-form i.ex {
            font-weight: normal;
            font-style: normal;
            color: #666;
        }
        
        #goals-form input.text {
            width: 100%;
            padding: 4px;
            border: 1px inset #989696;
        }
        
        #goals-form input.small {
            width: 50px;
        }
        
        #goals-form .error {
            color: red;
            margin-top: 5px;
            font-weight: normal;
        }
    
        #goals-form textarea {
            width: 100%;
            padding: 4px;
            height: 100px;
            border: 1px inset #ccc;
        }
    
        #goals-form .buttons {
            position: relative;
            margin-top: 10px;
        }
        
            #goals-form .buttons button {
                vertical-align: absmiddle;
                padding: 5px 10px;
                margin: 10px 0px 5px 0px;
            }
            
#goals-form dl.tabset {
    background: transparent;
    border: none;
}

    #goals-form dl.tabset dt.tab {
        display: inline;
        cursor: pointer;
        margin: 0px 10px 0px 0px;
        font-weight: bold;
        font-size: 12px;
        color: #356aa0;
        border-bottom: 1px dashed #356aa0;
    }
    
    #goals-form dl.tabset dt.active {
        color: #000;
        border: none;
        background: #fff389;
        padding: 3px;
    }
    
    #goals-form dl.tabset dd.tab {
        padding: 0px;
        margin-top: 10px;
    }
    
    #goals-form.editing dl.tabset dt.tab {
        display: none;
    }
    
    #goals-form.adding #delete-goal {
        display: none;
    }
    
#templates-search {
    padding: 10px 0px;
}

    #templates-search input {
        width: 100%;
        font-size: 16px;
        padding: 5px;
        border-radius: 5px;
        -moz-border-radius: 5px;
        border: 1px solid #ccc;
    }
    
    #templates-search input.empty {
        color: #ccc;
        font-style: italic;
    }
    

#categories-pick {
    list-style: none;
    overflow: auto;
}

    #categories-pick > li {
    }
    
        #categories-pick > li h2 {
            font-size: 16px;
            font-weight: bold;
            margin-bottom: 10px;
            position: relative;
        }
        
        #categories-pick ul {
            list-style: none;
            overflow: auto;
        }

            #categories-pick > li > h2 > span {
                color: #356aa0;
                border-bottom-style: dashed;
                border-bottom-width: 1px;
                cursor: pointer;
                vertical-align: middle;
            }
            
            #categories-pick ul h2 {
                font-size: 13px;
                padding-left: 30px;
            }
        

            #categories-pick ul h2 > span {
                color: #356aa0;
                border-bottom-style: dashed;
                border-bottom-width: 1px;
                cursor: pointer;
                vertical-align: middle;
            }
        
            #categories-pick ul h2 > img {
                position: absolute;
                left: 0px;
                top: 0px;
                max-width: 16px;
                max-height: 16px;
                vertical-align: middle;
            }
    
        #categories-pick ul .text {
            line-height: 18px;
            margin-bottom: 10px;
        }
        
            #categories-pick ul .text p {
                margin-left: 30px;
                margin-bottom: 1em;
            }
        
            #categories-pick ul .text button {
                margin-left: 30px;
                margin-bottom: 1em;
                padding: 5px;
            }
            
.icon-picker {
    display: inline-block;
    vertical-align: bottom;
    text-align: center;
    height: 32px;
    padding: 5px;
            
    } * html .icon-picker {
    display: inline;
            
    } *:first-child+html .icon-picker {
    display: inline;
}

    .icon-picker img {
        max-width: 24px;
        max-height: 24px;
        vertical-align: middle;
    }
                
    .icon-picker a {
        vertical-align: middle;
        margin-left: 5px;
        line-height: 32px;
    }

.icon-pick {
    padding: 10px 0px -10px;
}

    .icon-pick input {
        width: 100%;
        font-size: 16px;
        padding: 5px;
        border-radius: 5px;
        -moz-border-radius: 5px;
        border: 1px solid #ccc;
        margin-bottom: 10px;
    }

    .icon-pick input {
        width: 100%;
        font-size: 16px;
        padding: 5px;
        border-radius: 5px;
        -moz-border-radius: 5px;
        border: 1px solid #ccc;
        margin-bottom: 10px;
    }
    
    .icon-pick input.empty {
        color: #ccc;
        font-style: italic;
    }
    
    .icon-pick .hint {
        color: #666;
        padding-bottom: 10px;
    }
    
    .icon-pick .message {
        text-align: center;
        padding-top: 10px;
    }
                
.icon-list {
    list-style: none;
    /*max-width: 400px;*/
}
                
    .icon-list li {
        display: inline-block;
        vertical-align: bottom;
        text-align: center;
        width: 32px;
        height: 32px;
        padding: 4px;
        border-radius: 8px;
        -moz-border-radius: 8px;
        border: 2px solid transparent;
        cursor: pointer;
        
        } * html .icon-list li {
        display: inline;
        
        } *:first-child+html .icon-list li {
        display: inline;
    }
                    
        .icon-list > li img {
            vertical-align: bottom;
            max-width: 32px;
            max-height: 32px;
        }

    .icon-list > li.selected {
        background: #fff389;
    }

    .icon-list > li:hover {
        border: 2px solid #ddd;
    }