#sky .left {
    display: inline-block;
    vertical-align: top;
    width: 39%;
    margin-top: 0px;
    } * html #sky .left {
    width: 36%;
    display: inline;
    } *:first-child+html #sky .left {
    display: inline;
}

    #home-page #sky .left h1 {
        margin-bottom: 24px;
    }
    
    #home-page #sky .left p {
        padding: 16px 0px;
    }
    
    body[lang=fr] #home-page #sky .left p {
        padding: 8px 0px;
    }
    
    #home-page #sky .left small {
        font-size: 11px;
        color: #444;
        line-height: 10px !important;
    }

#sky .right {
    display: inline-block;
    vertical-align: top;
    width: 60%;
    margin-top: 0px;
    } * html #sky .right {
    display: inline;
    } *:first-child+html #sky .right {
    display: inline;
}

    #home-page #sky .right img {
        margin-left: 50px;
        margin-top: -20px;
        margin-bottom: -55px;
    }

#home-page #ground .fix-width {
    font-size: 12px;
    color: #444;
    line-height: 18px;
}

#features {
    list-style: none;
    margin: 30px 0px;
}
    
    #features li {
        width: 196px;
        padding-right: 38px;
        display: inline-block;
        margin: 0px !important;
        vertical-align: top;
        } * html #features li {
        display: inline;
        } *:first-child+html #features li {
        display: inline;
    }
    
    #features li:last-child {
        padding-right: 0px;
    }
    
    #features li.last-child {
        padding-right: 0px;
    }
        
        #features li h2 {
            font-size: 12px !important;
            font-weight: bold !important;
            margin-top: 16px !important;
        }
        
        #features li .frame {
            position: relative;
            display: inline-block;
            border: 1px solid #b6b6b6;
            text-align: center;
            padding: 2px;
            border-radius: 4px;
            -moz-border-radius: 4px;
            -webkit-border-radius: 4px;
        }
            
            #features li .frame .screenshot {
                border: 1px solid #d0d0d0;
                vertical-align: middle;
                cursor: pointer;
            }
            
            #features li .frame .loading {
                position: absolute;
                top: 70px;
                left: 70px;
            }

#teasers {
    list-style: none;
    margin: 30px 0px;
}
    
    #teasers li {
        display: inline-block;
        width: 240px;
        padding-right: 80px;
        margin: 0px !important;
        vertical-align: top;
        position: relative;
        } * html #teasers li {
        display: inline;
        } *:first-child+html #teasers li {
        display: inline;
    }
    
    #teasers li:last-child {
        padding-right: 0px;
    }
    
    #teasers li.last-child {
        padding-right: 0px;
    }
        
        #teasers li h2 {
            font-size: 12px !important;
            font-weight: bold !important;
            padding-left: 40px;
            margin-top: 8px !important;
        }
        
        #teasers li p {
            padding-left: 40px;
        }
        
        #teasers li img {
            position: absolute;
            top: 8px;
            left: 0px;
        }

a.big-button {
    background: url("../../img/site/big-button.png") no-repeat left center;
    display: inline-block;
    min-width: 270px;
    height: 56px;
    text-align: center;
    vertical-align: middle;
    color: #fff;
    text-decoration: none;
    line-height: normal;
}

    a.big-button big {
        padding: 5px;
        display: block;
        font-size: 20px;
    }
    
    a.big-button small {
        display: block;
        font-size: 11px;
        color: #fff !important;
    }

#screenshot {
    margin: 0px 20px;
    list-style: none;
    position: relative;
    height: 330px;
    overflow: hidden;
}

#screenshot.js {
    height: 420px;
}

    #screenshot li {
        display: inline-block;
        width: 400px;
        height: 330px;
        
        } * html #screenshot li {
        display: inline;
             
        } *:first-child+html #screenshot li {
        display: inline; 
    }
    
    #screenshot.js li {
        position: absolute;
        cursor: pointer;
    }
    
        #screenshot li img {
            box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
            -moz-box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
            -webkit-box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
        }

    #screenshot li.current {
        cursor: default;
    }

#three-cols {
    max-width: 1600px;
    margin: 0px auto;
}
    
    #three-cols div {
        display: inline-block;
        vertical-align: top;
        font-size: 18px;
        font-family: Cambria, "Times New Roman", serif;
        color: #000;
        line-height: 24px;
        
        } * html #three-cols div {
        display: inline;
        
        } *:first-child+html #three-cols div {
        display: inline;
    }
    
        #three-cols h2 {
            font-size: 24px;
            font-weight: normal;
            margin-top: 32px;
            padding-bottom: 10px;
        }
    
        #forty-two-goals {
            width: 30%;
        }
        
            #forty-two-goals .wrap {
                padding: 0px 20px 0px 30px;
            }
        
            #forty-two-goals blockquote {
                position: relative;
                margin: 0px 0px 0px -10px;
                padding: 10px 10px 10px 10px;
                font-style: italic;
                background: #f3f3f3;
                border-radius: 8px;
                -moz-border-radius: 8px;
            }
        /*
                #forty-two-goals iframe {
                    position: absolute;
                    right: 10px;
                    top: 10px;
                }
          */  
                #forty-two-goals iframe,
                #forty-two-goals a {
                    vertical-align: top;
                }
                
            #forty-two-goals ul {
                padding-left: 20px;
                list-style: none;
            }
            
                #forty-two-goals ul li {
                    margin-bottom: 4px;
                    padding-left: 16px;
                    background: url("../../img/site/dash.gif") no-repeat 0px 12px;
                }
            
                #forty-two-goals ul li.selected a {
                    color: #000;
                    border: none;
                    cursor: default;
                }
                
        #carousel-text {
            width: 39%;
        }
        
            #carousel-text ul {
                list-style: none;
                padding: 0px 20px;
            }
            
                #carousel-text ul ul {
                    margin-top: 8px;
                    
                }
                
                    #carousel-text ul ul li {
                        list-style: none;
                        padding: 0px 20px;
                        margin-bottom: 4px;
                        padding-left: 16px;
                        background: url("../../img/site/dash.gif") no-repeat 0px 12px;
                    }
    
            
                #carousel-text p {
                    margin-bottom: 8px;
                }
    
        #account {
            width: 30%;
        }
        
            #register {
                padding: 0px 30px;
            }
            
                #now {
                    margin: 10px 0px;
                    font-size: 24px;
                    text-align: center;
                }
            
            #signin {
                font-family: Arial;
                padding: 20px;
            }
                
                #signin h2 {
                    font-family: Cambria, "Times New Roman", serif;
                    padding-left: 10px;
                }
            
                #signin fieldset {
                    border: none;
                    padding: 10px;
                    border-radius: 8px;
                    -moz-border-radius: 8px;
                    background: #e2ebf4;
                }
                
                    #signin li {
                        margin-bottom: 10px;
                        position: relative;
                    }
                    
                        #signin li p {
                            padding-right: 8px;
                        }
                    
                        #signin label {
                            font-size: 14px;
                            vertical-align: middle;
                        }
                    
                        #signin input {
                            vertical-align: middle;
                        }
                        
                        #signin input.text {
                            font-family: Garamond;
                            font-size: 20px;
                            padding: 3px;
                            width: 100%;
                            margin-top: 3px;
                            border: 1px inset #999;
                        }
                
                        #signin button {
                            padding: 5px 20px;
                            vertical-align: middle;
                            float: right;
                        }
            
                #forgot {
                    padding: 5px 10px;
                    font-size: 14px;
                }
                
            #home-page #blog-entry {
                padding: 20px 30px;
            }
            
#popup-image-container {
    position: absolute;
    position: fixed;
    z-index: 10;
    left: 50%;
    margin-left: -400px;
    top: 120px;
    width: 800px;
    height: 600px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}    
    
    #popup-image-container .close {
        position: absolute;
        top: -15px;
        right: 0px;
        cursor: pointer;
    }
    
    #popup-image {
        text-align: center;
    }
    