.button {
    background: url("../../img/site/button-left.png") no-repeat left center;
    display: inline;
    width: auto;
    height: 31px;
    border: none;
    cursor: pointer;
    text-decoration: none;
    white-space: nowrap;
}

.button span {
    background: url("../../img/site/button-right.png") no-repeat right center;
    display: inline;
    float: left;
    height: 31px;
}

    .button span span {
        background: url("../../img/site/button-bg.png") repeat-x left center;
        margin: 0px 16px;
        display: inline;
        height: 31px;
        line-height: 31px;
        color: #717171;
        font-weight: bold;
    }

.button:hover {
    background-image: url("../../img/site/button-h-left.png");
}

    .button:hover span {
        background-image: url("../../img/site/button-h-right.png");
    }
    
        .button:hover span span {
            background-image: url("../../img/site/button-h-bg.png");
            color: #fff;
        }

.button:disabled {
    background-image: url("../../img/site/button-left.png");
    cursor: default;
}

    .button:disabled span {
        background-image: url("../../img/site/button-right.png");
    }
    
        .button:disabled span span {
            background-image: url("../../img/site/button-bg.png");
            color: #717171;
            font-weight: normal;
        }
        
a.big-button {
    width: 270px;
}
}