@import "general.css";
@import "form.css";
@import "console.css";
@import "login.css";
@import "week.css";
@import "archive.css";
@import "premium.css";
@import "icons.css";
@import "report.css";
@import "templates.css";
@import "posts.css";
@import "home.css";
@import "registration.css";
@import "page.css";
@import "chart.css";
@import "range-calendar.css";
@import "me.css";
@import "communities.css";
@import "feed.css";

html {
    background: #adc6dc url("../../img/site/bg.png") repeat-x center top;
}

body {
    font: normal normal normal 12px Arial;
    color: #444;
/*    text-align: center;*/
    background: url("../../img/site/clouds.png") no-repeat center top;
}

a {
    color: #1b86d9;
}

a img {
    border: none;
}

a.script {
    text-decoration: none;
    border-bottom-style: dashed;
    border-bottom-width: 1px;
}

a.premium {
    text-decoration: none;
}

button::-moz-focus-inner { 
    border: 0;
    padding: 0;
}

* html button { 
    overflow: visible;
    width: 0;
}

*:first-child+html button {
    overflow: visible;
    width: auto !important;
}

.button {
    background: url("../../img/site/button-left.png") no-repeat left center;
    display: inline-block;
    height: 31px;
    border: none;
    cursor: pointer;
    text-decoration: none;
    white-space: nowrap;
}

.button:active {
    margin: 0px;
}

    .button > span {
        background: url("../../img/site/button-right.png") no-repeat right center;
        display: block;
        height: 31px;
    }
    
        .button > span > span {
            background: url("../../img/site/button-bg.png") repeat-x left center;
            margin: 0px 16px;
            display: block;
            height: 31px;
            line-height: 31px;
            color: #717171;
            font-weight: bold;
        }
    
    .button:hover {
        background-image: url("../../img/site/button-h-left.png");
    }
    
        .button:hover > span {
            background-image: url("../../img/site/button-h-right.png");
        }
        
            .button:hover > span > span {
                background-image: url("../../img/site/button-h-bg.png");
                color: #fff;
            }
    
    .button:disabled {
        background-image: url("../../img/site/button-left.png");
        cursor: default;
    }
    
        .button:disabled > span {
            background-image: url("../../img/site/button-right.png");
        }
        
            .button:disabled > span > span {
                background-image: url("../../img/site/button-bg.png");
                color: #717171;
                font-weight: normal;
            }

.rounded {
    border-radius: 7px;
    -moz-border-radius: 7px;
}

.shadowed {
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

#progress {
    position: fixed;
    right: 20px;
    top: 0px;
    min-height: 18px;
    min-width: 200px;
    margin-left: -100px;
    background: #fff;
    border: 2px solid #d2e1ec;
    border-radius: 8px;
    
    } * html .loading {
    position: absolute;
    top: expression(document.body.scrollTop + (document.body.offsetHeight / 2) + 'px');
}

#progress p {
    padding: 5px;
    font: normal normal normal 14px Arial;
    text-align: center;
}

#wrapper {
    position: relative;
    width: 100%;
    min-width: 980px;
    min-height: 100%;
    margin: 0 auto;
    text-align: left;
    
    /* hide from ie6 */
    } html>body #wrapper {
    overflow: hidden;
    
    /* for ie6 */
    } * html #wrapper {
    height: 100%;
}

#wrapper.gray {
    background: #f3f3f3;
}

.app #wrapper {
    background: #fff;
}

.me #wrapper {
    background: #fff;
}

#ie-warning {
    padding: 5px 20px;
    background: #fef8d4;
    font-weight: bold;
}

#header {
    height: 110px;
    background: #adc6dc url("../../img/site/bg.png") repeat-x center top;
    position: relative;
}
    #header .wrap {
        width: 980px;
        margin: 0px auto;
        position: relative;
    }
    
    .app #header .wrap {
        width: 100%;
    }
    
    #header .bg {
        position: absolute;
        left: 0px;
        width: 100%;
        min-height: 100%;
        background: url("../../img/site/clouds.png") no-repeat center top;
    }

    #logo {
        position: absolute;
        left: 20px;
        top: 20px;
        font-weight: normal;
        font-family: Arial;
    }
    
        #logo img {
            vertical-align: middle;
        }
    
    
        #logo span {
            text-align: left;
            display: inline-block;
            font-family: Cambria, "Times New Roman", serif;
            font-size: 18px;
            color: #223f51;
            vertical-align: middle;
            margin-left: 5px;
        }
        
    #main-menu {
        list-style: none;
        position: absolute;
        top: 20px;
        right: 20px;
    }
    
        #main-menu li {
            display: inline-block;
            font: normal normal normal 14px Arial;
            margin-left: 20px;
            } * html #main-menu li {
            display: inline;
            } *:first-child+html #main-menu li {
            display: inline;
        }        
            #main-menu a {
                text-decoration: none;
            }
        
            #main-menu b {
                font-weight: normal;
            }
            
            #main-menu img {
                margin-bottom: -2px;
            }
    
    #userbox {
        position: absolute;
        right: 20px;
        top: 50px;
        font-size: 14px;
        white-space: nowrap;
    }

        #userbox > a {
            margin-right: 20px;
            text-decoration: none;
            vertical-align: middle;
        }
        
        #userbox > a img {
            vertical-align: middle;
        }
        
        #userbox > a.btn {
            margin-right: 0px;
            margin-left: 10px;
        }
        
        #userbox .profile {
            position: relative;
            background: #fff;
            /*background: transparent;
            background: rgba(255, 255, 255, 0.7);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#b2ffffff',EndColorStr='#b2ffffff');*/
            border-radius: 4px;
            -moz-border-radius: 4px;
            -webkit-border-radius: 4px;
            min-width: 130px;
            border: 1px solid transparent;
            border-bottom: 0px;
            display: inline-block;
            } * html #userbox .profile {
            display: inline;
            } *:first-child+html #userbox .profile {
            display: inline;
        }
        
        #userbox .profile:hover,
        #userbox .profile.over {
            border-color: #a0a0a0;
            border-color: rgba(0, 0, 0, 0.1);
            border-bottom-left-radius: 0px;
            border-bottom-right-radius: 0px;
            -moz-border-radius-bottomleft: 0px;
            -moz-border-radius-bottomright: 0px;
            -webkit-border-bottom-left-radius: 0px;
            -webkit-border-bottom-right-radius: 0px;
        }
            
            #userbox .profile img {
                vertical-align: middle;
                width: 24px;
                height: 24px;
                margin-right: 6px;
            }
            
            #userbox .profile a,
            #userbox-menu a {
                display: block;
                padding: 5px;
                vertical-align: middle;
                text-decoration: none;
            }
            
            #userbox .profile ul,
            #userbox-menu {
                position: absolute;
                z-index: 10;
                list-style: none;
                right: -1px;
                top: 34px;
                width: 100%;
                font-size: 14px;

                background: #fff;
                /*background: transparent;
                background: rgba(255, 255, 255, 0.7);
                filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#b2ffffff',EndColorStr='#b2ffffff');*/
                
                border-bottom-left-radius: 4px;
                border-bottom-right-radius: 4px;
                -moz-border-radius-bottomleft: 4px;
                -moz-border-radius-bottomright: 4px;
                -webkit-border-bottom-left-radius: 4px;
                -webkit-border-bottom-right-radius: 4px;
                
                border: 1px solid #a0a0a0;
                border: 1px solid rgba(0, 0, 0, 0.1);
                border-top: 0px;
            
                display: none;
            }
            
            #userbox .profile:hover ul {
                display: block;
            }
            
                #userbox .profile ul a,
                #userbox-menu a {
                    padding: 5px 20px 5px 40px;
                    display: block;
                    text-align: left;
                }
                
                #userbox .profile ul a:hover {
                    background: #eff3f7;
                }

#notifications {
    position: relative;
    margin-right: 5px;
    background: #fff;
    /*background: transparent;
    background: rgba(255, 255, 255, 0.7);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#b2ffffff',EndColorStr='#b2ffffff');*/
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border: 1px solid transparent;
    border-bottom: 0px;
    display: inline-block;
    } * html #notifications {
    display: inline;
    } *:first-child+html #notifications {
    display: inline;
}

#notifications:hover,
#notifications.over {
    border-color: #a0a0a0;
    border-color: rgba(0, 0, 0, 0.1);
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    -moz-border-radius-bottomleft: 0px;
    -moz-border-radius-bottomright: 0px;
    -webkit-border-bottom-left-radius: 0px;
    -webkit-border-bottom-right-radius: 0px;
}
    
    #notifications-indicator {
        display: block;
        padding: 5px 5px 5px;
        vertical-align: middle;
        text-decoration: none;
    }
        
        #notifications-indicator img {
            width: 24px;
            height: 24px;
            vertical-align: middle;
        }
        
        #notifications-indicator small {
            font-size: 11px;
            font-family: Courier New;
            font-weight: bold;
            padding: 0px 3px;
            margin-left: -10px;
            background: crimson;
            color: #fff;
            border-radius: 6px;
            -moz-border-radius: 6px;
            -webkit-border-radius: 6px;
        }
    
    #notifications-list {
        position: absolute;
        z-index: 10;
        list-style: none;
        right: -1px;
        top: 34px;
        width: 250px;
        font-size: 14px;

        background: #fff;
        /*background: transparent;
        background: rgba(255, 255, 255, 0.7);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#b2ffffff',EndColorStr='#b2ffffff');*/
        
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
        -moz-border-radius-topleft: 4px;
        -moz-border-radius-bottomleft: 4px;
        -moz-border-radius-bottomright: 4px;
        -webkit-border-top-left-radius: 4px;
        -webkit-border-bottom-left-radius: 4px;
        -webkit-border-bottom-right-radius: 4px;
        
        border: 1px solid #a0a0a0;
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-top: 0px;
    
        display: none;
        
        box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.3);
        -moz-box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.3);
        -webkit-box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.3);
        
    }
    
    #notifications:hover ul {
        display: block;
        max-height: 500px;
        overflow: auto;
    }
        
        #notifications-list li {
            border-top: 1px solid #a0a0a0;
            border-top: 1px solid rgba(0, 0, 0, 0.1);
            }
        
        #notifications-list li:first-child {
            border-top: none;
        }
        
            #notifications-list a {
                padding: 10px;
                color: #444;
                font-size: 12px;
                text-decoration: none;
                display: block;
                text-align: left;
                white-space: normal;
            }
            
                #notifications-list a img {
                    display: inline-block;
                    vertical-align: middle;
                    width: 25px;
                    height: 25px;
                    margin: 0.5ex 1ex 0.5ex 0;
                }
            
                #notifications-list a span {
                    display: inline-block;
                    vertical-align: middle;
                    width: 180px;
                }
            
                #notifications-list a small {
                    display: block;
                    font-size: 10px;
                    color: #999;
                    margin-bottom: 0.5ex;
                }
        
            #notifications-list .all a {
                color: #1b86d9;
                font-weight: bold;
                text-decoration: none;
                text-align: center;
            }
            
            #notifications-list a:hover {
                background: #eff3f7;
            }

#feed {
    position: relative;
    margin-right: 20px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border: 1px solid transparent;
    display: inline-block;
    } * html #notifications {
    display: inline;
    } *:first-child+html #notifications {
    display: inline;
}
    
    #feed-indicator {
        display: block;
        vertical-align: middle;
        text-decoration: none;
    }
        
        #feed-indicator img {
            width: 16px;
            height: 16px;
            vertical-align: middle;
        }
        
        #feed-indicator small {
            font-size: 11px;
            font-family: Courier New;
            font-weight: bold;
            padding: 0px 3px;
            margin-left: -2px;
            background: #1b86d9;
            color: #fff;
            border-radius: 6px;
            -moz-border-radius: 6px;
            -webkit-border-radius: 6px;
        }
                    
#content {
    padding-bottom: 70px;
}
        
#content.wide-footer {
    padding-bottom: 420px;
}

#sky {
    font-family: "Trebuchet MS", Arial;
    background: #adc6dc url("../../img/site/bg.png") repeat-x center -110px;
}

    #sky .bg {
        background: url("../../img/site/clouds.png") no-repeat center -110px;
        min-height: 100%;
        padding-bottom: 20px;
    }

    .app #sky .bg {
        padding-bottom: 0px;
    }

    .me #sky .bg {
        padding-bottom: 0px;
    }
    
#ground {
    background: #f3f3f3;
    position: relative;
    font-family: "Trebuchet MS", Arial;
    font-side: 16px;
}
    
    #ground .deco {
        background: url("../../img/site/content-deco.png") repeat-x left top;
        top: -7px;
        left: 0px;
        position: absolute;
        height: 7px;
        width: 100%;
    }
    
.app #ground {
    background: #fff;
    font-family: Arial;
    font-side: 12px;
    color: #000;
}

    .app #ground .deco {
        display: none;
    }
    
.me #ground {
    background: #fff;
    font-family: Arial;
    font-side: 12px;
    color: #000;
}

    .me #ground .deco {
        display: none;
    }
    
    #ground .hl {
        border-top: 1px solid #cfcfcf;
        border-bottom: 3px solid #fff;
        margin: 20px 0px;
        font-size: 1px;
        height: 0px;
    }
    
    #content #ground .fix-width blockquote {
        border-top: 1px solid #cfcfcf;
        border-bottom: 3px solid #fff;
        margin: 20px 0px;
    }

        #content #ground .fix-width blockquote h2 {
            border-top: 3px solid #fff;
            border-bottom: 1px solid #cfcfcf;
            padding: 25px 0px;
            margin: 0px !important;
            text-align: center;
            font-size: 20px !important;
            color: #666;
        }

        body[lang=ru] #content #ground .fix-width blockquote h2 {
            font-size: 18px !important;
        }
    
            #content #ground .fix-width blockquote a {
                font-style: italic;
            }

    #content .fix-width {
        width: 980px;
        margin: 0px auto;
        font-size: 14px;
        line-height: 24px;
    }

    #content .loose-width {
        width: 980px;
        margin: 0px auto;
    }
        
        #content .fix-width .wrap {
            padding: 20px 25px;
        }
        
            #content #sky .fix-width h1 {
                font-family: Trebuchet MS, Arial;
                font-size: 40px;
                font-weight: normal;
                margin-top: 8px;
                margin-bottom: 32px;
                line-height: 32px;
            }
        
            #content #ground .fix-width h1 {
                font-family: Trebuchet MS, Arial;
                font-size: 40px;
                font-weight: normal;
                margin-top: 8px;
                margin-bottom: 32px;
            }
        
            #content #ground .fix-width h2 {
                font-family: Trebuchet MS, Arial;
                font-size: 24px;
                font-weight: normal;
                margin-top: 32px;
                margin-bottom: 8px;
            }
        
            #content #ground .fix-width h3 {
                font-size: 16px;
                font-weight: bold;
                margin-top: 24px;
                margin-bottom: 8px;
            }
        
            #content #ground .fix-width p {
                margin-bottom: 8px;
            }
        
            #content #ground .fix-width ul {
                margin-bottom: 8px;
            }
            
                #content #ground .fix-width ul li {
                    margin-left: 20px;
                    margin-bottom: 8px;
                }
        
#team {
    padding: 20px 0px;
}

    #team .teammate {
        display: inline-block;
        vertical-align: top;
        width: 25%;
        margin-right: -1ex;

        } * html #team .teammate {
        display: inline;

        } *:first-child+html #team .teammate {
        display: inline;
    }
        
        #team h3 {
            /*font-weight: normal !important;
            font-size: 14px !important;*/
            margin-top: 0 !important;
        }
        
        #team cite {
            display: block;
            margin-top: -16px;
            font-style: normal;
            /*font-weight: normal !important;
            font-size: 14px !important;*/
        }

    #footer {
        position: relative;
        width: 100%;
        height: 70px;
        margin: -70px auto 0 auto;
        text-align: left;
        background: #303030;
        
        /* for ie6 */
        } * html #footer {
        left: 0px;
        
        /* for ie7 */
        } *:first-child+html #footer {
        left: 0px;
    }
    
    #footer.wide {
        height: 380px;
        margin: -380px auto 0 auto;
    }
    
        #footer a {
            color: #65b4f2;
        }
    
        #footer .deco {
            background: url("../../img/site/footer-bg.png") repeat-x left top;
            top: -3px;
            left: 0px;
            position: absolute;
            height: 3px;
            width: 100%;
        }
    
        #footer.wide .deco {
            background-image: url("../../img/site/footer-deco.png");
            top: 0px;
            height: 8px;
            z-index: 2;
        }
    
        .app #footer .deco {
            display: none;
        }
    
        .me #footer .deco {
            display: none;
        }
    
        #footer #social {
            background: #4a4a4a;
            height: 290px;
            position: relative;
            font-size: 12px;
            color: #fff;
            padding-top: 20px;
        }
        
            #footer #social h2 {
                color: #fff;
                font-size: 12px;
                font-weight: bold;
            }
        
            #footer #social small {
                color: #999;
                font-size: 11px;
            }
            
            #footer #social .wrap {
                width: 980px;
                margin: 0px auto;
            }
        
        #blogroll {
            position: absolute;
            left: 20px;
            top: 20px;
            width: 250px;
            padding-left: 40px;
            background: url("../../img/site/icon-blog.png") no-repeat left top;
        }
        
            #blogroll ul {
                list-style: none;
            }
            
                #blogroll li {
                    margin-top: 20px;
                }
        
        #facebook {
            position: absolute;
            left: 350px;
            top: 20px;
            width: 250px;
            list-style: none;
            padding-left: 40px;
            background: url("../../img/site/icon-facebook.png") no-repeat left top;
        }
        
        #twitter {
            position: absolute;
            right: 40px;
            top: 20px;
            width: 250px;
        }
        
            #twitter ul {
                list-style: none;
                background: #272a2e;
                padding: 16px 20px;
                border-radius: 4px;
                border: 1px solid #1f2125;
                box-shadow: 0px 0px 4px #17181b;
            }
            
                #twitter li {
                    /*padding-left: 20px;*/
                    margin-bottom: 20px;
                    overflow: hidden;
                }
            
                #twitter li:last-child {
                    margin-bottom: 0px;
                }
                
            #twitter .corner {
                border: 10px solid transparent;
                border-top: 10px solid #272a2e;
                display: inline-block;
                margin-left: 25px;
                margin-top: -1px;
                width: 0px;
            }
                
            #twitter .follow-us {
                display: block;
                margin-left: 18px;
                margin-top: -10px;
                padding-left: 40px;
                background: url("../../img/site/icon-twitter.png") no-repeat left top;
                line-height: 24px;
            }
        
        #footer .wrap {
            width: 980px;
            margin: 0px auto;
            position: relative;
        }
        
        .app #footer .wrap {
            width: 100%;
        }
    
        #footer .logo {
            position: absolute;
            top: 20px;
            right: 25px;
        }
        
        #footer #credits {
            color: #999;
            position: absolute;
            top: 20px;
            left: 25px;
        }
        
        #footer #language {
            position: absolute;
            top: 40px;
            left: 25px;
        }
            
            #footer #language a {
                margin-left: 20px;
            }
            
                #footer #language a img {
                    margin-left: -20px;
                }
        
        #bottom-menu {
            list-style: none;
            position: absolute;
            top: 20px;
            left: 200px;
            width: 700px;
        }
        
            #bottom-menu li {
                display: inline-block;
                margin-right: 16px;
        
                } * html #bottom-menu li {
                display: inline;
        
                } *:first-child+html #bottom-menu li {
                display: inline;
            }
            
                #bottom-menu li a {
                    color: #65b4f2;
                }
