#me-profile {
    font-family: Arial;
    display: inline-block;
    width: 220px;
    vertical-align: top;
    background: #fff;
    margin: 20px 0px 40px 20px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    } * html #me-profile {
    display: inline;
    } *:first-child+html #me-profile {
    display: inline;
}

    #me-profile .wrap {
        padding: 20px;
    }
    
    #me-profile h1 {
        font-size: 16px;
        font-weight: normal;
        margin: 15px 0px 10px;
        color: #000;
    }
    
    #me-profile h2 {
        font-size: 13px;
        font-weight: bold;
        margin: 25px 5px 10px;
        padding-bottom: 5px;
        background: url("../../img/site/me-menu-bg.png") repeat-x bottom;
    }
    
    #me-profile div {
        font-size: 13px;
    }
    
        #me-profile fieldset {
            border: none;
        }
            
            #me-profile fieldset li {
                margin-left: 0px;
                margin-bottom: 4px;
                position: relative;
            }
                
                #me-profile li .inputwrap {
                    padding-right: 6px;
                }
                
                #me-profile li .locationwrap {
                    padding-right: 23px;
                }
                
                #me-profile input {
                    padding: 3px;
                    background: transparent;
                    border: none;
                    width: 100%;
                    font-size: 13px;
                }
                
                #me-profile input.url {
                    color: #1b86d9;
                    text-decoration: underline;
                }

                #me-profile input.empty {
                    color: #ccc;
                    text-decoration: none;
                }
                
                #me-profile input:hover {
                    background-color: #eff3f7;
                }
                
                #me-profile input#profile-location {
                    padding-left: 20px;
                    background-image: url("../../img/site/location.png");
                    background-repeat: no-repeat;
                    background-position: 3px center;
                }
                
                #me-profile input#profile-name {
                    font-size: 16px;
                }
                
                #me-profile textarea {
                    width: 100%;
                    padding: 3px;
                    background: transparent;
                    border: none;
                    font-family: Arial;
                    font-size: 13px;
                    font-style: italic;
                    color: #666;
                }
                
                #me-profile textarea.empty {
                    color: #ccc;
                    text-decoration: none;
                    font-style: normal;
                }                
                
                #me-profile textarea:hover {
                    background: #eff3f7;
                }
                
    #profile-picture {
        width: 180px;
        height: 270px;
        border: 1px dashed transparent;
        margin-bottom: 10px;
        position: relative;
    }
                
    #profile-picture.empty {
        background: #eff3f7;
        border-color: #d2e1ec;
    }
                    
        #profile-picture i {
            display: none;
        }
        
        #profile-picture.empty i {
            display: block;
            position: absolute;
            font-style: normal;
            color: #999;
            top: 100px;
            left: 0px;
            width: 100%;
            text-align: center;
        }
                
    #profile-picture img {
        width: 180px;
        /*height: 270px;*/
    }

        #profile-picture .bg {
            position: absolute;
            top: 220px;
            left: 0px;
            width: 180px;
            height: 50px;
            background: #000;
            opacity: 0.5;
            filter: alpha(opacity: 50);
        }
                    
        #profile-picture.empty .bg {
            background: transparent;
        }
                    
        #profile-picture-uploader {
            position: absolute;
            top: 230px;
            left: 0px;
            width: 180px;
            height: 30px;
        }

        #profile-picture.empty #profile-picture-uploader {
            top: 160px;
        }        
        
    #profile-info {
        margin: 10px 5px;
        line-height: 24px;
    }
            
        #profile-info ul {
            list-style: none;
        }
        
        #profile-info i {
            color: #666;
        }
        
        #profile-info a {
            font-size: 13px;
        }
        
    #profile-tools {
        margin: 10px 5px;
    }
    
        #profile-tools a {
            display: block;
            margin-top: 1ex;
            word-wrap: break-word;
        }
        
    #profile-publicity img {
        vertical-align: middle;
        cursor: pointer;
    }
        
    #profile-publicity span {
        vertical-align: middle;
        margin-left: 5px;
    }
        
    #profile-publicity img.loading {
        display: none;
        cursor: default;
    }
        
    #profile-publicity.public #profile-private {
        display: none;
    }
        
    #profile-publicity.private #profile-public {
        display: none;
    }
        
    #profile-publicity.loading img {
        display: none;
    }
        
    #profile-publicity.loading img.loading {
        display: inline;
    }
    
#profile-friends {
    list-style: none;
    padding: 0px 5px;
}
    
    #profile-friends li {
        display: inline-block;
        width: 50%;
        margin-right: -1ex;
        min-height: 35px;
        vertical-align: top;
        } * html #profile-friends li {
        display: inline;
        } *:first-child+html #profile-friends li {
        display: inline;
    }
    
        #profile-friends li a {
            display: block;
            text-decoration: none;
            padding-right: 10px;
            position: relative;
        }

            #profile-friends li img {
                width: 25px;
                height: 25px;
                position: absolute;
                left: 0px;
                top: 0px;
            }
    
            #profile-friends li b {
                vertical-align: middle;
                font-weight: normal;
                font-size: 11px;
                display: block;
                padding-left: 30px;
            }
        
#profile-communities {
    list-style: none;
}
    
    #profile-communities li {
        display: inline;
        margin-right: 1ex;
    }
        
        #profile-communities li img {
            width: 50px;
            height: 50px;
        }
        
#profile-badges {
    list-style: none;
    margin-left: 5px;
}
    
    #profile-badges li {
        display: inline;
        margin-right: 0.5ex;
    }
        
        #profile-badges li img {
            width: 50px;
            height: 50px;
            opacity: 0.8;
        }

#me-content {
    font-family: Arial;
    display: inline-block;
    vertical-align: top;
    width: 705px;
    background: #fff;
    margin: 20px 0px 40px 10px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    } * html #me-content {
    display: inline;
    } *:first-child+html #me-content {
    display: inline;
}

    #me-content .wrap {
        padding: 20px 0px 20px 20px;
    }

    #me-content h1 {
        font-size: 16px;
        font-weight: normal;
        margin: 15px 0px 10px;
        color: #000;
    }
    
        #me-content h1 img {
            vertical-align: top;
        }
    
    #me-content h2 {
        font-size: 13px;
        font-weight: bold;
        margin: 25px 20px 10px 0px;
        padding-bottom: 5px;
    }
    
    #me-content h2.border {
        background: url("../../img/site/me-menu-bg.png") repeat-x bottom;
    }
    
        #me-content h2 small {
            font-weight: normal;
            font-size: 12px;
            margin-left: 1em;
        }
        
            #me-content h2 small a {
                text-decoration: none;
            }
    
    #me-layout li {
        vertical-align: top;
        width: 320px;
        height: 240px;
        margin: 10px 20px 10px 0px;
        position: relative;
        padding-top: 20px;
        border: 1px dashed transparent;
        display: inline-block;
        } * html #me-layout li {
        display: inline;
        } *:first-child+html #me-layout li {
        display: inline;
    }
    
    #me-content .empty-message {
        text-align: center;
        padding: 40px;
    }
    
    #me-content .tip {
        padding: 0px 20px 0 0;
        font-size: 13px;
    }
        
    #me-layout li.wide {
        width: 662px;
    }
    
    #me-layout li.empty {
        background: #eff3f7;
        border-color: #d2e1ec;
    }
    
    #me-layout li.static {
    }
    
    #me-layout li:hover {
        border-color: #d2e1ec;
    }
    
    #me-layout li.static:hover {
        border-color: transparent;
    }    
        
        #me-layout li .toolbar {
            position: absolute;
            top: 0px;
            right: 0px;
            display: none;
            background: #7f7f7f;
            padding: 5px;
            line-height: 10px;
        }
            
            #me-layout li .toolbar img {
                position: relative;
                cursor: pointer;
            }
            
            #me-layout li .toolbar .edit {
                margin-right: 4px;
            }
        
        #me-layout li h2 {
            position: absolute;
            top: 5px;
            left: 0px;
            width: 100%;
            padding: 3px;
            margin: 0px;
            text-align: center;
            font-size: 14px;
            font-weight: normal;
        }
        
        #me-layout li .add {
            position: absolute;
            top: 111px;
            left: 50%;
            width: 130px;
            margin-left: -65px;
            padding-left: 50px;
            text-align: left;
            font-size: 14px;
            font-weight: bold;
            line-height: 40px;
            text-decoration: none;
            background: url("../../img/site/chart-add.png") no-repeat left center;
            display: none;
        }
        
        #me-layout li.empty .add {
            display: block;
        }
        
        #me-layout li:hover .toolbar {
            display: block;
        }
        
        #me-layout li.empty:hover .toolbar {
            display: none;
        }
    
#chart-constructor-container {
    position: absolute;
    z-index: 10;
    left: 50%;
    margin-left: -400px;
    top: 120px;
    width: 800px;
    height: 500px;
    background: #fff;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}    
    
    #chart-constructor-container .close {
        position: absolute;
        top: -25px;
        right: -25px;
        cursor: pointer;
    }
    
    #chart-constructor {
        margin: 20px;
        font-size: 12px;
        background: url("../../img/site/chart-step-bg.png") repeat-x top;
    }
    
    #chart-constructor dl {
        background: url("../../img/site/chart-step-right.png") no-repeat right top;
    }
    
    #chart-constructor dt {
        width: 33.3%;
        margin: 0px -1em 20px 0px;
        line-height: 12px;
        vertical-align: top;
        background: url("../../img/site/chart-step-arrow.png") no-repeat right top;
        display: inline-block;
        } * html #chart-constructor dt {
        display: inline;
        } *:first-child+html #chart-constructor dt {
        display: inline;
    }
    
    #chart-constructor dt.third {
        background: none;
    }
    
    #chart-constructor dd {
        width: 33.3%;
        margin-right: -1em;
        vertical-align: top;
        display: inline-block;
        } * html #chart-constructor dd {
        display: inline;
        } *:first-child+html #chart-constructor dd {
        display: inline;
    }

    #chart-constructor .first {
        width: 35%;
    }
    #chart-constructor .second {
        width: 40%;
    }
    #chart-constructor .third {
        width: 25%;
    }
    
        #chart-constructor dd > div {
            padding: 0px 10px;
        }
    
    #chart-constructor ul {
        list-style: none;
    }
        
    #chart-constructor dt span {
        display: block;
        font-size: 14px;
        font-weight: bold;
        color: #999;
        line-height: 53px;
        padding: 0px 20px;
    }
        
    #chart-constructor dt.first span {
        background: url("../../img/site/chart-step-left.png") no-repeat left top;
    }
        
    #chart-constructor b {
        display: inline-block;
        width: 60px;

        } * html #chart b {
        display: inline;
            
        } *:first-child+html #chart b {
        display: inline;
    }
    
    #chart-constructor .options {
        list-style: none;
        display: inline-block;
        } * html #chart-constructor .options {
        display: inline;
        } *:first-child+html #chart-constructor .options {
        display: inline;
    }
        
        #chart-constructor .options li {
            display: inline-block;
            margin-right: 5px;
            padding: 2px 5px;
            cursor: pointer;
            } * html #chart-constructor .options li {
            display: inline;
            } *:first-child+html #chart-constructor .options li {
            display: inline;
        }
        
        /*#chart-type li {
            height: 32px;
        }*/
        
        #chart-constructor .options li.selected {
            background: #eff3f7;
        }
            
            #chart-constructor .options li img {
                float: none;
                vertical-align: middle;
            }
            
    #chart-advanced {
        display: inline-block;
        list-style: none;
        vertical-align: top;
        margin-left: 2px;
        } * html #chart-advanced {
        display: inline;
        } *:first-child+html #chart-advanced {
        display: inline;
    }
    
        #chart-advanced > li {
            margin-bottom: 5px;
        }  
    
        #chart-advanced > li input,
        #chart-advanced > li label {
            vertical-align: middle;
        }  

        
    #chart-constructor-container #chart-canvas-container {
        text-align: center;
        position: relative;
    }
        
    #chart-constructor-container #chart-canvas {
        text-align: left;
        display: inline-block;
        margin: 0px auto 20px;
        border: 1px dashed #ccc;
        } * html #chart-constructor-container #chart-canvas {
        display: inline;
        } *:first-child+html #chart-constructor-container #chart-canvas {
        display: inline;
    }
    
    #chart-constructor-container #chart-title {
        position: absolute;
        width: 300px;
        left: 50%;
        margin-left: -150px;
        padding: 3px;
        top: 2px;
        background: transparent;
        border: none;
        text-align: center;
    }
        
    #chart-constructor-container .buttons {
        text-align: center;
    }
            
        #chart-constructor-container .buttons button {
        }

#me-goals-table-wrap {
    padding-top: 20px;
    padding-right: 20px;
}

/* table */
#me-goals {
    border-spacing: 0px;
    position: relative;
    width: 100%;
    margin-bottom: 20px;
    
    } * html #me-goals {
    border-collapse: collapse;
    
    } *:first-child+html #me-goals {
    border-collapse: collapse;
}

    #me-goals thead {
        background: url("../../img/site/me-goals-bg.png") repeat-x top;
    }
    
        #me-goals thead th {
            border-bottom: 1px solid #d4d4d4;
            text-align: left;
            vertical-align: middle;
        }

        #me-goals thead th img {
            display: none;
            cursor: pointer;
        }

        #me-goals:hover thead th img {
            display: inline;
            margin-left: 10px;
        }

        #me-goals thead td {
            padding: 10px 5px;
            text-align: center;
            font-weight: normal;
            font-size: 12px;
            width: 12%;
            border-bottom: 1px solid #d4d4d4;
        }
    
        #me-goals thead td.today {
        }
    
            #me-goals thead td b {
                font-size: 16px;
                font-weight: normal; 
            }
        
            #me-goals thead td.weekend {
                color: crimson;
            }
            
    #me-goals tbody {
        width: 100%;
        
    }
        
        #me-goals tbody th {
            font-size: 13px;
            font-weight: normal;
            padding: 10px;
            line-height: 16px;
            vertical-align: top;
            border-right: 1px solid #ccc;
        }
            
            #me-goals tbody th * {
            }
            
            #me-goals tbody th img {
                max-width: 24px;
                max-height: 24px;
                margin-right: 4px;
                margin-left: -20px;            
            }
            
            #me-goals tbody th a {
                display: inline-block;
                width: 100px;
            }
        
        #me-goals tbody td {
            padding: 10px 0px;
            text-align: center;
            background: #fff;
            line-height: 16px;
            vertical-align: top;
            color: #333;
        }

        #me-goals tbody td.today {
            background: #eff3f7;
        }        
        
        #me-goals tbody td .numeric {
            white-space: nowrap;
        }
        
        #me-goals tbody td .boolean {
        }
        
        #me-goals tbody td .counter {
        }
    
        #me-goals tbody td big {
            font-size: 18px;
        }

        #me-goals tbody td img {
            width: 16px;
            height: 16px;
            margin: 1px;
        }

        #me-goals tbody td .number {
            font-size: 12px;
            font-family: Arial;
            text-align: center;
        }

        #me-goals tbody td .number span {
            margin-left: 0.3ex;
            color: #999;
        }

        #me-goals tbody td .time {
            font-size: 12px;
            font-family: Arial;
            text-align: center;
            display: inline;
            vertical-align: middle;
        }
            
            #me-goals tbody td .time span {
                font-size: 12px;
                vertical-align: middle;
                display: inline-block;
            }
            
            #me-goals tbody td .time .secs {
                font-size: 8px;
                margin-top: -7px;
                margin-left: 2px;
            }
            
            #me-goals tbody td .time .tick {
                vertical-align: middle;
                font-family: Courier New;
                margin-top: -1px;
            }
            
#me-goals-move {
    margin: 10px 10px 30px 10px;
    position: relative;
}

    #me-goals-move .prev {
        position: relative;
        left: 0px;
        top: 0px;
    }

    #me-goals-move .next {
        position: absolute;
        right: 0px;
        top: 0px;
    }

#me-goals-list {
    list-style: none;
    margin-top: 20px;
    margin-left: 10px;
}
    
    #me-goals-list li {
        margin-bottom: 10px;
    }
    
        #me-goals-list li h2 {
            font-size: 16px;
            font-weight: normal;
            margin: 0px;
            display: inline;
            vertical-align: middle;
        }
    
        #me-goals-list li img.btn {
            vertical-align: middle;
            cursor: pointer;
            margin-right: 5px;
            display: none;
        }
        
        #me-goals-list li.public img.public {
            display: inline;
        }
        
        #me-goals-list li.private img.private {
            display: inline;
        }
        
        #me-goals-list li.loading img.progress {
            display: inline;
        }
        
        #me-goals-list-wrap button {
            margin: 10px 10px 30px;
        }
        
#me-post-form {
    margin-top: 20px;
}

    #me-post-form fieldset {
        border: none;
    }
    
        #me-post-form li {
            margin-bottom: 20px;
            padding-right: 40px;
        }
        
            #me-post-form li label {
                margin-bottom: 5px;
                font-size: 14px;
                vertical-align: middle;
            }
            
            #me-post-form li label.block {
                display: block;
            }
        
            #me-post-form li select {
                padding: 5px;
                vertical-align: middle;
                background: #fff;
                font-family: Arial;
                font-size: 14px;
                margin: 0px 1ex;
            }
        
            #me-post-form li input {
                padding: 5px;
                font-size: 16px;
                width: 100%;
            }
        
            #me-post-form li textarea {
                padding: 5px;
                font-size: 16px;
                font-family: Arial;
                border: 2px inset;
                width: 100%;
                height: 400px;
            }
        
            #me-post-form li .wysiwyg iframe {
                width: 100%;
                height: 400px;
                padding: 5px;
            }
        
            #me-post-form li .wysiwyg textarea {
                width: 100%;
                height: 400px;
                font-size: 14px;
                font-family: Courier New, monospace;
            }
        
            #me-post-form li .wysiwyg .toolbar {
                padding: 5px 0px;
            }
            
                #me-post-form li .wysiwyg button {
                    border: none;
                    background: none;
                    margin-right: 5px;
                    border: 1px outset transparent;
                    padding: 3px;
                    cursor: pointer;
                }
        
            #me-post-form .buttons {
                padding: 10px 0px;
                font-size: 14px;
                position: relative;
            }
            
                #me-post-form .buttons button {
                    vertical-align: middle;
                }
                
                #me-post-form .buttons a {
                    vertical-align: middle;
                }
                #me-post-form .buttons .or {
                    vertical-align: middle;
                }
                
                #me-post-form .buttons img {
                    vertical-align: middle;
                    cursor: pointer;
                }
                
                #me-post-form .buttons .delete {
                    position: absolute;
                    right: 25px;
                }

        #me-post-form.answer p {
            padding: 20px;
            font-size: 16px;
            line-height: 24px;
            text-align: center;
        }

#me-toolbar {
    padding: 20px;
}
                
#me-posts-list {
    list-style: none;
    font-size: 18px;
    margin: 0px 20px;
}

    #me-posts-list > li {
        padding-left: 0px;
        margin-bottom: 10px;
    }                
    
#me-menu {
    list-style: none;
    font-size: 14px;
    background: url("../../img/site/me-menu-bg.png") repeat-x bottom;
    margin-right: 20px;
}

    #me-menu li {
        display: inline-block;
        padding: 8px 10px 8px;
        } * html #me-menu li {
        display: inline;
        } *:first-child+html #me-menu li {
        display: inline;
    }
    
    #me-menu li.current {
        background: url("../../img/site/me-menu-bg2.png") repeat-x bottom;
    }
    
        #me-menu li img {
            vertical-align: middle;
        }
    
        #me-menu li a {
            vertical-align: middle;
            text-decoration: none;
        }
    
        #me-menu li b {
            vertical-align: middle;
            font-weight: normal;
        }
        
#community-description {
    font-size: 14px;
    line-height: 20px;
}

.file-upload-frame {
    background: transparent;
    border: none;
}

#connection-tools {
    margin: 10px 5px;
}

#ninja {
    width: 600px;
    text-align: center;
    margin: 0px auto;
}
    
    #info-window-content h2 {
        font-weight: normal;
        font-size: 16px;
        display: inline;
        vertical-align: middle;
    }
    
    #info-window-content img {
        vertical-align: middle;
        margin-right: 1ex;
    }
    
#users-search {
    font-family: Arial;
    margin: 0px 20px 20px;
    padding-top: 20px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
}

    #users-search #me-menu {
        margin: 0px;
    }

    #users-search .wrap {
        background: #fff;
        padding: 20px;
    }

    #users-search h2 {
        font-size: 24px;
        font-weight: normal;
        margin-top: 24px;
    }
    
#users-search-form {
    padding: 20px 0px;
}

    #users-search-form fieldset {
        border: none;
    }
    
    #users-search-form div {
        padding-right: 120px;
        position: relative;
    }
    
        #users-search-form input[name=q] {
            width: 100%;
            padding: 10px;
            font-family: Arial;
            font-size: 24px;
            border: 1px solid #d9d9d9;
            border-radius: 3px;
            -moz-border-radius: 3px;
            -webkit-border-radius: 3px;
            box-shadow: inset 0px 5px 10px #ededed;
            -moz-box-shadow: inset 0px 5px 10px #ededed;
            -webkit-box-shadow: inset 0px 5px 10px #ededed;
            background: #fff;
        }

        #users-search-form button {
            position: absolute;
            right: 0px;
            top: 10px;
        }
        
.users-search-results {
    list-style: none;
    padding: 20px 0px 0px;
}

    .users-search-results > li {
        clear: both;
        position: relative;
        margin-bottom: 20px;
        width: 33.3%;
        min-height: 80px;
        vertical-align: top;
        margin-right: -1ex;
        display: inline-block;
        } * html .users-search-results > li {
        display: inline;
        } *:first-child+html .users-search-results > li {
        display: inline;
    }
    
        .users-search-results > li .thumbnail {
            position: absolute;
            left: 0px;
            top: 0px;
            width: 50px;
            height: 50px;
        }
    
        .users-search-results > li .connection {
            margin-top: 5px;
        }
        
            .connection p * {
                vertical-align: middle;
            }
            
            .connection p {
                display: none;
            }
            
            .connection.accepted p.accepted,
            .connection.none p.none,
            .connection.loading p.loading,
            .connection.requested p.requested {
                display: block;
            }
    
                .connection a {
                    text-decoration: none;
                    vertical-align: middle;
                }
                .connection span {
                    vertical-align: middle;
                }
            
                    .connection p img {
                        width: 16px;
                        height: 16px;
                    }
        
            .community-tool p * {
                vertical-align: middle;
            }
            
            .community-tool p {
                display: none;
            }
            
            .community-tool.admin p.admin,
            .community-tool.member p.member,
            .community-tool.loading p.loading {
                display: block;
            }
    
                .community-tool a {
                    text-decoration: none;
                    vertical-align: middle;
                }
                .community-tool span {
                    vertical-align: middle;
                }
            
                    .community-tool p img {
                        width: 16px;
                        height: 16px;
                    }
    
        .users-search-results > li .info {
            vertical-align: top;
            display: inline-block;
            padding-left: 60px;
            padding-right: 20px;
            min-height: 50px;
            max-width: 200px;
            overflow: hidden; 
            } * html .users-search-results > li .info {
            display: inline;
            } *:first-child+html .users-search-results > li .info {
            display: inline;
        }
    
        .users-search-results ul {
            list-style: none;
        }
        
.paging {
    text-align: center;
    list-style: none;
    padding: 0px 0px 20px;
}

    .paging li {
        display: inline;
        margin-right: 1ex;
    }
    
        .paging li a,
        .paging li b {
            padding: 5px 10px;
            background: #eff3f7;
            border: 1px solid #d2e1ec;
            font-weight: normal;
        }
        
#find-friends {
    padding: 20px 0px 0px;
    text-align: left;
}

.compare-list {
    list-style: none;
}

    .compare-list > li {
        background: url("../../img/site/compare.png") no-repeat 326px center;
        margin-bottom: 1em;
    }
    
        .compare-list .left,
        .compare-list .right {
            position: relative;
            width: 300px;
            vertical-align: middle;
            min-height: 120px;
            padding: 10px 10px 0px;
            border-radius: 4px;
            background: #eff3f7;
            display: inline-block;
            } * html .compare-list .left {
            display: inline;
            } * html .compare-list .right {
            display: inline;
            } *:first-child+html .compare-list .left {
            display: inline;
            } *:first-child+html .compare-list .right {
            display: inline;
        }
        
        .compare-list .right {
            margin-left: 25px;
        }
        
            .compare-list .right > ul {
                list-style: none;
            }
            
                .compare-list h3 {
                    font-size: 14px;
                    font-weight: normal;
                }
            
                .compare-list h3 * {
                    vertical-align: middle;
                }
            
                .compare-list h3 img {
                    width: 24px;
                    height: 24px;
                    margin-right: 1ex;
                }
            
                .compare-list h4 {
                    font-size: 13px;
                    font-weight: bold;
                    margin-left: 24px;
                    padding-left: 1em;
                    line-height: 20px;
                }
                
                    .compare-list h4 i {
                        font-weight: normal;
                    }
            
                .compare-list blockquote {
                    font-size: 12px;
                    margin-left: 24px;
                    padding-left: 1em;
                    line-height: 16px;
                }

        .compare-list ul.fields {
            border: none;
        }
        
            .compare-list ul.fields > li {
                border: none;
                margin-bottom: 10px;
            }
        
        .compare-list label {
            vertical-align: top;
            display: block;
            margin-bottom: 5px;
            font-weight: bold;
        }
        
        .compare-list input[type=radio] {
            vertical-align: middle;
        }

        .compare-list label.inline {
            vertical-align: middle;
            display: inline;
            margin-left: 5px;
        }
        
        .compare-list .option {
            padding: 10px 20px;
        }
        
        .compare-list select {
            vertical-align: middle;
            padding: 2px;
            background: #fff;
            border: none;
        }
        
        .compare-list select[multiple] {
            width: 300px;
            height: 140px;
        }
        
        .compare-list textarea {
            width: 280px;
            height: 60px;
            padding: 10px;
            font-family: Arial;
            border: 1px solid #d9d9d9;
            border-radius: 3px;
            -moz-border-radius: 3px;
            -webkit-border-radius: 3px;
            box-shadow: inset 0px 5px 10px #ededed;
            -moz-box-shadow: inset 0px 5px 10px #ededed;
            -webkit-box-shadow: inset 0px 5px 10px #ededed;
            background: #fff;
        }
                        
        .compare-list .buttons {
            position: absolute;
            width: 100%;
            bottom: 5px;
            text-align: center;
        }

#compare-form {
    padding: 20px 0px;
}
    
    #compare-form fieldset {
        border: 0px;
        background: url("../../img/site/compare.png") no-repeat 326px 80px;
    }
       
        #compare-form .buttons2 {
            text-align: center;
            padding: 20px 20px 20px 0px;
        }

        
#badges-page-wrap {
    padding-top: 20px;
    margin: 0px 20px 20px;
}

#badges-page-wrap > .wrap {
    padding: 20px;
    background: #fff;
}

#badges-page-wrap h1 {
    font-size: 24px;
    font-weight: normal;
    margin-bottom: 16px;
}
        
#badges-table {
    margin-top: 16px;
}

#badges-table th {
    padding: 10px 0px;
}
    
    #badges-table th img {
        opacity: 0.8;
    }
    #badges-table .missing th img {
    }

#badges-table td {
    padding: 10px 20px;
}
    
    #badges-table h2 {
        font-size: 14px;
        font-weight: bold;
        margin: 0px 0px 0px;
    }