#pricing {
    list-style: none;
    /*width: 720px;*/
    margin: 40px auto 20px;
    font-family: Arial;
    font-size: 12px;
    text-align: center;
}

    #pricing li {
        display: inline-block;
        border: 1px solid #bfd0de;
        border-radius: 6px;
        -moz-border-radius: 6px;
        -webkit-border-radius: 6px;
        box-shadow: 0px 0px 10px #dce9f5;
        -webkit-box-shadow: 0px 0px 10px #dce9f5;
        -moz-box-shadow: 0px 0px 10px #dce9f5;        
        background: #f3f3f3;
        position: relative;
        text-align: center;
        padding: 20px;
        vertical-align: middle;
        height: 250px;
        width: 200px;
        } * html #pricing li {
        display: inline;
        } *:first-child+html #pricing li {
        display: inline;
    }
    
    #pricing #plan-free {
        border-right: none;
        margin-right: -1em;
    }
    
    #pricing #plan-premium {
        width: 200px;
        height: 280px;
        background: #fff;
        margin-right: -1em;
        z-index: 10;
    }
    
    #pricing #plan-corporate {
        border-left: none;
    }
    
        #pricing h2 {
            color: #d91b5c;
            font-size: 40px;
        }
    
        body[lang=ru] #pricing h2,
        body[lang=fr] #pricing h2 {
            font-size: 32px;
        }
    
        #pricing .price {
            margin: 20px 0px;
            font-family: "Trebuchet MS", Arial;
            font-size: 16px;
            color: #444;
        }
    
        #pricing #plan-premium .price {
            margin-bottom: 35px;
        }
    
        #pricing .sign-up {
            position: absolute;
            bottom: 20px;
            width: 100%;
            left: 0px;
            text-align: center;
        }
    
        #pricing #plan-premium .sign-up {
            bottom: 35px;
        }
        
    #premium-form table {
        /*border-collapse: collapse;*/
        border-spacing: 0px;
        width: 100%;
        padding: 0px 20px;
    }

        
        #premium-form table th {
            width: 180px;
            font-weight: normal;
        }
        
        #premium-form table td {
            padding: 5px;
        }
            
            #premium-form table label {
                vertical-align: middle;
                font-size: 20px;
            }
            
            #premium-form table input {
                vertical-align: middle;
            }
            
            #premium-form table small {
                font-family: Trebuchet MS, Arial;
                font-size: 16px;
                vertical-align: middle;
            }
    
            #premium-form table big {
                font-family: Trebuchet MS, Arial;
                font-size: 32px;
                vertical-align: middle;
            }
    
            #premium-form table s {
                color: #ccc;
                margin-right: 5px;
            }
    
            #premium-form table i {
                color: #ccc;
                margin-left: 5px;
            }
            
    #premium-form select {
        padding: 5px 20px;
        font-size: 16px;
    }

#payment-instructions {
    font-size: 13px;
    font-style: italic;
}

#payment-icons {
    list-style: none;
    margin: 20px auto;
}
    
    #payment-icons li {
        display: inline;
        margin: 0px 20px 0px 0px !important;
    }
        
        #payment-icons img {
            vertical-align: middle;
        }
        
#debug-info {
    width: 100%;
    height: 200px;
    margin-top: 20px;
}

#premium-info {
    position: fixed !important;
    position: absolute;
    z-index: 10;
    left: 50%;
    margin-left: -200px;
    top: 300px;
    width: 400px;
    height: 120px;
    background: #fff;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
}

    #premium-info .wrap {
        padding: 10px;
        text-align: center;
    }
    
        #premium-info h1 {
            font-size: 20px;
            font-weight: normal;
        }
    
        #premium-info p {
            margin: 10px 0px 20px;
            font-size: 14px;
        }
    
        #premium-info .button {
            margin-right: 1em;
        }