#registration-agreement {
    width: 50%;
}

#login-example {
    cursor: pointer;
    border-bottom: 1px dashed #999; 
}

#registration-form .third-party {
    text-align: center;
}

    #registration-form .third-party a {
        margin: 1ex;
    }