#template-add {
    margin-left: 30px;
    margin-top: 30px;
    font-size: 14px;
    display: inline-block;
    vertical-align: top;
}

#templates-list {
    list-style: none;
    font-size: 18px;
    margin: 20px;
}

    #templates-list > li {
        padding-left: 30px;
        margin-bottom: 10px;
    }
    
    #templates-list > li:hover {
        background: url("../../img/site/move.gif") no-repeat left top;
    }
    
.templates-marker {
    position: absolute;
    width: 16px;
    height: 16px;
    background: url("../../img/site/marker.gif") no-repeat center center;
}


/* tabs */
#categories {
    position: relative;
    margin: 0px 20px 20px;
    border-bottom: 1px solid #d1d1d1;
    min-height: 26px;
}

    #categories #all-templates {
        position: absolute;
        left: 0px;
        top: 5px;
        width: 125px;
        text-align: right;
        padding: 0px 4px;
        font-size: 14px;
        margin-left: -3px;
    }
    
        #categories #all-templates.selected a {
            border: none !important;
            color: #000;
        }

    #categories #add-category {
        display: inline-block;
        padding: 0px 4px;
        border: 1px solid #d1d1d1;
        border-radius: 3px;
        -moz-border-radius: 3px;
        text-decoration: none;
        font-size: 14px;
        vertical-align: middle;
        background: #fff;
        margin-left: -3px;
        } * html #categories #add-tab {
        display: inline;
        } *:first-child+html #categories #add-tab {
        display: inline; 
    }

    #categories ul {
        display: inline-block;
        min-width: 1px;
        list-style: none;
        margin-left: 155px;
        margin-bottom: -1px;
        vertical-align: middle;
        } * html #categories ul {
        display: inline;
        } *:first-child+html #categories ul {
        display: inline; 
    }
    
        #categories li {
            display: inline-block;
            border: 1px solid #d1d1d1;
            border-bottom: 0px;
            border-radius: 4px 4px 0px 0px;
            -moz-border-radius: 4px 4px 0px 0px;
            margin-right: 4px;
    
            } * html #categories li {
            display: inline;
            } *:first-child+html #categories li {
            display: inline;        
        }
        
        #categories li.current {
            background: #fff;
        }
        
        #categories li.dragover {
            background: crimson;
            color: #fff;
        }
        
        #categories li.dragover a,
        #categories li.dragover b {
            color: #fff;
        }
        
            #categories ul a {
                display: inline-block;
                padding: 5px 5px;
                font-size: 14px;
                vertical-align: middle;
                text-decoration: none;
            }
            
            #categories ul .current a {
                color: #000;
            }
            
            #categories ul a.disabled {
                color: #ccc;
                padding: 5px 25px;
            }
            
            #categories ul .btn {
                visibility: hidden;
                vertical-align: middle;
            }

            #categories li:hover .btn {
                visibility: visible;
            }
            
            #categories ul .move {
                margin-left: 2px;
                cursor: move;
            }
            
            #categories ul .edit {
                margin-right: 2px;
                cursor: pointer;
            }

.tabs-marker {
    position: absolute;
    width: 16px;
    height: 16px;
    background: url("../../img/site/marker.gif") no-repeat center center;
}

#categories-form {
    position: absolute;
    width: 650px;
    left: 50%;
    margin-left: -325px;
    top: 100px;
    z-index: 30;
}

    #categories-form fieldset {
        border: none;
    }

    #categories-form > fieldset {
        padding: 20px;
        background: #fff;
        margin-bottom: 20px;
        border-radius: 10px;
        -moz-border-radius: 10px;
        box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.6);
        -webkit-box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.6);
        -moz-box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.6);
        min-height: 300px;
    }
    
        #additional-parameters {
            margin-top: 20px;
        }
    
        #categories-form ul.fields > li {
            margin-bottom: 20px;
            margin-right: 10px;
        }
        
            #categories-form ul.fields > li li {
                margin-bottom: 10px;
                margin-right: 10px;
            }
        
        #categories-form label {
            vertical-align: middle;
        }
        
        #categories-form input {
            vertical-align: middle;
        }
        
        #categories-form label.block {
            display: block;
            margin-bottom: 5px;
            font-weight: bold;
            font-size: 12px;
        }
        
        #categories-form i.ex {
            font-weight: normal;
            font-style: normal;
            color: #666;
        }
        
        #categories-form input.text {
            width: 100%;
            padding: 4px;
            border: 1px inset #989696;
        }
        
        #categories-form input.small {
            width: 50px;
        }
        
        #categories-form .error {
            color: red;
            margin-top: 5px;
            font-weight: normal;
        }
    
        #categories-form textarea {
            width: 100%;
            padding: 4px;
            height: 100px;
            border: 1px inset #ccc;
        }
    
        #categories-form .buttons {
            position: relative;
            margin-top: 10px;
        }
        
            #categories-form .buttons button {
                vertical-align: absmiddle;
                padding: 5px 10px;
                margin: 10px 0px 5px 0px;
            }
            
            
.templates-categories {
    padding: 20px;
}
                
    .templates-categories h3 {
        font-size: 18px !important;
        font-weight: normal !important;
    }

    .templates-categories > li {
        display: inline-block;
        vertical-align: top;
        width: 33%;
        padding: 0px !important;
        margin: 0px !important;
        list-style: none;
    }
    
        .templates-categories ul {
            list-style: none;
        }
            
            .templates-categories ul li {
                position: relative;
                line-height: 24px;
                margin-left: 10px !important;
            }
        
                .templates-categories h4 {
                    font-size: 14px;
                    font-weight: normal;
                    vertical-align: middle;
                    padding-left: 30px;
                }
    
                .templates-categories ul img {
                    vertical-align: middle;
                    position: absolute;
                    left: 0px;
                    top: 4px;
                    width: 16px;
                }

#me-profile h2.first {
    margin-top: 0px;
}

#category-templates {
    list-style: none;
    padding: 0px 5px;
}

    #category-templates li {
        margin-bottom: 5px;
        position: relative;
        padding-left: 24px;
    }
    
        #category-templates img {
            vertical-align: middle;
            position: absolute;
            top: 1px;
            left: 0px;
            width: 16px;
        }
        
        #category-templates b {
            font-weight: normal;
        }
        
        #category-templates a {
            text-decoration: none;
        }
    
#template-description {
    padding: 20px;
    font-size: 14px;
}

    #template-description h1 {
        font-size: 24px;
        font-weight: normal;
        margin-bottom: 16px;
    }

    #template-description .text p {
        line-height: 18px;
    }

    #template-description .text img {
        padding: 2px;
        margin: 10px auto;
        display: block;
        border: 1px solid #d2e1ec;
        max-width: 600px;
        background: #eff3f7;
        border-radius: 4px;
    }

    #template-description i {
        display: block;
        text-align: center;
        font-size: 12px;
        color: #666;
        margin-top: -10px;
    }