{%if ENV.language == 'en'}
<p>
    Your app is added! Use the tokens below for OAuth workflow:
    <br />App key: {%data.appkey}
    <br />secret: {%data.secret}
</p>
<p>
    <br />Don't worry, they will be written here next time in case if you forget them. 
    <br />Nevertheless keep them in a safe place!
</p>
{%end}