<fieldset>
    <img id="goals-form-close" src="{%URL.img}site/close.png" onclick="Categories.Form.hide(); return false;" />
    <input type="hidden" name="id" />
    <ul class="fields">
        <li>
            <label class="block">Title (en)</label>
            <input name="title_en" class="text" />
        </li>
        <li>
            <label class="block">Title (ru)</label>
            <input name="title_ru" class="text" />
        </li>
        <li>
            <label class="block">Title (fr)</label>
            <input name="title_fr" class="text" />
        </li>
        <li>
            <label class="block">Name (for URL)</label>
            <input name="name" class="text" />
        </li>
    </ul>
    <div class="buttons">
        <button type="submit">Save</button>
        or
        <a href="#cancel" class="script" onclick="Categories.Form.hide(); return false;">cancel</a>
        &nbsp;&nbsp;&nbsp;
        You may also <a href="#delete" class="script" onclick="Categories.remove(Categories.Form.element.id.value); return false;">delete</a> this category
    </div>
</fieldset>