<fieldset>
    <img id="goals-form-close" src="{%URL.img}site/close.png" onclick="Communities.Form.hide(); return false;" />
    <input type="hidden" name="id" />
    <ul class="fields">
        <li>
            <label class="block">Title</label>
            <input name="title" class="text" onchange="if (!this.form.name.value) {var name = this.value.toLowerCase(); name = name.replace(/[^a-z0-9-_]+/ig, '_'); this.form.name.value = name;}" />
        </li>
        <li>
            <label class="block">Picture</label>
            <div id="community-picture-uploader" class="picture-uploader"></div>
            <input type="text" name="picture_name" readonly="readonly" />
            <input type="text" class="small" name="picture_size" readonly="readonly" />
            <input type="hidden" name="picture_tmpname" />
        </li>
        <li>
            <label class="block">Thumbnail</label>
            <div id="community-thumbnail-uploader" class="picture-uploader"></div>
            <input type="text" name="thumbnail_name" readonly="readonly" />
            <input type="text" class="small" name="thumbnail_size" readonly="readonly" />
            <input type="hidden" name="thumbnail_tmpname" />
        </li>
        <li>
            <label class="block">Name</label>
            <input name="name" class="text" />
        </li>
        <li>
            <label class="block">Overview</label>
            <input name="overview" class="text" />
        </li>
        <li>
            <label class="block">Text</label>
            <textarea name="description"></textarea>
        </li>
        <li>
            <label class="block">Post permission</label>
            <select name="post_permission">
                <option value="all">all</option>
                <option value="admins">admins</option>
            </select>
        </li>
        <li>
            <label class="block">Language</label>
            <select name="language">
                <option value="*">any</option>
                {%for language in Data.languages => code}
                <option value="{%code}">{%language.title}</option>
                {%end}
            </select>
        </li>
    </ul>
    <div class="buttons">
        <button type="submit">Save</button>
        or
        <a href="#cancel" class="script" onclick="Communities.Form.hide(); return false;">cancel</a>
        &nbsp;&nbsp;&nbsp;
        You may also <a href="#delete" class="script" onclick="Communities.remove(Communities.Form.element.id.value); return false;">delete</a> this community
    </div>
</fieldset>