<p>
{%if ENV.language == 'ru'}
    Ваш аккаунт удален и все информация стерта.
    Вы можете перейти на <a href="{%URL.home}">главную страницу</a>.
{%elseif ENV.language == 'fr'}
    Votre compte a été supprimé et toutes les informations ont été effacées!
    Vous pouvez procédez à la page <a href="{%URL.home}">d'accueil</a>.    
{%else}
    Your account has been deleted and all the information has been erased! 
    You may proceed to the <a href="{%URL.home}">home page</a>.
{%end}
</p>
    