<img src="{%URL.img}site/close.png" alt="close" class="close" onclick="Goals.Chart.hide();" />
<div id="chart-canvas"></div>
<ul class="fields">
    <li><b></b> <div id="chart-type"></div></li>
    <li><b>{%LNG.Period}:</b> <div id="chart-period"></div></li>
    <li><b>{%LNG.Group_by}:</b> <div id="chart-groupby"></div></li>
<!--    <li><button type="button" onclick="Goals.Chart.draw();">Redraw</button></li>-->
</ul>
<div id="chart-table"></div>
