<img id="goals-form-close" src="{%URL.img}site/chart-close.png" onclick="Goals.Add.hide(); return false;" />
<fieldset>
    <dl>
        <dt>{%LNG.Pick_template}</dt>
        <dd>
            <p class="info">
                {%LNG.Pick_template_info}
            </p>
            
            <div id="categories-pick" class="categories-pick">{%LNG.Loading_templates}...</div>
        </dd>
        <dt>{%LNG.Advanced_mode}</dt>
        <dd>
            <fieldset>
                <input type="hidden" name="id" />
                <ul class="fields">
                    <li>
                        <label class="block">{%LNG.Title}</label>
                        <input name="title" class="text" />
                    </li>
                    <li class="clearfix">
                        <label class="block">{%LNG.Type}</label>
                        <blockquote class="hint">
                            <p>{%LNG.Goal_type_info}</p>
                            <ul>
                                <li>{%LNG.Numeric_type_hint}</li>
                                <li>{%LNG.Counter_type_hint}</li>
                                <li>{%LNG.Boolean_type_hint}</li>
                                <li>{%LNG.Time_type_hint}</li>
                                <li>{%LNG.Timer_type_hint}</li>
                            </ul>
                        </blockquote>
                        <ul class="fields">
                            <li>
                                <input type="radio" id="add-type-numeric" name="type" value="numeric" onclick="Goals.Add.setType(this.value)" />
                                <label for="add-type-numeric">{%LNG.numeric}: <i class="ex">3.14, 100, 299792, {%LNG.etc}</i></label>
                            </li>
                            <li>
                                <input type="radio" id="add-type-counter" name="type" value="counter" onclick="Goals.Add.setType(this.value)" />
                                <label for="add-type-counter">{%LNG.counter}: <i class="ex">1, 2, 3 ...</i></label>
                            </li>
                            <li>
                                <input type="radio" id="add-type-boolean" name="type" value="boolean" onclick="Goals.Add.setType(this.value)" />
                                <label for="add-type-boolean">{%LNG.boolean}: <i class="ex">{%LNG._yes} {%LNG.or} {%LNG._no}</i></label>
                            </li>
                            <li>
                                <input type="radio" id="add-type-time" name="type" value="time" onclick="Goals.Add.setType(this.value)" />
                                <label for="add-type-time">{%LNG.time}: <i class="ex">7:30</i></label>
                            </li>
                            <li>
                            {%if ENV.user.valid}
                                <input type="radio" id="add-type-timer" name="type" value="timer" onclick="Goals.Add.setType(this.value)" />
                                <label for="add-type-timer">{%LNG.timer}: <i class="ex">&#9656;7:30</i></label>
                            {%else}
                                <a href="{%URL.home}premium/" onclick="return show_premium();" class="premium">
                                    <img src="{%URL.img}site/premium.png" alt="*" title="Premium feature" />
                                </a>
                                <label for="add-type-timer">{%LNG.timer}: <i class="ex">&#9656;7:30</i></label>
                            {%end}
                            </li>
                        </ul>
                    </li>
                    <li class="type counter">
                        <label class="block">{%LNG.Item_icon}</label>
                        <blockquote class="hint">
                            <p>{%LNG.Item_icon_hint}</p>
                        </blockquote>
                        <div class="goals-icon-item"></div>
                    </li>
                    <li class="type boolean">
                        <label class="block">{%LNG.Yes_icon}</label>
                        <blockquote class="hint">
                            <p>
                                {%LNG.Yes_icon_hint}
                            </p>
                        </blockquote>
                        <div class="goals-icon-true"></div>
                    </li>
                    <li class="type boolean">
                        <label class="block">{%LNG.No_icon}</label>
                        <blockquote class="hint">
                            <p>{%LNG.No_icon_hint}</p>
                        </blockquote>
                        <div class="goals-icon-false"></div>
                    </li>
                </ul>
                <p class="additional-parameters-toggler"><a href="#additional-parameters" class="script" onclick="this.parentNode.nextTag('UL').flipClass('hidden'); return false;">{%LNG.Additional_parameters}</a> &darr;</p>
                <ul class="fields additional-parameters">
                    <li>
                        <label class="block">{%LNG.Description}</label>
                        <textarea name="text"></textarea>
                    </li>
                    <li class="type numeric counter">
                        <label class="block">{%LNG.Unit}</label>
                        <blockquote class="hint">
                            <p>{%LNG.Unit_hint}</p>
                        </blockquote>
                        <input type="text" name="unit" class="text" />
                        <br />
                        <input type="checkbox" id="add-prepend" name="prepend" value="yes" />
                        <label for="add-prepend">{%LNG.prepend_hint}</label>
                    </li>
                    <li class="type numeric counter time timer">
                        <label class="block">{%LNG.Aggregate_function}</label>
                        <blockquote class="hint">
                            <p>{%LNG.Aggregate_hint}</p>
                        </blockquote>
                        <ul class="fields">
                            <li>
                                <input type="radio" id="add-function-none" name="aggregate" value="" />
                                <label for="add-function-none">{%LNG.none_function}: <i class="ex">{%LNG.show_the_last_value}</i></label>
                            </li>
                            <li>
                                <input type="radio" id="add-function-sum" name="aggregate" value="sum" />
                                <label for="add-function-sum">{%LNG.summation}: <i class="ex">1 + 2 + 3 = 6</i></label>
                            </li>
                            <li>
                                <input type="radio" id="add-function-avg" name="aggregate" value="avg" />
                                <label for="add-function-avg">{%LNG.average}: <i class="ex">(1 + 2 + 3) / 3 = 2</i></label>
                            </li>
                            <li>
                                <input type="radio" id="add-function-max" name="aggregate" value="max" />
                                <label for="add-function-max">{%LNG.maximim}: <i class="ex">max(1, 2, 3) = 3</i></label>
                            </li>
                            <li>
                                <input type="radio" id="add-function-min" name="aggregate" value="min" />
                                <label for="add-function-min">{%LNG.minimum}: <i class="ex">min(1, 2, 3) = 1</i></label>
                            </li>
                        </ul>
                    </li>        
                </ul>
                <div class="buttons">
                    <button type="submit" class="button"><span><span>{%LNG.Save}</span></span></button>
                    {%LNG.or}
                    <a href="#cancel" class="script" onclick="Goals.Add.hide(); return false;">{%LNG.cancel}</a>
                </div>
            </fieldset>
        </dd>
    </dl>
    <input type="hidden" name="tab" />
    <input type="hidden" name="position" />
</fieldset>