<div class="weekly">
    <p><strong>{%LNG.week}</strong>: {%this_week}</p>
    <p>{%LNG.past}: {%last_week}</p>
    <p>{%LNG.plan}:
    {%if week_plan.value !== undefined}
        <a href="#set-plan" class="script" onclick="
            var value = prompt('{%LNG.Input_plan_week}', '{%week_plan.value}');
            if (value !== null) {
                {%if goal.type == 'time' || goal.type == 'timer'}
                value = Goals.Time.toSeconds(value);
                {%end}
                Goals.editPlan({%week_plan.id}, {goal: {%week_plan.goal}, value: value});
            } 
            return false;"
        >{%if week_plan.value != '' && week_plan.value != null}{%week_plan.value}{%else}set{%end}</a>
    {%else}
        <a href="#set-plan" class="script" onclick="
            var value = prompt('{%LNG.Input_plan_week}', '');
            if (value !== null) {
                {%if goal.type == 'time' || goal.type == 'timer'}
                value = Goals.Time.toSeconds(value);
                {%end}
                Goals.addPlan({goal: {%week_plan.goal}, startdate: '{%week_plan.startdate}', enddate: '{%week_plan.enddate}', value: value});
            } 
            return false;"
        >{%LNG.set}</a>
    {%end}
    </p>
</div>
<div class="monthly">
    <p><strong>{%LNG.month}</strong>: {%this_month}</p>
    <p>{%LNG.past}: {%last_month}</p>
    <p>{%LNG.plan}:
    {%if month_plan.value !== undefined}
        <a href="#set-plan" class="script" onclick="
            var value = prompt('{%LNG.Input_plan_month}', '{%month_plan.value}'); 
            if (value !== null) {
                {%if goal.type == 'time' || goal.type == 'timer'}
                value = Goals.Time.toSeconds(value);
                {%end}
                Goals.editPlan({%month_plan.id}, {goal: {%month_plan.goal}, value: value});
            } 
            return false;"
        >{%if month_plan.value != '' && month_plan.value != null}{%month_plan.value}{%else}set{%end}</a>
    {%else}
        <a href="#set-plan" class="script" onclick="
            var value = prompt('{%LNG.Input_plan_month}', '');
            if (value !== null) {
                {%if goal.type == 'time' || goal.type == 'timer'}
                value = Goals.Time.toSeconds(value);
                {%end}
                Goals.addPlan({goal: {%month_plan.goal}, startdate: '{%month_plan.startdate}', enddate: '{%month_plan.enddate}', value: value});
            } 
            return false;"
        >{%LNG.set}</a>
    {%end}
    </p>
</div>