<form>
    <input type="hidden" name="id" value="{%current.id}" />
    <input type="hidden" name="comparison" value="{%comparison.id}" />
    <div class="left">
        <h3>
            <img src="{%if owner.user.thumbnail}{%URL.userpics}{%owner.user.thumbnail}{%else}{%URL.img}site/no-thumbnail.png{%end}" />
            <a href="{%URL.home}users/{%owner.user.login}/">{%owner.user.name}</a>
        </h3>
        <h4>{%owner.goal.title}</h4>
        {%if comparison.comment}<blockquote>&laquo;{%comparison.comment|htmlspecialchars}&raquo;</blockquote>{%end}
    </div>
    <div class="right">
    {%if current.status == 'requested'}
        <ul class="fields">
            <li>
                <input type="radio" id="choose-goal-{%current.id}" name="create_new" value="0" checked="checked" />
                <label class="inline" for="choose-goal-{%current.id}">{%LNG.choose_goal}:</label>
                    <select name="goal">
                    {%for goal in Data.goals}
                        <option value="{%goal.id}">{%goal.title}</option>
                    {%end}
                    </select>
            </li>
            <li>
                <input type="radio" id="create-goal-{%current.id}" name="create_new" value="1" />
                <label class="inline" for="create-goal-{%current.id}">{%LNG.create_new_goal} "{%owner.goal.title}"</label>
            </li>
        </ul>
        <div class="buttons">
            <button type="button" class="button" onclick="Comparisons.accept(this.form)"><span><span>{%LNG.Accept}</span></span></button>
            <span>or</span>
            <button type="button" class="button" onclick="Comparisons.reject(this.form)"><span><span>{%LNG.Reject}</span></span></button>
        </div>
    {%else}
        <h3>
            <img src="{%if current.user.thumbnail}{%URL.userpics}{%current.user.thumbnail}{%else}{%URL.img}site/no-thumbnail.png{%end}" />
            <a href="{%URL.home}users/{%current.user.login}/">{%current.user.name}</a>
        </h3>
        <h4>
            {%if current.status == 'rejected'}
                <i>{%LNG.Rejected}</i>
            {%elseif current.status == 'accepted'}
                {%if current.goal.title == '?'} 
                <i>{%LNG.Accepted}</i>
                {%else}
                {%current.goal.title}
                {%end}
            {%end}
        </h4>
        {%if current.status == 'accepted'}
        <div class="buttons">
            <button type="button" class="button" onclick="Comparisons.reject(this.form)"><span><span>{%LNG.Del}</span></span></button>
        </div>
        {%end}
    </div>
    {%end}
</form>