<div class="wrapper">
    <div class="container">
        <div class="input">
            <input class="mobile-number-input" />
            <button type="button" class="mode" onclick="Mobile.Number.mode()">+</button>
            <a href="#backspace" onclick="Mobile.Number.backspace(); return false;" class="backspace"><img src="{%URL.img}site/backspace.png" alt="&rarr;" /></a>
        </div>
        <table class="keypad">
            <tr>
                <td><button type="button" onclick="Mobile.Number.inp('7')">7</button></td>
                <td><button type="button" onclick="Mobile.Number.inp('8')">8</button></td>
                <td><button type="button" onclick="Mobile.Number.inp('9')">9</button></td>
            </tr>
            <tr>
                <td><button type="button" onclick="Mobile.Number.inp('4')">4</button></td>
                <td><button type="button" onclick="Mobile.Number.inp('5')">5</button></td>
                <td><button type="button" onclick="Mobile.Number.inp('6')">6</button></td>
            </tr>
            <tr>
                <td><button type="button" onclick="Mobile.Number.inp('1')">1</button></td>
                <td><button type="button" onclick="Mobile.Number.inp('2')">2</button></td>
                <td><button type="button" onclick="Mobile.Number.inp('3')">3</button></td>
            </tr>
            <tr>
                <td><button type="button" onclick="Mobile.Number.sign()">&plusmn;</button></td>
                <td><button type="button" onclick="Mobile.Number.inp('0')">0</button></td>
                <td><button type="button" onclick="Mobile.Number.dec('.')">.</button></td>
            </tr>
        </table>
        <div class="buttons">
            <button type="button" onclick="Mobile.Number.save();">OK</button>
            <button type="button" onclick="Mobile.Number.hide();">Cancel</button>
            <a href="#clear" class="clear" onclick="Mobile.Number.clear(); return false;"><img src="{%URL.img}site/trash.png" alt="Clear" /></a>
        </div>
    </div>
</div>