<p>{%LNG.Tab_empty}. {%LNG.You_can} <a href="#new-goal" class="script" onclick="Goals.Add.setData(); return false;">{%LNG.add_goal}</a> {%LNG.or} <a href="#delete-tab" class="script" onclick="Tabs.remove(ENV.tab); return false;">{%LNG.delete_this_tab}</a></p>
