<div class="left">
    <h3>
        <img src="{%if ENV.user.thumbnail}{%URL.userpics}{%ENV.user.thumbnail}{%else}{%URL.img}site/no-thumbnail.png{%end}" />
        <a href="{%URL.home}users/{%ENV.user.login}/">{%ENV.user.name}</a>
    </h3>
    <h4>{%owner.goal.title}</h4>
    {%if comparison.comment}<blockquote>&laquo;{%comparison.comment|htmlspecialchars}&raquo;</blockquote>{%end}
    <div class="buttons">
        <button type="button" class="button" onclick="Comparisons.remove({%comparison.id})"><span><span>{%LNG.Del}</span></span></button>
    </div>
</div>
<div class="right">
    <ul>
        {%for item in others}
        <li>
            <h3>
                <img src="{%if item.user.thumbnail}{%URL.userpics}{%item.user.thumbnail}{%else}{%URL.img}site/no-thumbnail.png{%end}" />
                <a href="{%URL.home}users/{%item.user.login}/">{%item.user.name}</a>
            </h3>
            <h4>
                {%if item.status == 'requested'}
                    <i>{%LNG.Waiting_for_response}</i>
                {%elseif item.status == 'rejected'}
                    <i>{%LNG.Not_accepted}</i>
                {%else}
                    {%item.goal.title}
                {%end}
            </h4>
        </li>
        {%end}
    </ul>
</div>