<p>
{%if ENV.language == 'ru'}
    Ваш пост добавлен!
    <br />Вы можете <a href="{%URL.home}{%data.path}">просмотреть</a> или <a href="{%URL.home}users/{%ENV.user.login}/posts/{%data.id}/edit/">редактировать</a> его.
    <br /><a href="{%URL.home}users/{%ENV.user.login}/posts/">Вернуться</a> к вашим постам.
{%elseif ENV.language == 'fr'}
    Votre billet a été ajoutée!
    <br />Vous pouvez le <a href="{%URL.home}{%data.path}">voir</a> ou <a href="{%URL.home}users/{%ENV.user.login}/posts/{%data.id}/edit/">modifier</a>.
    <br /><a href="{%URL.home}users/{%ENV.user.login}/posts/">Retourner</a> à vos billets.
{%else}
    Your post has been added!
    <br />You can <a href="{%URL.home}{%data.path}">view</a> or <a href="{%URL.home}users/{%ENV.user.login}/posts/{%data.id}/edit/">edit</a> it.
    <br /><a href="{%URL.home}users/{%ENV.user.login}/posts/">Go back</a> to your posts.
{%end}
</p>
