<p>
{%if ENV.language == 'ru'}
    Ваш пост отредактирован
    <br />Вы можете <a href="{%URL.home}{%data.path}">перейти к его просмотру</a> или <a href="{%URL.home}users/{%ENV.user.login}/posts/{%data.id}/edit/">продолжить редактирование</a>.
    <br /><a href="{%URL.home}users/{%ENV.user.login}/posts/">Вернуться</a> к вашим постам.
{%elseif ENV.language == 'fr'}
    Votre billet a été modifié!
    <br />Vous pouvez le<a href="{%URL.home}{%data.path}">voir</a> ou <a href="{%URL.home}users/{%ENV.user.login}/posts/{%data.id}/edit/">continuer à modifier</a>.
    <br /><a href="{%URL.home}users/{%ENV.user.login}/posts/">Вернуться</a> к вашим постам.
{%else}
    Your post has been edited!
    <br />You can <a href="{%URL.home}{%data.path}">view</a> or <a href="{%URL.home}users/{%ENV.user.login}/posts/{%data.id}/edit/">continue editing</a> it.
    <br /><a href="{%URL.home}users/{%ENV.user.login}/posts/">Go back</a> to your posts.
{%end}
</p>
