<fieldset>
    <img id="goals-form-close" src="{%URL.img}site/close.png" onclick="Posts.Form.hide(); return false;" />
    <input type="hidden" name="id" />
    <ul class="fields">
<!--        <li>-->
<!--            <label class="block">Approved?</label>-->
<!--            <input type="radio" id="approved-no" name="approved" value="no" />-->
<!--            <label for="approved-no">no</label>-->
<!--            &nbsp;-->
<!--            &nbsp;-->
<!--            <input type="radio" id="approved-yes" name="approved" value="yes" />-->
<!--            <label for="approved-yes">yes</label>-->
<!--        </li>-->
        <li>
            <label class="block">Title</label>
            <input name="title" class="text" onchange="if (!this.form.name.value) {var name = this.value.toLowerCase(); name = name.replace(/[^a-z0-9-_]+/ig, '_'); this.form.name.value = name;}" />
        </li>
        <li>
            <label class="block">Name</label>
            <input name="name" class="text" />
        </li>
        <li>
            <label class="block">Date</label>
            <input name="date" class="text" />
        </li>
        <li>
            <label class="block">Template</label>
            <select name="template">
                <option value="0"></option>
                {%for category in Data.categories}
                <optgroup label="{%category.title}">
                    {%for template in Data.templates}
                        {%if template.category == category.id}
                    <option value="{%template.id}">{%template.title}</option>
                        {%end}
                    {%end}
                </optgroup>
                {%end}
            </select>
        </li>
        <li>
            <label class="block">Text</label>
            <textarea name="text"></textarea>
        </li>
    </ul>
    <div class="buttons">
        <button type="submit">Save</button>
        or
        <a href="#cancel" class="script" onclick="Posts.Form.hide(); return false;">cancel</a>
        &nbsp;&nbsp;&nbsp;
        You may also <a href="#delete" class="script" onclick="Posts.remove(Posts.Form.element.id.value); return false;">delete</a> this post
    </div>
</fieldset>