<div class="wrap">
    <h1>{%LNG.Almost_there}</h1>
    <p><img src="{%URL.img}site/premium.png" alt="*" /> {%LNG.Need_premium}</p>
    <a class="button" href="{%URL.home}premium/"><span><span>{%LNG.Know_more}</span></span></a>
    <a class="script" href="#hide" onclick="return hide_premium()">{%LNG.No_thanks}</a>
</div>