<p>
{%if ENV.language == 'ru'}
    Мы переслали письмо с подтверждением на ваш адрес: <a href="{%data.email|email_provider}">{%data.email|email_provider}</a>.
    Если вы на нашли его во входящих письмах, проверьте папку СПАМ.
{%elseif ENV.language == 'fr'}
    Nous avons renvoyé une lettre de confirmation de votre email: <a href="{%data.email|email_provider}">{%data.email|email_provider}</a>.
    Si vous avez ne l'avez pas dans votre boîte de réception, vérifiez le dossier SPAM.
{%else}
    We have resent you a confirmation letter to your email: <a href="{%data.email|email_provider}">{%data.email|email_provider}</a>.
    If you have do not have it in your INBOX, check the SPAM folder.
{%end}
</p>