<div class="toolbar">
    <button class="btn" type="button" onclick="this.wg.switchMode()" title="Switch WYSIWYG/HTML mode"><img src="{%URL.img}wysiwyg/mode.png" alt="mode" /></button>

    <button class="btn" type="button" onclick="this.wg.bold()" title="Bold"><img src="{%URL.img}wysiwyg/b.png" alt="B" /></button>
    <button class="btn" type="button" onclick="this.wg.italic()" title="Italic"><img src="{%URL.img}wysiwyg/i.png" alt="I" /></button>
    <button class="btn" type="button" onclick="this.wg.removeFormat()" title="Clear"><img src="{%URL.img}wysiwyg/clear.png" alt="clear" /></button>
    
    <button class="btn" type="button" onclick="this.wg.insertList('ordered')" title="Insert numbered list"><img src="{%URL.img}wysiwyg/ol.png" alt="OL" /></button>
    <button class="btn" type="button" onclick="this.wg.insertList('unordered')" title="Insert bullet list"><img src="{%URL.img}wysiwyg/ul.png" alt="UL" /></button>
    <button class="btn" type="button" onclick="this.wg.insertLink()" title="Insert link"><img src="{%URL.img}wysiwyg/a.png" alt="A" /></button>
    <button class="btn" type="button" onclick="this.wg.removeLink()" title="Remove link"><img src="{%URL.img}wysiwyg/-a.png" alt="unlink" /></button>
    <button class="btn" type="button" onclick="this.wg.insertImage()" title="Insert image"><img src="{%URL.img}wysiwyg/img.png" alt="img" /></button>
</div>
<div class="editor"></div>
<div class="textarea"></div>