{block type="ground" loose="yes"}
<div id="me-profile">
    <div class="wrap">
        {community-profile community=$community /}
    </div>
</div>
<div id="me-content">
    <div class="wrap">
        {me-menu community=$community /}
        <p id="user-posts-add">{$community['overview']}</p>
        {if Access::loggedIn() && $community_tools = $community['user'] == $Conf->ENV->UID ? 'yes' : 'no'}{end}
        {if $admins}
            <h2 class="border">{~Administrators}</h2>
            {users-list users=$admins community_tools=$community_tools /}
        {end}
        {if $members}
            <h2 class="border">{~Members}</h2>
            {users-list users=$members community_tools=$community_tools /}
        {end}
    </div>
</div>
{/block}