{block type="ground" loose="yes"}
<div id="me-profile">
    <div class="wrap">
        {community-profile community=$community /}
    </div>
</div>
<div id="me-content">
    <div class="wrap">
        {me-menu community=$community /}
        {if Access::loggedIn() && $community['joined']}
        <p id="user-posts-add"><a href="{@home}users/{$Conf.ENV.user.login}/posts/add/?community={$community['id']}" class="button"><span><span>{~Add_post}</span></span></a></p>
        {end}
        
        {if $posts}
            {posts-list posts=$posts /}
            
            {if count($pages) > 1}
            <ul class="paging">
                {foreach $pages as $p => $page}
                <li>
                    {if $p == $current_page}
                    <b>{$page}</b>
                    {else}
                    <a href="{@this}{$community['name']}/posts/{if $p > 1}p{$p}/{end}">{$page}</a>
                    {end}
                </li>
                {end}
            </ul>
            {end}
        {end}
    </div>
</div>
{/block}