<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
    <title>
        {if $Conf->URL->self == $Conf->URL->home}
            {if isset($page_title)}{$page_title}{else}{~site_title}{end}
        {else}
            {if isset($page_title)}{$page_title}: {end}{~site_title}
        {end}
    </title>
    <link rel="shortcut icon" href="{@main}favicon.ico" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    {if $Conf->CNF->site->local}
    {js type="admin" packed="no" getsession="yes" /}
    {css packed="no" /}
    {else}
    {js type="admin" packed="yes" getsession="yes" /}
    {css packed="yes" /}
    {end}
</head>
    <body{if $page_id} id="{$page_id}"{end} class="app">
        <div id="wrapper" class="gray">
            {block type="ie-warning" /}
            <div id="header">
                <div class="bg"></div>
                <div class="wrap">
                {block type="logo" /}
                {userbox /}
                </div>
            </div>
            <div id="content">
                {$content}
            </div>
        </div>
        <div id="footer">
            <div class="deco"></div>
            <div class="wrap">
                <p id="credits">
                    &copy; {~owner}, 2010
                </p>
                <img src="{@img}site/footer-logo.png" alt="42goals" class="logo" />
            </div>
        </div>
    {block type="counters" /}
    </body>
</html>