<!DOCTYPE html>
<html>
    {block type="head" /}
    <body{if isset($page_id)} id="{$page_id}"{end} lang="{$Conf.ENV.language}">
        <div id="wrapper"{if isset($page_gray) && !empty($page_gray)} class="gray"{end}>
            {block type="ie-warning" /}
            <div id="header">
                <div class="bg"></div>
                <div class="wrap">
                {block type="logo" /}
                {main-menu /}
                {userbox /}
                </div>
            </div>
            <div id="content"{if isset($page_wide_footer) && !empty($page_wide_footer)} class="wide-footer"{end}>{$content}
            </div>
        </div>
        <div id="footer"{if isset($page_wide_footer) && !empty($page_wide_footer)} class="wide"{end}>
            <div class="deco"></div>
            {if isset($page_wide_footer) && !empty($page_wide_footer)}
            <div id="social">
                <div class="wrap">
                    {* blogroll count="3" / *}
                    {* twitter count="2" / *} 
                    {fb-like-box /}
                </div>
            </div>
            {end}
            <div class="wrap">
                <p id="credits">
                    &copy; {~owner}, 2014
                </p>
                {bottom-menu /}
                <img src="{@img}site/footer-logo.png" alt="42goals" class="logo" />
            </div>
        </div>
    {block type="counters" /}
    </body>
</html>
