<script type="text/javascript">
window.Data = {};
Data.today = {$today|json::encode};
Data.goals = {$goals|json::encode_array};
</script>

<div id="form-container">
    <div class="wrap">
        <h1>{~Archive}</h1>
        <div id="archive-list"></div>
        <div id="archive-empty">{~No_archived_goals}</div>
    </div>
</div>