{block type="sky"}
    <h1>Перейдите на премиум аккаунт!</h1>
    <p>
        Вы можете использовать 42гола <strong>бесплатно</strong> и извлекать пользу из всех его базовых возможностей.
        Если же вы решите перейти на премиум аккаунт, вы получите больше функций, а также теплое и уютное чувство поддержки нашего проекта.
        Ниже вы найдете таблицу сравнения планов подписки: 
    </p>
    
    <ul id="pricing">
        <li id="plan-free">
            <h2>Бесплатный</h2>
            <p class="price"><strong>$0/месяц</strong></p>
            <p>
                Все базовые типы целей:<br /> 
                числовой, счетчик, логический, время
            </p>
            <p class="sign-up">
            {if !Access::loggedIn()}
                <a href="{@home}registration/" class="button"><span><span>Зарегистрировать</span></span></a>
            {end}
            </p>
        </li>
        <li id="plan-premium">
            <h2>Премиум</h2>
            <p class="price"><strong>$5/месяц</strong></p>
            <p>
                Все базовые типы целей<br />
                Расширенные типы целей: таймер<br />
                Группировка целей по вкладкам<br />
                Приоритетная тех. поддержка по эл. почте
            </p>
            <p class="sign-up">
                {if Access::loggedIn()}
                <a href="{@home}pay/" class="button"><span><span>Купить</span></span></a>
                {else}
                <a href="{@home}registration/?premium" class="button"><span><span>Зарегистрировать</span></span></a>
                {end}
            </p>
        </li>
        <li id="plan-corporate">
            <h2>Бизнес</h2>
            <p class="price"><strong><a href="mailto:info@42goals.com">узнать подробнее</a></strong></p>
            <p>
                Все базовые типы целей<br />
                Расширенные типы целей: таймер<br />
                Группировка целей по вкладкам<br />
                Приоритетная тех. поддержка<br />
                42гола для вашей компании
            </p>
            <p class="sign-up"><a href="{@home}corporate/" class="button"><span><span>Зарегистрировать</span></span></a></p>
        </li>
    </ul>
{/block}
{block type="ground"}
    <blockquote>
        <h2>
            Чтобы увидеть все базовые и расширенные возможности в действии, попробуйте бесплатное <a href="{@home}demo/">демо</a>.
            <br />
            Наш премиум аккаунт стоит дешевле чем: бутылка пива, пачка сигарет, фаст-фуд меню, плитка шоколада.
        </h2>
    </blockquote>
{/block}