{block type="sky"}
    <h1>Devenez premium!</h1>
    <p>
        Vous pouvez utiliser 42goals <strong>gratuitement</strong> et profiter de toutes les fonctionnalités basiques.
        Si vous décidez de passer au compte premium, vous aurez des fonctionnalités plus avancées et le sentiment de soutenir 42goals.
        Ci-dessous vous trouverez un tableau comparatif de nos formules d'abonnement:
    </p>
    
    <ul id="pricing">
        <li id="plan-free">
            <h2>Gratuit</h2>
            <p class="price"><strong>$0/mois</strong></p>
            <p>
                Tous les types des objectifs basiques:<br /> 
                numérique, compteur, booléen, temps
            </p>
            <p class="sign-up">
                {if !Access::loggedIn()}
                <a href="{@home}registration/" class="button"><span><span>S'inscrire</span></span></a>
                {end}
            </p>
        </li>
        <li id="plan-premium">
            <h2>Premium</h2>
            <p class="price"><strong>$5/mois</strong></p>
            <p>
                Tous les objectifs basiques<br />
                Les types avancées: chronomètre<br />
                Grouper les objectifs par des onglets<br />
		CSV Export objectifs <br />
                Support technique prioritaire par email
            </p>
            <p class="sign-up">
                {if Access::loggedIn()}
                <a href="{@home}pay/" class="button"><span><span>Acheter</span></span></a>
                {else}
                <a href="{@home}registration/?premium" class="button"><span><span>S'inscrire</span></span></a>
                {end}
            </p>
        </li>
        <li id="plan-corporate">
            <h2>Professionel</h2>
            <p class="price"><strong><a href="mailto:info@42goals.com">contactez nous</a> pour info</strong></p>
            <p>
                42goals pour votre entreprise!
            </p>
            <p class="sign-up"><a href="{@home}corporate/" class="button"><span><span>S'inscrire</span></span></a></p>
        </li>
    </ul>
{/block}
{block type="ground"}
    <blockquote>
        <h2>
            Pour voir toutes les fonctionnalités de base et avancées, consultez notre <a href="{@home}demo/">démo</a> gratuit.
            <br />
            Notre compte premium est moins cher que: une bouteille de vin, un paquet de cigarettes, un sandwich ou une barre de chocolat.
        </h2>
    </blockquote>
{/block}
