Hello {$user['name']},

You have received a new comment from {$Conf.ENV.user.name}:

"{$data['text']}"

View comment: {$host}{$url}#comment-{$data['id']}
Reply comment: {$host}{$url}#reply-{$data['id']}
--
42goals Team
http://42goals.com