Hello, {$user['name']}!

{$Conf.ENV.user.name} wants to add you as a friend.

You can confirm the request here: {$host}{@home}users/{$user['login']}/friends/
Otherwise, simply ignore this message.
--
The 42goals team
http://42goals.com