{if $community['picture']}<img src="{@communitypics}{$community['picture']|htmlentities}" width="180" />{end}
<h1>{$community['title']|htmlspecialchars}</h1>
<blockquote>{$community['overview']|htmlspecialchars}</blockquote>
<div id="community-tools">
    <div id="community-membership" class="{if isset($community['joined']) && !empty($community['joined'])}joined{else}not-joined{end}">
        <p id="community-not-joined">
            <img src="{@img}site/join.png" alt="join" /> 
            <img src="{@img}site/loading24.gif" alt="" class="loading" /> 
            <a href="#join" class="script" onclick="Community.join(); return false;">{~join_community}</a>
        </p>
        <p id="community-joined">
            <img src="{@img}site/leave.png" alt="leave" />
            <img src="{@img}site/loading24.gif" alt="" class="loading" />
            <a href="#leave" class="script" onclick="Community.leave(); return false;">{~leave_community}</a>
        </p>
    </div>
</div>