{block type="ground"}
    <h1>Forfait corporatif</h1>
    <p>
        Si vous pensez que 42goals est vraiment utile pour votre propre entreprise et que vous souhaitez l'utiliser avec vos employés, nous avons un spécial pour vous.
         Nous pouvons vous fournir une installation séparée de 42goals sur notre serveur.
         Elle aura sa propre adresse: <strong>yourdomain.42goals.com</strong> ou vous pouvez utiliser votre propre nom de domaine.
         Vous obtiendrez un compte administratif pour gérer vos utilisateurs, leur assigner des objectifs et suivre leurs progrès.
    </p>
    <p>
        Pour en savoir plus, contactez-nous: <a href="mailto:info@42goals.com">info@42goals.com</a>.
    </p>
{/block}