{block type="ground"}
    <h1>Corporate package</h1>
    <p>
        If you feel that 42goals is really useful for your own business and want to use it with your employees, we have a special for you.
        We can provide you with a separate installation of 42goals on our server. 
        It will have its own address: <strong>yourdomain.42goals.com</strong> or you may use your own domain.
        You will get an administrative account to manage your users, assign them goals and watch their progress.
    </p>
    <p>
        To know more, contact us: <a href="mailto:info@42goals.com">info@42goals.com</a>.
    </p>
{/block}