{block type="ground"}
    <h1>企業パック</h1>
    <p>
        42goalsが、お客様の企業に実際お役に立ち、お客様の従業員にも使わせたいのであれば、お客様のために特別なパックをご用意しております。
        当社は、当社のサーバに42goalsを個別にインストールする方法を提供しております。
        それ自体のアドレス<strong>yourdomain.42goals.com</strong>をお持ちいただくかご自身のドメインをご使用いただけます。
        お客様のユーザーを管理する管理者アカウントを入手し、彼らに目標を割り当て。それら経過を監視することができます。
    </p>
    <p>
        詳しい情報をお知りなりたいのであれば、<a href="mailto:info@42goals.com">info@42goals.com</a>へお問い合わせください。
    </p>
{/block}