{block type="ground"}
    <h1>Корпоративный пакет</h1>
    <p>
        Если вы решили, что 42гола очень полезен для вашего бизнеса и вы хотите использовать наш сервис среди сотрудников, у нас есть специальное предложение для вас.
        Мы установим для вас отдельную копию 42гола на нашем сервере.
        У вашей копии будет свой отдельный адрес <strong>yourdomain.42goals.com</strong> или же вы можете использовать свой.
        Вы получите административный доступ с помощью которого вы сможете управлять аккаунтами пользователей, ставить им цели и смотреть общий прогресс.
    </p>
    <p>
        Чтобы узнать подробнее, свяжитесь с нами: <a href="mailto:info@42goals.com">info@42goals.com</a>.
    </p>
{/block}