Bonjour, {$user['name']}.

Vous avez reçu un nouveau commentaire de {$Conf.ENV.user.name}:

"{$data['text']}"

Voir le commentaire: {$host}{$url}#comment-{$data['id']}
Répondre commentaire: {$host}{$url}#reply-{$data['id']}
--
L'équipe 42goals
http://fr.42goals.com