<h2>{~Account_type}</h2>
<ul class="fields">
<li>
<span class="label">{~Account_type}</span>: <b>{if $Conf->ENV->user.paid_till > ($today=date("Y-m-d")) }Premium Account User {else} Free Account User {end}</b>
</li>
<li>
<span class="label">{~Account_expire}</span>: <b>{$Conf.ENV.user.paid_till} </b>
</li>
</ul>
