<div id="ground">
    <div class="deco"></div>
    {if !array_get($params, 'wide')}
    <div class="{if array_get($params, 'loose')}loose-width{else}fix-width{end}">
        <div class="wrap">
            {$content}
        </div>
    </div>
    {else}
        {$content}
    {end}
</div>
