<head>
    <title>
        {if $Conf->URL->self == $Conf->URL->home}
            {if isset($page_title)}{$page_title}{else}{~site_title}{end}
        {else}
            {if isset($page_title)}{$page_title} / {end}{~site_title}
        {end}
    </title>
    <link rel="shortcut icon" href="{@main}favicon.ico" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="keywords" content="{~site_keywords}" /> 
    <meta name="description" content="{~site_description}" />
    {if $Conf->CNF->site->local}
    {css packed="no" /}
    {js packed="no" getsession="yes" /}
    {else}
    {css packed="yes" /}
    {js packed="yes" getsession="yes" /}
    {end}
</head>
