<h1 id="logo">
    {if $Conf->URL->this == $Conf->URL->home}
    <img src="{@img}site/logo.png" alt="42goals" />
    {else}
    <a href="{@home}"><img src="{@img}site/logo.png" alt="42goals" /></a>
    {end}
</h1>