<div id="sky">
{if !array_get($params, 'wide')}
    <div class="bg">
        <div class="fix-width">
            <div class="wrap">
                {$content}
            </div>
        </div>
    </div>
{else}
    <div class="bg">
        <div class="wrap">
            {$content}
        </div>
    </div>
{end}
</div>
