    <h2>Hello developers!</h2>
    <p>Here is a quick tutorial on 42goals API. The two keywords you should know are: REST and OAuth, as we use these two standards in our API design. In general, your application will send a simple HTTP request and obtain an XML or JSON response.</p>
    
    <ul id="table-of-contents">
        <li><a href="#getting-started">Getting started</a></li>
        <li><a href="#requests-and-responses">Requests and responses</a></li>
        <li>
            <a href="#resources">Resources</a>
            <ul>
                <li><a href="#resources-goals">Goals</a></li>
                <li><a href="#resources-icons">Icons</a></li>
                <li><a href="#resources-data">Data</a></li>
                <li><a href="#resources-me">Me</a></li>
            </ul>
        </li>
    </ul>
    
    <h3 id="getting-started">Getting started</h3>
    
    <p>In order to use the API, you need to register your application. For that you will need an account at 42goals.com. Simply login your account and go to the <a href="{$Conf.CNF.site.host}{@home}apps/">applications page</a>. You will need to come up with an application name and a description. They will be used to tell users about your app. In return you will receive two tokens: app key and secret. Both 32-character-length hex strings that are used in OAuth workflow. Keep them in a safe place, especially, the secret string. If you are not familiar with OAuth a good place to start is here: <a href="http://hueniverse.com/oauth/">http://hueniverse.com/oauth/</a>. It is also a good idea to use a ready-made library for your programming language and environment: <a href="http://oauth.net/code/">http://oauth.net/code/</a>.</p>
    
    <h3>Authorization and authentication</h3>
    
    <p>We use OAuth for authentication of apps and managing access to users' data. Once you have obtained tokens for your app, here are the access points for OAuth workflow:</p>
    <ul>
        <li>Get request token: <kbd>http://api.42goals.com/v1/oauth/request_token/</kbd></li>
        <li>Authorize token: <kbd>http://42goals.com/settings/authorize/$REQUEST_TOKEN/</kbd></li>
        <li>Get access token: <kbd>http://api.42goals.com/v1/oauth/access_token/</kbd></li>
    </ul>
    
    <h3 id="requests-and-responses">Requests and responses</h3>
    
    <p>42goals API is designed in REST-style, i.e. you will make HTTP requests and we give you a response in XML or JSON formats. GET requests are used to retrieve data, POST for adding new data, PUT for modifying existing data, and DELETE will erase data. For example:</p>
    <ul>
        <li><kbd>GET http://api.42goals.com/v1/goals/1/</kbd> &mdash; returns information of the goal with ID=1</li>
        <li><kbd>POST http://api.42goals.com/v1/goals/</kbd> &mdash; adds a new goal</li>
        <li><kbd>PUT http://api.42goals.com/v1/goals/1/</kbd> &mdash; edits the goal with ID=1</li>
        <li><kbd>DELETE http://api.42goals.com/v1/goals/1/</kbd> &mdash; deletes the goal with ID=1</li>
    </ul>
    <p>By default, all the responses are given in XML format. You may pass an HTTP header “Accept: text/json” to set the JSON format.</p>
    
    <h3 id="resources">Resources</h3>
    
    <h4 id="resources-goals">Goals</h4>
    
    <p>Goal is a user's objective for which he tracks the data. A goal has the following fields:</p>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Type (max-length)</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>id</td>
                <td>integer</td>
                <td>a unique identification number of a goal</td>
            </tr>
            <tr>
                <td>type</td>
                <td>one of: "boolean", "numeric", "counter"</td>
                <td>type of the data stored for the goal</td>
            </tr>
            <tr>
                <td>title</td>
                <td>string (255)</td>
                <td>goal's name</td>
            </tr>
            <tr>
                <td>text</td>
                <td>string (65536)</td>
                <td>goal's description</td>
            </tr>
            <tr>
                <td>position</td>
                <td>integer</td>
                <td>goal's order in the list of goals, used for sorting goals</td>
            </tr>
            <tr>
                <td>icon_item</td>
                <td>integer</td>
                <td>icon's ID for counter goals</td>
            </tr>
            <tr>
                <td>icon_true</td>
                <td>integer</td>
                <td>icon's ID for boolean goals to represent true value</td>
            </tr>
            <tr>
                <td>icon_false</td>
                <td>integer</td>
                <td>icon's ID for boolean goals to represent false value</td>
            </tr>
            <tr>
                <td>unit</td>
                <td>string (32)</td>
                <td>goal's unit of measurements</td>
            </tr>
            <tr>
                <td>prepend</td>
                <td>"yes" or "no"</td>
                <td>whether the unit of measurements should be before the value, such as for "$100"</td>
            </tr>
            <tr>
                <td>aggregate</td>
                <td>one of: "none", "sum", "avg", "min", "max"</td>
                <td>goal's aggregate function</td>
            </tr>
         </tbody>
     </table>

    <p>
        Request: <kbd>GET http://api.42goals.com/v1/goals/</kbd>
        <br />Description: lists all user's goals
        <br />Parameters: none
        <br />Response:
    </p>
    
    <blockquote>
        <code class="xml">
        <span class="sc3"><span class="re1">&lt;?xml</span> <span class="re0">version</span>=<span class="st0">&quot;1.0&quot;</span><span class="re2">?&gt;</span></span><br />
        <span class="sc3"><span class="re1">&lt;root<span class="re2">&gt;</span></span></span><br />
        &nbsp; &nbsp; <span class="sc3"><span class="re1">&lt;goal<span class="re2">&gt;</span></span></span><br />
        &nbsp; &nbsp; &nbsp; &nbsp; <span class="sc3"><span class="re1">&lt;id<span class="re2">&gt;</span></span></span>1<span class="sc3"><span class="re1">&lt;/id<span class="re2">&gt;</span></span></span><br />
        &nbsp; &nbsp; &nbsp; &nbsp; <span class="sc3"><span class="re1">&lt;type<span class="re2">&gt;</span></span></span>boolean<span class="sc3"><span class="re1">&lt;/type<span class="re2">&gt;</span></span></span><br />
        &nbsp; &nbsp; &nbsp; &nbsp; <span class="sc3"><span class="re1">&lt;title<span class="re2">&gt;</span></span></span>Productivity<span class="sc3"><span class="re1">&lt;/title<span class="re2">&gt;</span></span></span><br />
        &nbsp; &nbsp; &nbsp; &nbsp; <span class="sc3"><span class="re1">&lt;text<span class="re2">&gt;</span></span></span>Productivity is a measure of output from a production process<br />
        &nbsp; &nbsp; &nbsp; &nbsp; <span class="sc3"><span class="re1">&lt;/text<span class="re2">&gt;</span></span></span><br />
        &nbsp; &nbsp; &nbsp; &nbsp; <span class="sc3"><span class="re1">&lt;position<span class="re2">&gt;</span></span></span>1<span class="sc3"><span class="re1">&lt;/position<span class="re2">&gt;</span></span></span><br />
        &nbsp; &nbsp; &nbsp; &nbsp; <span class="sc3"><span class="re1">&lt;icon_item<span class="re2">&gt;</span></span></span>0<span class="sc3"><span class="re1">&lt;/icon_item<span class="re2">&gt;</span></span></span><br />
        &nbsp; &nbsp; &nbsp; &nbsp; <span class="sc3"><span class="re1">&lt;icon_true<span class="re2">&gt;</span></span></span>19<span class="sc3"><span class="re1">&lt;/icon_true<span class="re2">&gt;</span></span></span><br />
        &nbsp; &nbsp; &nbsp; &nbsp; <span class="sc3"><span class="re1">&lt;icon_false<span class="re2">&gt;</span></span></span>20<span class="sc3"><span class="re1">&lt;/icon_false<span class="re2">&gt;</span></span></span><br />
        &nbsp; &nbsp; &nbsp; &nbsp; <span class="sc3"><span class="re1">&lt;unit<span class="re2">&gt;</span></span><span class="re1">&lt;/unit<span class="re2">&gt;</span></span></span><br />
        &nbsp; &nbsp; &nbsp; &nbsp; <span class="sc3"><span class="re1">&lt;prepend<span class="re2">&gt;</span></span></span>no<span class="sc3"><span class="re1">&lt;/prepend<span class="re2">&gt;</span></span></span><br />
        &nbsp; &nbsp; &nbsp; &nbsp; <span class="sc3"><span class="re1">&lt;aggregate<span class="re2">&gt;</span></span></span>none<span class="sc3"><span class="re1">&lt;/aggregate<span class="re2">&gt;</span></span></span><br />
        &nbsp; &nbsp; <span class="sc3"><span class="re1">&lt;/goal<span class="re2">&gt;</span></span></span><br />
        &nbsp; &nbsp; <span class="sc3"><span class="re1">&lt;goal<span class="re2">&gt;</span></span></span><br />
        &nbsp; &nbsp; &nbsp; &nbsp; <span class="sc3"><span class="re1">&lt;id<span class="re2">&gt;</span></span></span>2<span class="sc3"><span class="re1">&lt;/id<span class="re2">&gt;</span></span></span><br />
        &nbsp; &nbsp; &nbsp; &nbsp; <span class="sc3"><span class="re1">&lt;title<span class="re2">&gt;</span></span></span>Jogging<span class="sc3"><span class="re1">&lt;/title<span class="re2">&gt;</span></span></span><br />
        &nbsp; &nbsp; &nbsp; &nbsp; <span class="sc3"><span class="re1">&lt;type<span class="re2">&gt;</span></span></span>numeric<span class="sc3"><span class="re1">&lt;/type<span class="re2">&gt;</span></span></span><br />
        &nbsp; &nbsp; &nbsp; &nbsp; <span class="sc3"><span class="re1">&lt;text<span class="re2">&gt;</span></span></span>Jogging every day helps me to wake up and stay focused all day long<span class="sc3"><span class="re1">&lt;/text<span class="re2">&gt;</span></span></span><br />
        &nbsp; &nbsp; &nbsp; &nbsp; <span class="sc3"><span class="re1">&lt;icon_item<span class="re2">&gt;</span></span></span>0<span class="sc3"><span class="re1">&lt;/icon_item<span class="re2">&gt;</span></span></span><br />
        &nbsp; &nbsp; &nbsp; &nbsp; <span class="sc3"><span class="re1">&lt;icon_true<span class="re2">&gt;</span></span></span>0<span class="sc3"><span class="re1">&lt;/icon_true<span class="re2">&gt;</span></span></span><br />
        &nbsp; &nbsp; &nbsp; &nbsp; <span class="sc3"><span class="re1">&lt;icon_false<span class="re2">&gt;</span></span></span>0<span class="sc3"><span class="re1">&lt;/icon_false<span class="re2">&gt;</span></span></span><br />
        &nbsp; &nbsp; &nbsp; &nbsp; <span class="sc3"><span class="re1">&lt;position<span class="re2">&gt;</span></span></span>2<span class="sc3"><span class="re1">&lt;/position<span class="re2">&gt;</span></span></span><br />
        &nbsp; &nbsp; &nbsp; &nbsp; <span class="sc3"><span class="re1">&lt;unit<span class="re2">&gt;</span></span></span>m<span class="sc3"><span class="re1">&lt;/unit<span class="re2">&gt;</span></span></span><br />
        &nbsp; &nbsp; &nbsp; &nbsp; <span class="sc3"><span class="re1">&lt;prepend<span class="re2">&gt;</span></span></span>no<span class="sc3"><span class="re1">&lt;/prepend<span class="re2">&gt;</span></span></span><br />
        &nbsp; &nbsp; &nbsp; &nbsp; <span class="sc3"><span class="re1">&lt;aggregate<span class="re2">&gt;</span></span></span>sum<span class="sc3"><span class="re1">&lt;/aggregate<span class="re2">&gt;</span></span></span><br />
        &nbsp; &nbsp; <span class="sc3"><span class="re1">&lt;/goal<span class="re2">&gt;</span></span></span><br />
        <span class="sc3"><span class="re1">&lt;/root<span class="re2">&gt;</span></span></span>
        </code>
    </blockquote>
    
    <p>
        Request: <kbd>POST http://api.42goals.com/v1/goals/</kbd><br />
        Description: add a new goal<br />
        Parameters: goal info (see the table above)<br />
        <code>
        Examples of the POST body:
        <br />1. type=numeric &amp; title=Jogging &amp; unit=km
        <br />2. type=boolean &amp; title=Productivity &amp; icon_true=1 &amp; icon_false=1
        <br />3. type=counter &amp; title=Coffee &amp; icon_item=3
        </code><br />
        Response:
    </p>
    <blockquote>
        <code class="xml"><span class="sc3"><span class="re1">&lt;?xml</span> <span class="re0">version</span>=<span class="st0">&quot;1.0&quot;</span><span class="re2">?&gt;</span></span><br />
        <span class="sc3"><span class="re1">&lt;root<span class="re2">&gt;</span></span></span><br />
        &nbsp; &nbsp; <span class="sc3"><span class="re1">&lt;goal<span class="re2">&gt;</span></span></span><br />
        &nbsp; &nbsp; &nbsp; &nbsp; <span class="sc3"><span class="re1">&lt;id<span class="re2">&gt;</span></span></span>1<span class="sc3"><span class="re1">&lt;/id<span class="re2">&gt;</span></span></span><br />
        &nbsp; &nbsp; &nbsp; &nbsp; <span class="sc3"><span class="re1">&lt;type<span class="re2">&gt;</span></span></span>numeric<span class="sc3"><span class="re1">&lt;/type<span class="re2">&gt;</span></span></span><br />
        &nbsp; &nbsp; &nbsp; &nbsp; <span class="sc3"><span class="re1">&lt;title<span class="re2">&gt;</span></span></span>Jogging<span class="sc3"><span class="re1">&lt;/title<span class="re2">&gt;</span></span></span><br />
        &nbsp; &nbsp; &nbsp; &nbsp; <span class="sc3"><span class="re1">&lt;unit<span class="re2">&gt;</span></span></span>km<span class="sc3"><span class="re1">&lt;/text<span class="re2">&gt;</span></span></span><br />
        &nbsp; &nbsp; <span class="sc3"><span class="re1">&lt;/goal<span class="re2">&gt;</span></span></span><br />
        <span class="sc3"><span class="re1">&lt;/root<span class="re2">&gt;</span></span></span></code>
    </blockquote>

    <p>
        Request: <kbd>GET http://api.42goals.com/v1/goals/$GOAL_ID/</kbd><br />
        Description: get info of the goal with ID = $goal_id<br />
        Parameters: none<br />
        Response:
    </p>
    <blockquote>
        <code class="xml"><span class="sc3"><span class="re1">&lt;?xml</span> <span class="re0">version</span>=<span class="st0">&quot;1.0&quot;</span><span class="re2">?&gt;</span></span><br />
        <span class="sc3"><span class="re1">&lt;root<span class="re2">&gt;</span></span></span><br />
        &nbsp; &nbsp; <span class="sc3"><span class="re1">&lt;goal<span class="re2">&gt;</span></span></span><br />
        &nbsp; &nbsp; &nbsp; &nbsp; <span class="sc3"><span class="re1">&lt;id<span class="re2">&gt;</span></span></span>1<span class="sc3"><span class="re1">&lt;/id<span class="re2">&gt;</span></span></span><br />
        &nbsp; &nbsp; &nbsp; &nbsp; <span class="sc3"><span class="re1">&lt;type<span class="re2">&gt;</span></span></span>boolean<span class="sc3"><span class="re1">&lt;/type<span class="re2">&gt;</span></span></span><br />
        &nbsp; &nbsp; &nbsp; &nbsp; <span class="sc3"><span class="re1">&lt;title<span class="re2">&gt;</span></span></span>Productivity<span class="sc3"><span class="re1">&lt;/title<span class="re2">&gt;</span></span></span><br />
        &nbsp; &nbsp; &nbsp; &nbsp; <span class="sc3"><span class="re1">&lt;text<span class="re2">&gt;</span></span></span>Productivity is a measure of output from a production process<br />
        &nbsp; &nbsp; &nbsp; &nbsp; <span class="sc3"><span class="re1">&lt;/text<span class="re2">&gt;</span></span></span><br />
        &nbsp; &nbsp; &nbsp; &nbsp; <span class="sc3"><span class="re1">&lt;position<span class="re2">&gt;</span></span></span>1<span class="sc3"><span class="re1">&lt;/position<span class="re2">&gt;</span></span></span><br />
        &nbsp; &nbsp; &nbsp; &nbsp; <span class="sc3"><span class="re1">&lt;icon_item<span class="re2">&gt;</span></span></span>0<span class="sc3"><span class="re1">&lt;/icon_item<span class="re2">&gt;</span></span></span><br />
        &nbsp; &nbsp; &nbsp; &nbsp; <span class="sc3"><span class="re1">&lt;icon_true<span class="re2">&gt;</span></span></span>19<span class="sc3"><span class="re1">&lt;/icon_true<span class="re2">&gt;</span></span></span><br />
        &nbsp; &nbsp; &nbsp; &nbsp; <span class="sc3"><span class="re1">&lt;icon_false<span class="re2">&gt;</span></span></span>20<span class="sc3"><span class="re1">&lt;/icon_false<span class="re2">&gt;</span></span></span><br />
        &nbsp; &nbsp; &nbsp; &nbsp; <span class="sc3"><span class="re1">&lt;unit<span class="re2">&gt;</span></span><span class="re1">&lt;/unit<span class="re2">&gt;</span></span></span><br />
        &nbsp; &nbsp; &nbsp; &nbsp; <span class="sc3"><span class="re1">&lt;prepend<span class="re2">&gt;</span></span></span>no<span class="sc3"><span class="re1">&lt;/prepend<span class="re2">&gt;</span></span></span><br />
        &nbsp; &nbsp; &nbsp; &nbsp; <span class="sc3"><span class="re1">&lt;aggregate<span class="re2">&gt;</span></span></span>none<span class="sc3"><span class="re1">&lt;/aggregate<span class="re2">&gt;</span></span></span><br />
        &nbsp; &nbsp; <span class="sc3"><span class="re1">&lt;/goal<span class="re2">&gt;</span></span></span><br />
        <span class="sc3"><span class="re1">&lt;/root<span class="re2">&gt;</span></span></span></code>
    </blockquote>
    
    <p>
        Request: <kbd>PUT http://api.42goals.com/v1/goals/$GOAL_ID/</kbd><br />
        Description: edit goal with ID = $goal_id<br />
        Parameters: goal info (see the table above)<br />
        <code>
        Example of the PUT body:<br />
        title=Jogging &amp; text=Jogging is good
        </code><br />
        Response:
    </p>
    <blockquote>
        <code class="xml"><span class="sc3"><span class="re1">&lt;?xml</span> <span class="re0">version</span>=<span class="st0">&quot;1.0&quot;</span><span class="re2">?&gt;</span></span><br />
        <span class="sc3"><span class="re1">&lt;root<span class="re2">&gt;</span></span></span><br />
        &nbsp; &nbsp; <span class="sc3"><span class="re1">&lt;goal<span class="re2">&gt;</span></span></span><br />
        &nbsp; &nbsp; &nbsp; &nbsp; <span class="sc3"><span class="re1">&lt;id<span class="re2">&gt;</span></span></span>1<span class="sc3"><span class="re1">&lt;/id<span class="re2">&gt;</span></span></span><br />
        &nbsp; &nbsp; &nbsp; &nbsp; <span class="sc3"><span class="re1">&lt;title<span class="re2">&gt;</span></span></span>Jogging<span class="sc3"><span class="re1">&lt;/title<span class="re2">&gt;</span></span></span><br />
        &nbsp; &nbsp; &nbsp; &nbsp; <span class="sc3"><span class="re1">&lt;text<span class="re2">&gt;</span></span></span>Jogging is good<span class="sc3"><span class="re1">&lt;/text<span class="re2">&gt;</span></span></span><br />
        &nbsp; &nbsp; <span class="sc3"><span class="re1">&lt;/goal<span class="re2">&gt;</span></span></span><br />
        <span class="sc3"><span class="re1">&lt;/root<span class="re2">&gt;</span></span></span></code>
    </blockquote>
    
    <p>
        Request: <kbd>DELETE http://api.42goals.com/v1/goals/$GOAL_ID/</kbd><br />
        Description: delete goal with ID = $goal_id<br />
        Parameters: none<br />
        Response:
    </p>
    <blockquote>
        <code class="xml"><span class="sc3"><span class="re1">&lt;?xml</span> <span class="re0">version</span>=<span class="st0">&quot;1.0&quot;</span><span class="re2">?&gt;</span></span><br />
        <span class="sc3"><span class="re1">&lt;root<span class="re2">&gt;</span></span></span><br />
        &nbsp; &nbsp; <span class="sc3"><span class="re1">&lt;ok<span class="re2">&gt;</span></span></span>ok<span class="sc3"><span class="re1">&lt;/ok<span class="re2">&gt;</span></span></span><br />
        <span class="sc3"><span class="re1">&lt;/root<span class="re2">&gt;</span></span></span></code>
    </blockquote>
    
    <h4 id="resources-icons">Icons</h4>
    
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Type (max-length)</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>id</td>
                <td>integer</td>
                <td>icon's ID</td>
            </tr>
            <tr>
                <td>src</td>
                <td>string (255)</td>
                <td>URL of icon's image</td>
            </tr>
            <tr>
                <td>editable</td>
                <td>1 or 0</td>
                <td>whether the current user can modify the icon i.e. has to be its owner</td>
            </tr>
        </tbody>
    </table>

    <p>
        Request: <kbd>GET http://api.42goals.com/v1/icons/</kbd><br />
        Description: get all icons available to the current user<br />
        Parameters: none<br />
        Response:
    </p>
    <blockquote>
        <code class="xml"><span class="sc3"><span class="re1">&lt;?xml</span> <span class="re0">version</span>=<span class="st0">&quot;1.0&quot;</span><span class="re2">?&gt;</span></span><br />
        <span class="sc3"><span class="re1">&lt;root<span class="re2">&gt;</span></span></span><br />
        &nbsp; &nbsp; <span class="sc3"><span class="re1">&lt;icon<span class="re2">&gt;</span></span></span><br />
        &nbsp; &nbsp; &nbsp; &nbsp; <span class="sc3"><span class="re1">&lt;id<span class="re2">&gt;</span></span></span>1<span class="sc3"><span class="re1">&lt;/id<span class="re2">&gt;</span></span></span><br />
        &nbsp; &nbsp; &nbsp; &nbsp; <span class="sc3"><span class="re1">&lt;src<span class="re2">&gt;</span></span></span>http://42goals.com/public/img/icons/admin/1.png<span class="sc3"><span class="re1">&lt;/src<span class="re2">&gt;</span></span></span><br />
        &nbsp; &nbsp; &nbsp; &nbsp; <span class="sc3"><span class="re1">&lt;editable<span class="re2">&gt;</span></span></span>0<span class="sc3"><span class="re1">&lt;/editable<span class="re2">&gt;</span></span></span><br />
        &nbsp; &nbsp; <span class="sc3"><span class="re1">&lt;/icon<span class="re2">&gt;</span></span></span><br />
        &nbsp; &nbsp; <span class="sc3"><span class="re1">&lt;icon<span class="re2">&gt;</span></span></span><br />
        &nbsp; &nbsp; &nbsp; &nbsp; <span class="sc3"><span class="re1">&lt;id<span class="re2">&gt;</span></span></span>2<span class="sc3"><span class="re1">&lt;/id<span class="re2">&gt;</span></span></span><br />
        &nbsp; &nbsp; &nbsp; &nbsp; <span class="sc3"><span class="re1">&lt;src<span class="re2">&gt;</span></span></span>http://42goals.com/public/img/icons/admin/2.png<span class="sc3"><span class="re1">&lt;/src<span class="re2">&gt;</span></span></span><br />
        &nbsp; &nbsp; &nbsp; &nbsp; <span class="sc3"><span class="re1">&lt;editable<span class="re2">&gt;</span></span></span>0<span class="sc3"><span class="re1">&lt;/editable<span class="re2">&gt;</span></span></span><br />
        &nbsp; &nbsp; <span class="sc3"><span class="re1">&lt;/icon<span class="re2">&gt;</span></span></span><br />
        &nbsp; &nbsp; <span class="sc3"><span class="re1">&lt;icon<span class="re2">&gt;</span></span></span><br />
        &nbsp; &nbsp; &nbsp; &nbsp; <span class="sc3"><span class="re1">&lt;id<span class="re2">&gt;</span></span></span>3<span class="sc3"><span class="re1">&lt;/id<span class="re2">&gt;</span></span></span><br />
        &nbsp; &nbsp; &nbsp; &nbsp; <span class="sc3"><span class="re1">&lt;src<span class="re2">&gt;</span></span></span>http://42goals.com/public/img/icons/alex/3.png<span class="sc3"><span class="re1">&lt;/src<span class="re2">&gt;</span></span></span><br />
        &nbsp; &nbsp; &nbsp; &nbsp; <span class="sc3"><span class="re1">&lt;editable<span class="re2">&gt;</span></span></span>1<span class="sc3"><span class="re1">&lt;/editable<span class="re2">&gt;</span></span></span><br />
        &nbsp; &nbsp; <span class="sc3"><span class="re1">&lt;/icon<span class="re2">&gt;</span></span></span><br />
        <span class="sc3"><span class="re1">&lt;/root<span class="re2">&gt;</span></span></span></code>
    </blockquote>
    
    <p>
        Request: <kbd>POST http://api.42goals.com/v1/icons/</kbd><br />
        Description: add a new icon<br />
        Parameters: image content encoded with base64 algorithm and image name<br />
        <code>
        ex: image=iVBORw0KGgoAAAANSU...RK5CYII= &amp; name=icon.png
        </code><br />
        Response:
    </p>
    <blockquote>
        <code class="xml"><span class="sc3"><span class="re1">&lt;?xml</span> <span class="re0">version</span>=<span class="st0">&quot;1.0&quot;</span><span class="re2">?&gt;</span></span><br />
        <span class="sc3"><span class="re1">&lt;root<span class="re2">&gt;</span></span></span><br />
        &nbsp; &nbsp; <span class="sc3"><span class="re1">&lt;icon<span class="re2">&gt;</span></span></span><br />
        &nbsp; &nbsp; &nbsp; &nbsp; <span class="sc3"><span class="re1">&lt;id<span class="re2">&gt;</span></span></span>1<span class="sc3"><span class="re1">&lt;/id<span class="re2">&gt;</span></span></span><br />
        &nbsp; &nbsp; &nbsp; &nbsp; <span class="sc3"><span class="re1">&lt;src<span class="re2">&gt;</span></span></span>http://42goals.com/public/img/icons/admin/1.png<span class="sc3"><span class="re1">&lt;/src<span class="re2">&gt;</span></span></span><br />
        &nbsp; &nbsp; <span class="sc3"><span class="re1">&lt;/icon<span class="re2">&gt;</span></span></span><br />
        <span class="sc3"><span class="re1">&lt;/root<span class="re2">&gt;</span></span></span></code>    
    </blockquote>
    
    <p>
        Request: <kbd>GET http://api.42goals.com/v1/icons/$ICON_ID/</kbd><br />
        Description: get info of the icon with ID = 1<br />
        Parameters: none<br />
        Response:
    </p>
    <blockquote>
        <code class="xml"><span class="sc3"><span class="re1">&lt;?xml</span> <span class="re0">version</span>=<span class="st0">&quot;1.0&quot;</span><span class="re2">?&gt;</span></span><br />
        <span class="sc3"><span class="re1">&lt;root<span class="re2">&gt;</span></span></span><br />
        &nbsp; &nbsp; <span class="sc3"><span class="re1">&lt;icon<span class="re2">&gt;</span></span></span><br />
        &nbsp; &nbsp; &nbsp; &nbsp; <span class="sc3"><span class="re1">&lt;id<span class="re2">&gt;</span></span></span>1<span class="sc3"><span class="re1">&lt;/id<span class="re2">&gt;</span></span></span><br />
        &nbsp; &nbsp; &nbsp; &nbsp; <span class="sc3"><span class="re1">&lt;src<span class="re2">&gt;</span></span></span>http://42goals.com/public/img/icons/admin/1.png<span class="sc3"><span class="re1">&lt;/src<span class="re2">&gt;</span></span></span><br />
        &nbsp; &nbsp; &nbsp; &nbsp; <span class="sc3"><span class="re1">&lt;editable<span class="re2">&gt;</span></span></span>0<span class="sc3"><span class="re1">&lt;/editable<span class="re2">&gt;</span></span></span><br />
        &nbsp; &nbsp; <span class="sc3"><span class="re1">&lt;/icon<span class="re2">&gt;</span></span></span><br />
        <span class="sc3"><span class="re1">&lt;/root<span class="re2">&gt;</span></span></span></code>
    </blockquote>
    
    <p>
        Request: <kbd>DELETE http://api.42goals.com/v1/icons/$ICON_ID/</kbd><br />
        Description: delete icon with ID = 1<br />
        Parameters: none<br />
        Response:
    </p>
    <blockquote>
        <code class="xml"><span class="sc3"><span class="re1">&lt;?xml</span> <span class="re0">version</span>=<span class="st0">&quot;1.0&quot;</span><span class="re2">?&gt;</span></span><br />
        <span class="sc3"><span class="re1">&lt;root<span class="re2">&gt;</span></span></span><br />
        &nbsp; &nbsp; <span class="sc3"><span class="re1">&lt;ok<span class="re2">&gt;</span></span></span>ok<span class="sc3"><span class="re1">&lt;/ok<span class="re2">&gt;</span></span></span><br />
        <span class="sc3"><span class="re1">&lt;/root<span class="re2">&gt;</span></span></span></code>
    </blockquote>
    
    <h4 id="resources-data">Data</h4>
    
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Type (max-length)</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>goal</td>
                <td>integer</td>
                <td>goal's ID</td>
            </tr>
            <tr>
                <td>date</td>
                <td>date (YYYY-MM-DD)</td>
                <td>day of the log</td>
            </tr>
            <tr>
                <td>value</td>
                <td>integer or double</td>
                <td>value</td>
            </tr>
            <tr>
                <td>text</td>
                <td>string (65536)</td>
                <td>value comment</td>
            </tr>
        </tbody>
    </table>
         
    <p>The date format in the API requests is as follows: <kbd>ddmmmyy</kbd>, where dd - is numerical representation or the date, mmm - the first three letters of the month and yy - the last two digits of the year, e.g.: 1aug10 = August 1, 2010.</p>
    
    <p>
        Request: <kbd>GET http://api.42goals.com/v1/data/$GOAL_ID/$DATE/</kbd><br />
        Description: get data for goal with ID = $goal_id on date = $date<br />
        Parameters: none<br />
        Response:
    </p>
    <blockquote>
        <code class="xml">
        ex: GET http://api.42goals.com/v1/data/1/1aug10/<br />
        <span class="sc3"><span class="re1">&lt;?xml</span> <span class="re0">version</span>=<span class="st0">&quot;1.0&quot;</span><span class="re2">?&gt;</span></span><br />
        <span class="sc3"><span class="re1">&lt;root<span class="re2">&gt;</span></span></span><br />
        &nbsp; &nbsp; <span class="sc3"><span class="re1">&lt;date<span class="re2">&gt;</span></span></span>2010-08-01<span class="sc3"><span class="re1">&lt;/date<span class="re2">&gt;</span></span></span><br />
        &nbsp; &nbsp; <span class="sc3"><span class="re1">&lt;goal<span class="re2">&gt;</span></span></span>1<span class="sc3"><span class="re1">&lt;/goal<span class="re2">&gt;</span></span></span><br />
        &nbsp; &nbsp; <span class="sc3"><span class="re1">&lt;data<span class="re2">&gt;</span></span></span><br />
        &nbsp; &nbsp; &nbsp; &nbsp; <span class="sc3"><span class="re1">&lt;value<span class="re2">&gt;</span></span></span>1<span class="sc3"><span class="re1">&lt;/value<span class="re2">&gt;</span></span></span><br />
        &nbsp; &nbsp; &nbsp; &nbsp; <span class="sc3"><span class="re1">&lt;text<span class="re2">&gt;</span></span><span class="re1">&lt;/text<span class="re2">&gt;</span></span></span><br />
        &nbsp; &nbsp; <span class="sc3"><span class="re1">&lt;/data<span class="re2">&gt;</span></span></span><br />
        <span class="sc3"><span class="re1">&lt;/root<span class="re2">&gt;</span></span></span></code>
    </blockquote>
    
    <p>
        Request: <kbd>POST http://api.42goals.com/v1/data/$GOAL_ID/$DATE/</kbd><br />
        Description: set data for goal with ID = $goal_id on date = $date<br />
        Parameters: value and/or text (see the table above)<br />
        <code>
            ex: value=1 &amp; text=Some comment
        </code><br />
        Response:
    </p>
    <blockquote>
        <code class="xml">
        ex: POST http://api.42goals.com/v1/data/1/1aug10/<br />
        <span class="sc3"><span class="re1">&lt;?xml</span> <span class="re0">version</span>=<span class="st0">&quot;1.0&quot;</span><span class="re2">?&gt;</span></span><br />
        <span class="sc3"><span class="re1">&lt;root<span class="re2">&gt;</span></span></span><br />
        &nbsp; &nbsp; <span class="sc3"><span class="re1">&lt;date<span class="re2">&gt;</span></span></span>2010-08-01<span class="sc3"><span class="re1">&lt;/date<span class="re2">&gt;</span></span></span><br />
        &nbsp; &nbsp; <span class="sc3"><span class="re1">&lt;goal<span class="re2">&gt;</span></span></span>1<span class="sc3"><span class="re1">&lt;/goal<span class="re2">&gt;</span></span></span><br />
        &nbsp; &nbsp; <span class="sc3"><span class="re1">&lt;data<span class="re2">&gt;</span></span></span><br />
        &nbsp; &nbsp; &nbsp; &nbsp; <span class="sc3"><span class="re1">&lt;value<span class="re2">&gt;</span></span></span>1<span class="sc3"><span class="re1">&lt;/value<span class="re2">&gt;</span></span></span><br />
        &nbsp; &nbsp; &nbsp; &nbsp; <span class="sc3"><span class="re1">&lt;text<span class="re2">&gt;</span></span><span class="re1">&lt;/text<span class="re2">&gt;</span></span></span><br />
        &nbsp; &nbsp; <span class="sc3"><span class="re1">&lt;/data<span class="re2">&gt;</span></span></span><br />
        <span class="sc3"><span class="re1">&lt;/root<span class="re2">&gt;</span></span></span></code>
    </blockquote>

    <p>
        Request: <kbd>GET http://api.42goals.com/v1/data/$GOAL_ID/$DATE1-$DATE2/</kbd><br />
        Description: get data for goal with ID = $goal_id on a period between $date1 and $date2 inclusively<br />
        Parameters: none<br />
        Response:
    </p>
    
    <blockquote>
        <code class="xml">
        ex: GET http://api.42goals.com/v1/data/1/1aug10-3aug10/<br />
        <span class="sc3"><span class="re1">&lt;?xml</span> <span class="re0">version</span>=<span class="st0">&quot;1.0&quot;</span><span class="re2">?&gt;</span></span><br />
        <span class="sc3"><span class="re1">&lt;root<span class="re2">&gt;</span></span></span><br />
        &nbsp; &nbsp; <span class="sc3"><span class="re1">&lt;date<span class="re2">&gt;</span></span></span>2010-08-01--2008-08-03<span class="sc3"><span class="re1">&lt;/date<span class="re2">&gt;</span></span></span><br />
        &nbsp; &nbsp; <span class="sc3"><span class="re1">&lt;goal<span class="re2">&gt;</span></span></span>1<span class="sc3"><span class="re1">&lt;/goal<span class="re2">&gt;</span></span></span><br />
        &nbsp; &nbsp; <span class="sc3"><span class="re1">&lt;data<span class="re2">&gt;</span></span></span><br />
        &nbsp; &nbsp; &nbsp; &nbsp; <span class="sc3"><span class="re1">&lt;date<span class="re2">&gt;</span></span></span>2010-08-01<span class="sc3"><span class="re1">&lt;/date<span class="re2">&gt;</span></span></span><br />
        &nbsp; &nbsp; &nbsp; &nbsp; <span class="sc3"><span class="re1">&lt;value<span class="re2">&gt;</span></span></span>1<span class="sc3"><span class="re1">&lt;/value<span class="re2">&gt;</span></span></span><br />
        &nbsp; &nbsp; &nbsp; &nbsp; <span class="sc3"><span class="re1">&lt;text<span class="re2">&gt;</span></span></span>some comment<span class="sc3"><span class="re1">&lt;/text<span class="re2">&gt;</span></span></span><br />
        &nbsp; &nbsp; <span class="sc3"><span class="re1">&lt;/data<span class="re2">&gt;</span></span></span><br />
        &nbsp; &nbsp; <span class="sc3"><span class="re1">&lt;data<span class="re2">&gt;</span></span></span><br />
        &nbsp; &nbsp; &nbsp; &nbsp; <span class="sc3"><span class="re1">&lt;date<span class="re2">&gt;</span></span></span>2010-08-02<span class="sc3"><span class="re1">&lt;/date<span class="re2">&gt;</span></span></span><br />
        &nbsp; &nbsp; &nbsp; &nbsp; <span class="sc3"><span class="re1">&lt;value<span class="re2">&gt;</span></span></span>2<span class="sc3"><span class="re1">&lt;/value<span class="re2">&gt;</span></span></span><br />
        &nbsp; &nbsp; &nbsp; &nbsp; <span class="sc3"><span class="re1">&lt;text<span class="re2">&gt;</span></span><span class="re1">&lt;/text<span class="re2">&gt;</span></span></span><br />
        &nbsp; &nbsp; <span class="sc3"><span class="re1">&lt;/data<span class="re2">&gt;</span></span></span><br />
        &nbsp; &nbsp; <span class="sc3"><span class="re1">&lt;data<span class="re2">&gt;</span></span></span><br />
        &nbsp; &nbsp; &nbsp; &nbsp; <span class="sc3"><span class="re1">&lt;date<span class="re2">&gt;</span></span></span>2010-08-03<span class="sc3"><span class="re1">&lt;/date<span class="re2">&gt;</span></span></span><br />
        &nbsp; &nbsp; &nbsp; &nbsp; <span class="sc3"><span class="re1">&lt;value<span class="re2">&gt;</span></span></span>3<span class="sc3"><span class="re1">&lt;/value<span class="re2">&gt;</span></span></span><br />
        &nbsp; &nbsp; &nbsp; &nbsp; <span class="sc3"><span class="re1">&lt;text<span class="re2">&gt;</span></span><span class="re1">&lt;/text<span class="re2">&gt;</span></span></span><br />
        &nbsp; &nbsp; <span class="sc3"><span class="re1">&lt;/data<span class="re2">&gt;</span></span></span><br />
        <span class="sc3"><span class="re1">&lt;/root<span class="re2">&gt;</span></span></span></code>
    </blockquote>
        
    <p>
        Request: <kbd>GET http://api.42goals.com/v1/data/$DATE/</kbd><br />
        Description: get data for all user's goals on date = $date<br />
        Parameters: none<br />
        Response:
    </p>
    <blockquote>
        <code class="xml">
        ex: GET http://api.42goals.com/v1/data/1aug10/<br />
        <span class="sc3"><span class="re1">&lt;?xml</span> <span class="re0">version</span>=<span class="st0">&quot;1.0&quot;</span><span class="re2">?&gt;</span></span><br />
        <span class="sc3"><span class="re1">&lt;root<span class="re2">&gt;</span></span></span><br />
        &nbsp; &nbsp; <span class="sc3"><span class="re1">&lt;date<span class="re2">&gt;</span></span></span>2010-08-01<span class="sc3"><span class="re1">&lt;/date<span class="re2">&gt;</span></span></span><br />
        &nbsp; &nbsp; <span class="sc3"><span class="re1">&lt;data<span class="re2">&gt;</span></span></span><br />
        &nbsp; &nbsp; &nbsp; &nbsp; <span class="sc3"><span class="re1">&lt;goal<span class="re2">&gt;</span></span></span>1<span class="sc3"><span class="re1">&lt;/goal<span class="re2">&gt;</span></span></span><br />
        &nbsp; &nbsp; &nbsp; &nbsp; <span class="sc3"><span class="re1">&lt;value<span class="re2">&gt;</span></span></span>1<span class="sc3"><span class="re1">&lt;/value<span class="re2">&gt;</span></span></span><br />
        &nbsp; &nbsp; &nbsp; &nbsp; <span class="sc3"><span class="re1">&lt;text<span class="re2">&gt;</span></span></span>some comment<span class="sc3"><span class="re1">&lt;/text<span class="re2">&gt;</span></span></span><br />
        &nbsp; &nbsp; <span class="sc3"><span class="re1">&lt;/data<span class="re2">&gt;</span></span></span><br />
        &nbsp; &nbsp; <span class="sc3"><span class="re1">&lt;data<span class="re2">&gt;</span></span></span><br />
        &nbsp; &nbsp; &nbsp; &nbsp; <span class="sc3"><span class="re1">&lt;goal<span class="re2">&gt;</span></span></span>2<span class="sc3"><span class="re1">&lt;/goal<span class="re2">&gt;</span></span></span><br />
        &nbsp; &nbsp; &nbsp; &nbsp; <span class="sc3"><span class="re1">&lt;value<span class="re2">&gt;</span></span></span>2<span class="sc3"><span class="re1">&lt;/value<span class="re2">&gt;</span></span></span><br />
        &nbsp; &nbsp; &nbsp; &nbsp; <span class="sc3"><span class="re1">&lt;text<span class="re2">&gt;</span></span><span class="re1">&lt;/text<span class="re2">&gt;</span></span></span><br />
        &nbsp; &nbsp; <span class="sc3"><span class="re1">&lt;/data<span class="re2">&gt;</span></span></span><br />
        &nbsp; &nbsp; <span class="sc3"><span class="re1">&lt;data<span class="re2">&gt;</span></span></span><br />
        &nbsp; &nbsp; &nbsp; &nbsp; <span class="sc3"><span class="re1">&lt;goal<span class="re2">&gt;</span></span></span>3<span class="sc3"><span class="re1">&lt;/goal<span class="re2">&gt;</span></span></span><br />
        &nbsp; &nbsp; &nbsp; &nbsp; <span class="sc3"><span class="re1">&lt;value<span class="re2">&gt;</span></span></span>3<span class="sc3"><span class="re1">&lt;/value<span class="re2">&gt;</span></span></span><br />
        &nbsp; &nbsp; &nbsp; &nbsp; <span class="sc3"><span class="re1">&lt;text<span class="re2">&gt;</span></span><span class="re1">&lt;/text<span class="re2">&gt;</span></span></span><br />
        &nbsp; &nbsp; <span class="sc3"><span class="re1">&lt;/data<span class="re2">&gt;</span></span></span><br />
        <span class="sc3"><span class="re1">&lt;/root<span class="re2">&gt;</span></span></span></code>
    </blockquote>
    
    <p>
        Request: <kbd>GET http://api.42goals.com/v1/data/$DATE1-$DATE2/</kbd><br />
        Description: get data for all user's goals on a period between $date1 and $date2<br /> 
        Parameters: none<br />
        Response:
    </p>
    <blockquote>
        <code class="xml">
        ex: GET http://api.42goals.com/v1/data/1aug10-3aug10/<br />
        <span class="sc3"><span class="re1">&lt;?xml</span> <span class="re0">version</span>=<span class="st0">&quot;1.0&quot;</span><span class="re2">?&gt;</span></span><br />
        <span class="sc3"><span class="re1">&lt;root<span class="re2">&gt;</span></span></span><br />
        &nbsp; &nbsp; <span class="sc3"><span class="re1">&lt;date<span class="re2">&gt;</span></span></span>2010-08-01--2008-08-02<span class="sc3"><span class="re1">&lt;/date<span class="re2">&gt;</span></span></span><br />
        &nbsp; &nbsp; <span class="sc3"><span class="re1">&lt;data<span class="re2">&gt;</span></span></span><br />
        &nbsp; &nbsp; &nbsp; &nbsp; <span class="sc3"><span class="re1">&lt;date<span class="re2">&gt;</span></span></span>2010-08-01<span class="sc3"><span class="re1">&lt;/date<span class="re2">&gt;</span></span></span><br />
        &nbsp; &nbsp; &nbsp; &nbsp; <span class="sc3"><span class="re1">&lt;goal<span class="re2">&gt;</span></span></span>1<span class="sc3"><span class="re1">&lt;/goal<span class="re2">&gt;</span></span></span><br />
        &nbsp; &nbsp; &nbsp; &nbsp; <span class="sc3"><span class="re1">&lt;value<span class="re2">&gt;</span></span></span>1<span class="sc3"><span class="re1">&lt;/value<span class="re2">&gt;</span></span></span><br />
        &nbsp; &nbsp; &nbsp; &nbsp; <span class="sc3"><span class="re1">&lt;text<span class="re2">&gt;</span></span></span>some comment<span class="sc3"><span class="re1">&lt;/text<span class="re2">&gt;</span></span></span><br />
        &nbsp; &nbsp; <span class="sc3"><span class="re1">&lt;/data<span class="re2">&gt;</span></span></span><br />
        &nbsp; &nbsp; <span class="sc3"><span class="re1">&lt;data<span class="re2">&gt;</span></span></span><br />
        &nbsp; &nbsp; &nbsp; &nbsp; <span class="sc3"><span class="re1">&lt;date<span class="re2">&gt;</span></span></span>2010-08-01<span class="sc3"><span class="re1">&lt;/date<span class="re2">&gt;</span></span></span><br />
        &nbsp; &nbsp; &nbsp; &nbsp; <span class="sc3"><span class="re1">&lt;goal<span class="re2">&gt;</span></span></span>2<span class="sc3"><span class="re1">&lt;/goal<span class="re2">&gt;</span></span></span><br />
        &nbsp; &nbsp; &nbsp; &nbsp; <span class="sc3"><span class="re1">&lt;value<span class="re2">&gt;</span></span></span>2<span class="sc3"><span class="re1">&lt;/value<span class="re2">&gt;</span></span></span><br />
        &nbsp; &nbsp; &nbsp; &nbsp; <span class="sc3"><span class="re1">&lt;text<span class="re2">&gt;</span></span></span>some other comment<span class="sc3"><span class="re1">&lt;/text<span class="re2">&gt;</span></span></span><br />
        &nbsp; &nbsp; <span class="sc3"><span class="re1">&lt;/data<span class="re2">&gt;</span></span></span><br />
        &nbsp; &nbsp; <span class="sc3"><span class="re1">&lt;data<span class="re2">&gt;</span></span></span><br />
        &nbsp; &nbsp; &nbsp; &nbsp; <span class="sc3"><span class="re1">&lt;date<span class="re2">&gt;</span></span></span>2010-08-02<span class="sc3"><span class="re1">&lt;/date<span class="re2">&gt;</span></span></span><br />
        &nbsp; &nbsp; &nbsp; &nbsp; <span class="sc3"><span class="re1">&lt;goal<span class="re2">&gt;</span></span></span>1<span class="sc3"><span class="re1">&lt;/goal<span class="re2">&gt;</span></span></span><br />
        &nbsp; &nbsp; &nbsp; &nbsp; <span class="sc3"><span class="re1">&lt;value<span class="re2">&gt;</span></span></span>3<span class="sc3"><span class="re1">&lt;/value<span class="re2">&gt;</span></span></span><br />
        &nbsp; &nbsp; &nbsp; &nbsp; <span class="sc3"><span class="re1">&lt;text<span class="re2">&gt;</span></span><span class="re1">&lt;/text<span class="re2">&gt;</span></span></span><br />
        &nbsp; &nbsp; <span class="sc3"><span class="re1">&lt;/data<span class="re2">&gt;</span></span></span><br />
        &nbsp; &nbsp; <span class="sc3"><span class="re1">&lt;data<span class="re2">&gt;</span></span></span><br />
        &nbsp; &nbsp; &nbsp; &nbsp; <span class="sc3"><span class="re1">&lt;date<span class="re2">&gt;</span></span></span>2010-08-02<span class="sc3"><span class="re1">&lt;/date<span class="re2">&gt;</span></span></span><br />
        &nbsp; &nbsp; &nbsp; &nbsp; <span class="sc3"><span class="re1">&lt;goal<span class="re2">&gt;</span></span></span>2<span class="sc3"><span class="re1">&lt;/goal<span class="re2">&gt;</span></span></span><br />
        &nbsp; &nbsp; &nbsp; &nbsp; <span class="sc3"><span class="re1">&lt;value<span class="re2">&gt;</span></span></span>4<span class="sc3"><span class="re1">&lt;/value<span class="re2">&gt;</span></span></span><br />
        &nbsp; &nbsp; &nbsp; &nbsp; <span class="sc3"><span class="re1">&lt;text<span class="re2">&gt;</span></span><span class="re1">&lt;/text<span class="re2">&gt;</span></span></span><br />
        &nbsp; &nbsp; <span class="sc3"><span class="re1">&lt;/data<span class="re2">&gt;</span></span></span><br />
        <span class="sc3"><span class="re1">&lt;/root<span class="re2">&gt;</span></span></span></code>
    </blockquote>
    
    <h4 id="resources-me">Me</h4>
    
    <p>This request can be used to retrive user's information such as name, login and email.</p>
    
    <p>
        Request: <kbd>GET http://api.42goals.com/v1/me/</kbd><br />
        Description: get information about the current user<br />
        Parameters: none<br />
        Response:
    </p>
    <blockquote>
        <code class="xml"><span class="sc3"><span class="re1">&lt;?xml</span> <span class="re0">version</span>=<span class="st0">&quot;1.0&quot;</span><span class="re2">?&gt;</span></span><br />
        <span class="sc3"><span class="re1">&lt;root<span class="re2">&gt;</span></span></span><br />
        &nbsp; &nbsp; <span class="sc3"><span class="re1">&lt;user<span class="re2">&gt;</span></span></span><br />
        &nbsp; &nbsp; &nbsp; &nbsp; <span class="sc3"><span class="re1">&lt;id<span class="re2">&gt;</span></span></span>1<span class="sc3"><span class="re1">&lt;/id<span class="re2">&gt;</span></span></span><br />
        &nbsp; &nbsp; &nbsp; &nbsp; <span class="sc3"><span class="re1">&lt;login<span class="re2">&gt;</span></span></span>alex<span class="sc3"><span class="re1">&lt;/login<span class="re2">&gt;</span></span></span><br />
        &nbsp; &nbsp; &nbsp; &nbsp; <span class="sc3"><span class="re1">&lt;name<span class="re2">&gt;</span></span></span>Alex Pak<span class="sc3"><span class="re1">&lt;/name<span class="re2">&gt;</span></span></span><br />
        &nbsp; &nbsp; &nbsp; &nbsp; <span class="sc3"><span class="re1">&lt;email<span class="re2">&gt;</span></span></span>irokez@gmail.com<span class="sc3"><span class="re1">&lt;/email<span class="re2">&gt;</span></span></span><br />
        &nbsp; &nbsp; <span class="sc3"><span class="re1">&lt;/user<span class="re2">&gt;</span></span></span><br />
        <span class="sc3"><span class="re1">&lt;/root<span class="re2">&gt;</span></span></span></code>    
    </blockquote>
