{*
<div id="blogroll">
    <h2>{~Our_blog}</h2> 
    <ul>
        <li> 
            <p><a href="http://blog.42goals.com/post/3105203445">We go social!</a></p> 
            <small>15:01 Feb 04</small> 
        </li> 
                <li> 
            <p><a href="http://blog.42goals.com/post/2698666627">From our secret devlab</a></p> 
            <small>15:34 Jan 11</small> 
        </li> 
                <li> 
            <p><a href="http://blog.42goals.com/post/2683788288">Would you guys like to have a profile page like this?</a></p> 
            <small>13:36 Jan 10</small> 
        </li> 
    </ul>
</div>
            
*}
{if $posts}
<div id="blogroll">
    <h2>{~Our_blog}</h2>
    <ul>
        {foreach $posts as $post}
        <li>
            <p><a href="{$post['link']}">{$post['title']}</a></p>
            <small>{$post['time']}</small>
        </li>
        {end}
    </ul>
</div>
{end}

