Здравствуйте, {$user['name']}.

{$Conf.ENV.user.name} хочет добавить вас в друзья.

Вы можете подтвердить запрос: {$host}{@home}users/{$user['login']}/friends/
Иначе, просто проигнорируйте это сообщение
--
Команда 42гола
http://ru.42goals.com