<img src="{if $Conf->ENV->user->thumbnail}{@userpics}{$Conf.ENV.user.thumbnail}{else}{@img}site/no-thumbnail.png{end}" />
<span>{$Conf.ENV.user.name} a accepté de comparer l'objectif "{$data['goal']}"</span>
