Здравствуйте, {$user['name']}.

Вы получили новый комментарий от {$Conf.ENV.user.name}:

"{$data['text']}"

Просмотреть комментарий: {$host}{$url}#comment-{$data['id']}
Ответить: {$host}{$url}#reply-{$data['id']}
--
Команда 42гола
http://ru.42goals.com