{if $packed == 'yes'}
<link type="text/css" rel="stylesheet" href="{@css}cache/{$packed_name}.css" />
{else}
    {foreach $files as $file}
<link type="text/css" rel="stylesheet" href="{$file}" />
    {end}
{end}
<!--[if lt IE 7]>
<link type="text/css" rel="stylesheet" href="{@css}common/ie6.css" />
<![endif]-->