こんにちは {$user['name']},

{$Conf.ENV.user.name}から新しいコメントを受け取りました:

"{$data['text']}"

コメント表示: {$host}{$url}#comment-{$data['id']}
コメント返信: {$host}{$url}#reply-{$data['id']}
--
42goalsチーム
http://42goals.com