<ul id="category-list">
    {foreach $categories as $category}
    <h2>{$category['title']}</h2>
    <ul id="category-templates">
        {foreach $templates as $template}
            {if $template['category'] == $category['id']}
        <li>
            <img src="{$template['icon']}" />
            <a href="{@this}{$category['name']}/{$template['name']}/">{$template['title']}</a>
        </li>
            {end}
        {end}
    </ul>
    {end}
</ul>