{block type="ground"}
    <h1>User Guide</h1>
    <p>
    42goals.com has completed its first draft of its User Guide.  You may download it freely below.  It is currently only offered in PDF format, however, we are working on a WIKI that should be up and running by November, 2012.  Please kindly consider purchasing a premium account to obtain the additional premium features and support the growth of 42goals.com!
    </p>
    
    <h2>The Really Official 42goals User Guide</h2>
    <div id="team">
        <div class="teammate">
            
		<a href="/handlers/static/default/userguide/userguide-v1.0.pdf"><img src="{@img}site/userguide.png" /> </a>
            <h3>PDF Format - Sorry, English Only at Present</h3>
            <cite>A 53-page guide to all the glorious features! Click to <a href="/handlers/static/default/userguide/userguide-v1.0.pdf">download</a> (about 4.8mb)</cite>
<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://http://www.42goals.com/userguide/" data-via="42goals">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>        
</div>
    </div>
    
    <h2 id="for-bloggers">For bloggers</h2>
    <p>
        Are you a blogger and want to write a review on 42goals?
        We will be happy to provide you with a free <a href="{@home}premium/">premium account</a> (in addition to an already <a href="{@home}demo/">free demo page</a>) so you can test our features.
        Just drop us an <a href="mailto:info@42goals.com">email</a> with a link to your blog and maybe some thoughts on what are you going to write about and we will setup an account for you.
        If you are already registered at 42goals, then simply add your username in the email.
    </p>
    
    <h2>Contact info</h2>
    <p>
        Email: <a href="mailto:info@42goals.com">info@42goals.com</a>
        <br />Twitter: <a href="http://twitter.com/42goals">@42goals</a>
        <br /><a href="http://www.facebook.com/42goals">Facebook page</a>
        <br /><a href="http://blog.42goals.com">Our blog</a>
    </p>
{/block}
